[2013-03-22 16:50] Ocramius opened #3 "Missing proxy type: Value holder with partial overrides"
A value holder with partial method overrides needs to localize scope of the proxied object:

[code]

[code]

This allows to override the original class methods by still keeping a reference to the original object. Scope is shared, and the performance impact is reduced by quite a bit.

This was used in `OcraServiceManager` to decorate (and swap out) already existing instances of the service manager.

[2013-03-23 06:03] Ocramius opened #4 "Missing proxy type: Access Interceptor"
Need to implement generators for access interceptors, which will allow to intercept any access to the public API and properties of a class.

[2013-03-23 06:11] Ocramius opened #5 "Missing proxy type: Fallback Value Holder"
A Fallback Value Holder is just a lazy loading object that implements the [Null Object pattern](http://en.wikipedia.org/wiki/Null_Object_pattern) when loading fails.

[2013-03-23 06:16] Ocramius opened #6 "Missing proxy type: Ghost Object"
Need to implement ghost objects similar to [doctrine's proxies](https://github.com/doctrine/common/pull/168)

[2013-03-23 06:18] Ocramius opened #7 "Missing proxy type: Remote proxy"
Need to implement a remote proxy that could communicate with a server-side component like dnode-php.

[2013-03-23 06:24] Ocramius opened #8 "Missing proxy type: Lazy Reference"
A lazy reference is a weak reference to an object, based on either a registry or some memory/performance aware data structure.

Typical use cases are swapping references to objects at runtime or garbage-collecting unused instances with [Weakref](http://php.net/manual/en/book.weakref.php).

[2013-03-24 01:38] Ocramius opened #10 "Proxy name should be differentiated based on the proxy capabilities"
A proxy class intercepting `doFoo` and a proxy class intercepting `doBar` should have different naming to avoid collisions. Same applies for different proxy types. The naming strategies should be tweaked to handle this.

[2013-03-26 06:40] Ocramius opened #12 "Missing proxy type: Async proxy"
Proxies can be made asynchronous by using something like https://github.com/reactphp/promise to override methods being marked as `@return void`

[2013-03-26 11:03] Ocramius opened #13 "Change order of parameters in lazy object initializers"
Lazy object initializers currently have a signature like following:

[code]

`& $realInstance` should be the first parameter to simplify initializers

[2013-03-27 05:45] Ocramius opened #15 "Provide validator tests for the initializer/interceptor closures"
Currently, the initializer and interceptor closures are not checked for validity. Doing it at runtime is a no-go, but allowing the users to test them is acceptable if we provide a test utility that can handle it.

[2013-03-27 06:59] #4 closed, assigned to nobody

[2013-03-27 07:32] Ocramius opened #16 "Lazy initialization should (probably) be denied if a value holder already contains a value"
Currently, lazy initialization happens through following pseudo code:

[code]

It could be enhanced by using following code:

[code]

This disallows invalid usage of the initializer

[2013-03-27 07:43] #13 closed, assigned to nobody

[2013-03-30 10:23] Ocramius opened #19 "Remove overrides of `Zend\Code` and move the hotfixes to Zend Framework 2"
The `ProxyManager\Generator` namespace should be removed, and the fixes should be ported to ZF2 itself.

[2013-03-31 01:33] Ocramius opened #21 "`callable` type introspection for method parameters"
Need to provide a polyfill until zendframework/zf2#4150 and zendframework/zf2#4149 are in

[2013-03-31 04:47] #21 closed, assigned to nobody

[2013-03-31 07:59] Ocramius opened #24 "Evaluating generator strategy should take into account disabled `eval`"
The [`ProxyManager\GeneratorStrategy\EvaluatingGeneratorStrategy`](https://github.com/Ocramius/ProxyManager/blob/master/src/ProxyManager/GeneratorStrategy/EvaluatingGeneratorStrategy.php) should take into account if [`eval()`](http://www.php.net/manual/en/function.eval.php) was disabled because of [`disable_functions`](http://php.net/manual/en/ini.core.php#ini.disable-functions), and should workar

[2013-03-31 11:40] Ocramius opened #25 "Proxying protected methods"
Currently, the library only handles proxying of public properties.

It could be interesting to consider proxying also protected methods, but that's also (obviously) a violation of good OOP, since we then start doing assumptions on the internal API of an object.

It can be useful for debugging purposes though.

Changes required to make this happen are minimal though.

[2013-04-04 17:44] Ocramius opened #26 "ValueHolder reflection properties"
Currently, there is no real way of providing access to the wrapped object's properties without triggering lazy initialization. A custom `ReflectionProperty` implementation could do the trick.

[2013-04-08 23:42] Ocramius opened #27 "Self-Hydrating object"
## Problem

Typical data-mappers require us to save and load objects at a very high speed. A typical approach to handle POPO in data mappers is to use reflection:

[code]
## Solution

Therefore, a hydrating object may be ideal to handle such cases. It may ideally override the constructor and thus handle data like following:

[code]

That would speed up instantiation by quite a bit.
## Limitations

[2013-04-19 15:51] donquixote opened #32 "Alternative approach - feedback?"
Hi Marco,
coming from some discussions on Drupal 8 core development, I came up with my own idea of a "proxy class". I was then pointed here. Now I am trying to figure out how we are different, and why we would do it one or the other way. I imagine you could have some valuable feedback.
http://drupal.org/node/1973618 (code is over there)

The main purpose of a proxy object in Drupal 8 would be with

[2013-04-19 21:29] #27 closed, assigned to nobody

[2013-04-19 22:50] Ocramius opened #33 "Need better project description"
As reported in #32, the aim of ProxyManager is not totally clear to the user from the readme

[2013-04-22 10:38] Ocramius opened #34 "Consider using PHP-Parser instead of Zend\Code"
[PHP-Parser](https://github.com/nikic/PHP-Parser) looks quite good and could simplify code generation by a lot. It is particularly interesting since it allows working with an AST, which allows further optimizations on generated code (when possible).

Right now, [PHP-Parser](https://github.com/nikic/PHP-Parser) is not yet stable, so it's still early to decide what to do.

[2013-04-22 15:18] donquixote opened #35 "Proxy instantiation triggers"
So, you like wild ideas - here you go :)
Coming from https://github.com/Ocramius/ProxyManager/issues/32

Idea:
1. `$proxy->proxyObserveInstantiation($callback)` to register a callback that will trigger when the proxied object instantiates.
2. `$proxy->proxyScheduleOperation($method, $args)` to register a method that to run on the proxied object directly after instantiation.

The typical use cases:

[2013-04-22 21:35] donquixote opened #36 "Disambiguate "generate" and "Generator"."
Hi,
walking through the library, there are some things that jumped to my attention.
I don't know if this can ever be fixed (without breaking bc compatibility), but I mention it nevertheless. Maybe for the next major version.
I also don't know if these are common terms in the class generation business.

The terms "generate" and "Generator" are used a lot in the library.
For different things:
- Prox

[2013-04-26 17:40] Ocramius opened #38 "Add ability to proxy interfaces"
The current generators are unable to proxy interfaces - proxying interfaces would be a big plus in general, since that means no proxying of properties has to necessarily happen.

[2013-05-01 17:42] #38 closed, assigned to nobody

[2013-05-01 17:43] #12 closed, assigned to nobody

[2013-05-01 18:34] #32 closed, assigned to nobody

[2013-05-01 20:07] Ocramius opened #41 "Add example of proxying built around an interface"
As suggested by @donquixote, proxying interfaces is currently not explained well enough in the docs.

Needs new sections in the documentation.

[2013-05-01 23:20] #24 closed, assigned to nobody

[2013-05-13 22:42] Ocramius opened #44 "Generated hydrator does not respect the hydrator interface: does not return a hydrated object"

[2013-05-13 23:00] #44 closed, assigned to Ocramius

[2013-05-18 11:38] #33 closed, assigned to nobody

[2013-06-04 00:14] krymen opened #47 "Hydration of private properties does not work"
Class with at least one private property cannot be hydrated. Error occurs on line 108 in `ProxyManager\Factory\HydratorFactory`:

[code]

[2013-06-04 10:42] Ocramius opened #49 "Move internal implementation from Zend\Code to PHP-Parser"
Moving to PHP-Parser will allow inlining of parent class code, therefore reducing linear overhead and allowing more performance optimizations.

[2013-06-04 10:43] #36 closed, assigned to nobody

[2013-06-04 11:15] #47 closed, assigned to Ocramius

[2013-06-06 05:45] Ocramius opened #51 "Refactor functional tests to use the factories"
Currently, all functional tests emulate the fuctionality built in factories - this is very error prone and should instead use the factories directly to check as many paths as possible.

[2013-06-06 08:49] #34 closed, assigned to nobody

[2013-06-09 12:22] mnapoli opened #53 "ProxyManager configuration: auto generation and autoloader"
I read the [Tuning for production](https://github.com/Ocramius/ProxyManager/blob/master/docs/tuning-for-production.md) doc, but the problem I face is that I can't generate all the proxies beforehand for production.

So I'm wondering what's the best production configuration in this case.

I guess I have to enable autogenerate proxy, but are they _always_ generated (i.e. each time)? A quick look at

[2013-06-09 16:07] #53 closed, assigned to nobody

[2013-06-09 23:01] krymen opened #54 "Can't create hydrator and virtual proxy for the same class"
At the moment there is no possibility to create hydrator proxy (via `HydratorFactory`) and virtual proxy (via `LazyLoadingValueHolderFactory`) for the same class because of one class name inflector instance.

I suggest introducing separate instances of class name inflector for each factory individually ex. with different prefixes.

[2013-06-10 07:41] #54 closed, assigned to nobody

[2013-06-10 18:22] Ocramius opened #55 "Check if `__get` is overloaded correctly when the parent class defines it as byref"
Not (currently) sure if `__get()` is generated correctly if the parent class defines it as `& __get()`. Possible bug.

[2013-06-11 05:59] j opened #56 "Hydrator property mapping."
Hello there!

I have a few features I want to see if you're interested in implementing before I create my own generators.

Basically, I have data I want to hydrate into an object but with different field names.

i.e.)

[code]

This shouldn't be too hard to implement i don't think.  It'd also be nice to extract it back into the shortened fields.  It's just a matter of where to put this configuratio

[2013-06-17 21:48] #6 closed, assigned to nobody

[2013-06-22 18:05] #10 closed, assigned to Ocramius

[2013-06-27 08:32] #55 closed, assigned to Ocramius

[2013-06-27 10:15] Ocramius opened #62 "Generated Hydrators can avoid reflection completely"
It is possible to avoid reflection completely in PHP 5.4 - credits to @asm89 for the initial idea:

[code]

This trick can also be used to support hydration of objects that are instances of a `final` class

A working example can be found at http://3v4l.org/L6PhM

Relevant problems in this implementation are:
- Keep current implementation working with PHP 5.3 (reflection)
- Skip this entire logic w

[2013-06-28 11:10] Ocramius opened #65 "Move generated hydrator to own repository"

[2013-06-28 11:10] Ocramius opened #66 "Move parametrized class generation to own repository"

[2013-06-28 21:18] #51 closed, assigned to Ocramius

[2013-07-01 16:07] leedavis81 opened #68 "Private variable access on a AccessInterceptorValueHolderFactory proxy class throws an error"
Whenever attempting to read / write to a private variable execution stops and an error is thrown.

Not entirely sure if you'd want to keep this behaviour, or possibly throw an exception?

Execution stops when attempting to set $foo->privateProperty = 'Baz';

[code]

[2013-07-07 13:35] #68 closed, assigned to nobody

[2013-07-27 17:08] #56 closed, assigned to nobody

[2013-07-27 17:14] Ocramius opened #72 "Object Prototypes - extending objects at runtime"
Using the access interceptor logic (or similar logic) it should be quite easy to implement object prototypes.

An example DSL for object prototypes in PHP would be like following:

[code]

Additionally, a prototype may also implement some additional interfaces on the wrapper at runtime, which probably calls for a `PrototypeDefinition` class or builder. This can be useful when we want to extend an

[2013-08-02 21:44] #62 closed, assigned to nobody

[2013-08-12 17:10] donquixote opened #74 "Container proxy?"
Hi!
I am not sure this fits here..

On a Drupal module I maintain, I introduced a mini-DIC, that is, a container with a factory.

For services:
https://github.com/donquixote/drupal-crumbs/blob/7.x-2.x/lib/Container/LazyServices.php
https://github.com/donquixote/drupal-crumbs/blob/7.x-2.x/lib/ServiceFactory.php

For data:
https://github.com/donquixote/drupal-crumbs/blob/7.x-2.x/lib/Container/LazyDa

[2013-08-12 17:22] #74 closed, assigned to nobody

[2013-08-20 02:03] #35 closed, assigned to nobody

[2013-08-22 17:02] jeremylivingston opened #76 "Proxying Core PHP Classes"
It seems that it's currently not possible to proxy a core PHP class like \SoapClient.

When I attempt to do this, the call to Zend\Code\Reflection\MethodReflection::getFilename() ends up returning false within the call to getContents(). In the documentation for this method, it states that core PHP classes will always return false.

This leads to my next question: Will this functionality ever be po

[2013-08-23 00:40] Ocramius opened #77 "Evaluate chance to skip calling parent methods when logic is fairly simple"
When the logic of a method (for example a getter or a setter) is fairly simple, we can skip calling the parent method and just copy-paste the logic in the child class.

That's very dangerous though, and may need some evaluation.

[2013-08-26 07:08] peterrehm opened #78 "Update symfony docs"
Once 0.5 is stable, the symfony-docs entry has to be updated.

http://symfony.com/doc/current/components/dependency_injection/lazy_services.html

[2013-08-26 08:11] #78 closed, assigned to nobody

[2013-08-28 01:29] Ocramius opened #79 "Evaluate possible ways to discover default method parameter values in internal objects"
PHP Internal objects (not implemented in PHP userland) have non-accessible method parameter defaults. That is a problem and causes exceptions to be thrown when trying to proxy an internal class.

[2013-08-28 19:06] jeremylivingston opened #81 "Handle Initialization Failures"
The current lazy loading code sets the initializer to null **before** the instance is initialized:

[code]

In cases where the constructor for this object could throw an exception, subsequent method calls on this object will attempt to run on a null object.

I feel that the ProxyInitializer should be set to null **after** the object is initialized. This way other method calls will attempt to initi

[2013-08-28 19:14] #81 closed, assigned to nobody

[2013-09-15 01:55] #5 closed, assigned to nobody

[2013-09-20 00:19] Ocramius opened #93 "Move remote proxies to separate repository"
@blanchonvincent has a PoC of remote proxies in #92. While the idea is kind-of neat, I'm not sure if we want to provide a separate repository for that functionality, or if we want to just keep the dependencies optional within ProxyManager

[2013-09-27 22:43] Ocramius opened #96 "Examples don't need `$configuration` anymore."
As of #86, configuration is not required for factories anymore.

Two things can therefore be done:
- remove the `$config` or `$configuration` instantiation from examples (where relevant)
- make the default generator strategy the [`EvaluatingGeneratorStrategy`](https://github.com/Ocramius/ProxyManager/blob/0.4.1/src/ProxyManager/GeneratorStrategy/EvaluatingGeneratorStrategy.php) to avoid any file c

[2013-09-27 22:52] Ocramius opened #97 "Private properties of superclasses are not considered when generating proxies"
Given following classes:

[code]

`ReflectionClass` [won't expose `$foo` when dumping reflection properties of `Bar`](http://3v4l.org/v3f96):

[code]

That has to be carefully checked against the current usage of `ReflectionClass#getProperties()` within the ProxyManager codebase.

[2013-09-28 19:02] #93 closed, assigned to nobody

[2013-09-29 21:11] Ocramius opened #98 "Missing examples for access interceptor and scope localizer access interceptor"

[2013-09-29 22:11] #65 closed, assigned to nobody

[2013-09-29 22:11] #3 closed, assigned to nobody

[2013-09-29 22:12] #26 closed, assigned to nobody

[2013-09-29 22:13] #41 closed, assigned to nobody

[2013-10-01 22:08] blanchonvincent opened #101 "Idea with proxy generator -- overloading php methods"
@Ocramius Have a look : https://github.com/blanchonvincent/ProxyManager/blob/feature/proxy-overloading/tests/language-feature-scripts/overloading-object.phpt

I don't know if it's can integrate the project, but it's funny :)

[2013-10-02 10:37] #101 closed, assigned to nobody

[2013-10-03 11:40] Ocramius opened #105 "Make the evaluating generator strategy a default"
The current generator strategy dumps files into the `/tmp` directory, and is unsafe if the users of ProxyManager don't carefully set a different path per application.

I suggest making the `EvaluatingGeneratorStrategy` a default.

[2013-10-05 01:15] #98 closed, assigned to nobody

[2013-10-10 16:33] #96 closed, assigned to nobody

[2013-10-20 13:24] #7 closed, assigned to nobody

[2013-10-22 17:18] Pittiplatsch opened #112 "Ghost Proxy: Constructor of base object"
Trying to integrate GhostProxies into our ORM, we need the base object's constructor to be called before "createProxy"'s closure being executed, as this constructor prepares the object for operations we want to perform within the "createProxy" closure.

How do we do that? Due to lacking access to the base object within the closure we also cannot call the constructor explicitly (which would be quit

[2013-10-22 19:23] #112 closed, assigned to nobody

[2013-10-27 00:49] Ocramius opened #113 "Logo"
Just because I alreade have an idea :)

[2013-11-05 10:15] Pittiplatsch opened #115 "RFC: Recited: Give me my constructor back"
In addition to #112, I already discussed possible solutions to this problem with @Ocramius, and in coordination with him ask hereby for comments.

---

Given an architecture of entity models, which heavily uses entity's constructors:
- to fill initial data
- to do entity-related initialization,

this collides with the current ghost proxy implementation which uses constructor injection for passing

[2013-11-06 23:09] Ocramius opened #116 "Proxies don't retain properties defaults"
Lazy-Loading proxies (especially ghost objects) don't retain properties defaults if the initializer isn't handling them.

[code]

With this example, property `Foo#bar` will be empty after an empty initializer is triggered.

[2013-11-09 21:52] #113 closed, assigned to Ocramius

[2013-11-11 04:02] blanchonvincent opened #118 "Console proxies generation"
Hi @Ocramius,

Do you think it can be interesting to work on a console proxies generation :

[code]

Something like this ?

[2013-11-12 00:39] #118 closed, assigned to nobody

[2013-11-14 03:38] blanchonvincent opened #119 "Remote Object and lazy loading"
With my new team, I want to pilot a REST API with the RemoteObject Proxy.

I create a gateway like this :

[code]

And automatically, remote call `/users/1` with GET HTTP method and the result is a `User` object.

BUt, now, with the user I want to call the `getBookings` method BUT I want to keep object value. Example :

[code]

Currently, we cannot choose remote call AND pilot the wrapped object.

[2013-11-15 00:55] blanchonvincent opened #120 "FQCN and the GhostFactory"
[code]

FQCN seems have bug (`\` duplication) -- ClassNameInflector::getUserClassName issue ?

[code]

[2013-11-15 02:45] #119 closed, assigned to nobody

[2013-11-17 14:43] #120 closed, assigned to nobody

[2013-11-29 00:23] #116 closed, assigned to nobody

[2013-11-30 01:30] Ocramius opened #127 "Compatibility with HHVM"
- [x] facebook/hhvm#1363
- [x] facebook/hhvm#1203
- [x] facebook/hhvm#1565
- [x] facebook/hhvm#1793
- [x] facebook/hhvm#1930
- [x] facebook/hhvm#2055
- [x] ~~facebook/hhvm#1600~~
- [x] facebook/hhvm#2057
- [x] remove workarounds implemented via `defined('HHVM_VERSION')` - #170

[2013-11-30 01:31] Ocramius opened #128 "Removal of PHP 5.3 support"

[2013-12-15 14:30] pdobrigkeit opened #132 ""File name too long" trouble"
I am running into strange problems that might be related to my development system setup, but I keep getting Problems while generating ProxyClasses.

`PHP Warning:  file_put_contents(/var/www/data/cache/proxies/ProxyManagerGeneratedProxy__PM__GoalioDoctrineMappingDriverData          baseDriverYToxOntzOjc6ImZhY3RvcnkiO3M6NTA6IlByb3h5TWFuYWdlclxGYWN0b3J5XExhenlMb2FkaW5nVmFsdWVIb2xkZXJGYWN0b3J5Ijt9.ph

[2013-12-17 18:30] samayo opened #134 "e_not_noob_friendly_enough"
Can you write a very noob friendly summary so we can use it or learn what it does at-least? I am really curious about this, and I want to get my hands on it.

[2013-12-17 19:21] #134 closed, assigned to nobody

[2014-01-08 20:57] mnapoli opened #137 "Configuration:: setAutoGenerateProxies() deprecated"
Since 0.5, `Configuration::setAutoGenerateProxies()` is deprecated: https://github.com/Ocramius/ProxyManager/blob/master/src/ProxyManager/Configuration.php#L64

Does that mean that it's always `true` now? I.e., proxies are auto-generated when missing? (that's what I got from the code, but I wanted to be sure, the deprecation message is not explicit)

[2014-01-08 21:04] #137 closed, assigned to nobody

[2014-01-27 18:10] ionafan2 opened #139 "class_exists check in the ProxyManager\Factory\AbstractBaseFactory::generateProxy trying autoload class that doesn't exist yet"
in the manual http://php.net/manual/en/function.class-exists.php says
that the autoload parameter is true by default

if i'm right the Proxy Classes don't exists by default

in this part of code

[code]

The class_exists calling will try to load nonexistent proxy class and it will make error.

[2014-01-27 19:47] #139 closed, assigned to Ocramius

[2014-01-28 13:05] Ocramius opened #140 "Fix PHPT tests (depends on sebastianbergmann/phpunit#1115)"
See sebastianbergmann/phpunit#1115

[2014-02-05 18:48] #132 closed, assigned to nobody

[2014-02-11 17:47] #140 closed, assigned to Ocramius

[2014-02-12 02:18] Ocramius opened #147 "Trait's "as" statement not imported correctly"
See https://gist.github.com/Pittiplatsch/812e0cf1fa15660e78d6 - will extend the issue details once I've written tests for it.

/cc @Pittiplatsch

[2014-02-12 15:17] Ocramius opened #148 "Add PHP 5.6 support"

[2014-02-14 08:10] Ocramius opened #150 ""too many arguments" reported by HHVM inspections"
see https://scrutinizer-ci.com/g/Ocramius/ProxyManager/inspections/f412b528-3663-4672-985f-10de755c60b3/issues/files/tests/ProxyManagerTest/Factory/RemoteObjectFactoryTest.php?status=existing&orderField=path&order=asc#inspectioncomment-31129900

[2014-02-14 08:13] #148 closed, assigned to nobody

[2014-02-14 08:14] #150 closed, assigned to nobody

[2014-03-09 21:27] Ocramius opened #152 "Rewrite Ghost Objects to only rely on property lazy loading"
The current approach of ghost objects is to lazy-load the object when the public API of the object is hit.

This involves that a lot of logic is under-optimized and can cause lazy-initialization even when not needed (for example, when accessing API that doesn't fetch internal object state, or that doesn't rely on the object's lazyness).

To mitigate that, public API lazy loading shall be completel

[2014-03-12 13:48] #76 closed, assigned to Ocramius

[2014-03-17 21:58] #79 closed, assigned to Ocramius

[2014-03-25 08:41] staabm opened #158 "reflection pooling"
this might be worth a look
https://github.com/rdlowrey/Auryn/blob/master/lib/ReflectionPool.php

its a implementation which caches results of reflection calls to speed it up.

[2014-03-25 12:18] #158 closed, assigned to Ocramius

[2014-03-28 13:30] #19 closed, assigned to Ocramius

[2014-03-29 20:01] Ocramius opened #159 "Ideas/considerations for GhostObject Proxies lazy loading"
See #152

A couple of considerations to be applied:
- the proxy does not need to re-implement any public API of the object at all
- the only methods to be implemented are `__get`, `__set`, `__isset` and `__unset`. Maybe also `__sleep` and `__wakeup`, but only to clear/reset initializers
- public, protected and private properties have to be stored separately in order to be able to allow or deny acc

[2014-04-08 02:29] #8 closed, assigned to Ocramius

[2014-04-14 16:14] prolic opened #161 "Generated filenames are too long for windows machines"
E.g. the filename
ProxyManagerGeneratedProxy__PM__SomeNewWebPortalFormLoginYToxOntzOjc6ImZhY3RvcnkiO3M6NTA6IlByb3h5TWFuYWdlclxGYWN0b3J5XExhenlMb2FkaW5nVmFsdWVIb2xkZXJGYWN0b3J5Ijt9.php.534c08ae449bd1.92406961

is way too long, to be stored on a windows machine as filename.

[2014-04-14 16:46] #161 closed, assigned to Ocramius

[2014-04-14 21:48] Ocramius opened #162 "Better support for internal PHP classes default parameters"
As @guilhermeblanco suggested, we can fully support internal PHP classes methods' default parameter values by using a trick like following.

Assuming this is an internal php class, and that we cannot discover the default value for `$foo` via reflection:

[code]

This code should become like following in the proxy:

[code]

That will allow us to fully support default values in proxies for internal

[2014-05-19 18:38] mimol91 opened #164 "Seperate Initializators for methods."
Hello. I am wondering how to set different initializers for methods.
For example methods getName needs to get data form DB, and getSurname needs to get data from external RESTful service.

Obviously I can fetch this data on getName or getSurname, but sometimes I dont need to know surname.

Can You tell me if there is a better way to achieve that than my solution

[code]

[2014-05-19 18:46] #164 closed, assigned to Ocramius

[2014-06-20 13:28] Ocramius opened #167 "Drop PHP 5.4 support"

[2014-08-05 13:37] #77 closed, assigned to Ocramius

[2014-09-23 12:11] #127 closed, assigned to Ocramius

[2014-09-28 14:18] #16 closed, assigned to nobody

[2014-10-01 17:59] Ocramius opened #177 "Add variadics support"

[2014-10-01 17:59] Ocramius opened #178 "Verify type-safety with `self` and `static` type-hints"

[2014-10-02 12:46] litvinok opened #179 "Unterminated comment"
I've got php warning after update `zendframework/zend-code` to  2.3.2 or greater. Stack trace is below:

[code]

[2014-10-04 23:57] #178 closed, assigned to Ocramius

[2014-10-04 23:59] #147 closed, assigned to Ocramius

[2014-10-05 00:30] Ocramius opened #181 "Documentation should be released on github pages on the `gh-pages` branch."

[2014-10-08 01:30] #181 closed, assigned to Ocramius

[2014-10-08 01:34] Ocramius opened #183 "Add syntax highlighting to HTML documentation"

[2014-10-08 01:36] Ocramius opened #184 "Split documentation homepage into a "features" page, remove duplicate content"

[2014-10-08 01:39] Ocramius opened #185 "Add link to documentation to the README.md, eventually consider cleaning README.md"

[2014-10-08 01:54] Ocramius opened #186 "Remove deprecated `ProxyManager\Configuration#setAutoGenerateProxies()`"
Remove deprecated methods:
- `ProxyManager\Configuration#setAutoGenerateProxies()`
- `ProxyManager\Configuration#getAutoGenerateProxies()`

[2014-10-18 06:38] jmalloc opened #187 "Proxy generation fails if magic methods are marked as final."
The `PDO::__wakeup()` method is marked as final, but it looks like the final flag of magic methods is not checked as it is for other methods. Hence the code below produces a fatal error:

[code]

[code]

[2014-10-20 18:17] starker-xp opened #188 "Unable to render template "proxy-manager-generated-proxy""
After reading a presentation on Slideshare about ZF3 (http://fr.slideshare.net/blanchonvincent/zf3-introduction, page 18/19), I wanted to integrate the "lazy loading" with the "proxy manager". I happen to secure with this error:
`Unable to render template "proxy-manager-generated-proxy/y-tox-ontz-ojc6-im-zh-y3-rvcnki-o3-m6-ndq6-il-byb3h5-tw-fu-y-wdlclx-gywn0b3-j5-x-exhenl-mb2-fka-w5n-r2hvc3-rgywn0

[2014-10-20 18:34] #188 closed, assigned to Ocramius

[2014-10-23 21:35] #187 closed, assigned to Ocramius

[2014-10-25 02:11] #185 closed, assigned to nobody

[2014-11-08 16:54] Ocramius opened #195 "Blogpost about 1.0.0, 2.0.0 and stability frames"
/cc @malukenho

[2014-11-12 10:15] Ocramius opened #196 "Define maintainance time-frames (stable/oldstable/etc)"

[2014-11-17 18:18] #183 closed, assigned to Ocramius

[2014-12-11 20:35] #195 closed, assigned to Ocramius

[2014-12-11 20:42] #196 closed, assigned to Ocramius

[2014-12-14 02:04] #115 closed, assigned to Ocramius

[2014-12-14 02:08] #186 closed, assigned to Ocramius

[2014-12-14 02:17] #128 closed, assigned to Ocramius

[2014-12-14 04:32] #184 closed, assigned to Ocramius

[2014-12-14 06:09] #167 closed, assigned to Ocramius

[2014-12-14 21:13] Ocramius opened #206 "Handle proxying of classes with one or more `abstract protected` method"
`abstract protected` is a strong signal that an implementation detail of a proxy may be missing, therefore `ProxyManager` should throw an exception in case such a method is met.

[2014-12-15 17:03] Ocramius opened #207 "Consider wrapping generator properties passed to generator methods in `Context` DTOs"
As per https://github.com/Ocramius/ProxyManager/pull/192#discussion_r21837531, there is some parameters duplication coming from repeated passing of context to generated methods.

This suggests that a lot of operations are being repeated without any need.

[2014-12-15 17:04] Ocramius opened #208 "Document new `GhostObject` behavior (property lazy-loading, by-ref initialization)"
See features introduced in #192

[2014-12-15 17:16] #159 closed, assigned to Ocramius

[2014-12-15 17:17] #152 closed, assigned to Ocramius

[2014-12-16 07:16] Ocramius opened #210 "HHVM compatibility"
- [x] current `master` fatals because of the new `GhostObject` implementation based on `Closure::bind()` awesomeness
- [x] facebook/hhvm#4465
- [ ] facebook/hhvm#4560

[2014-12-16 07:17] #105 closed, assigned to Ocramius

[2014-12-18 08:42] Ocramius opened #212 "Allow skipping properties in `LazyLoadingGhost` for partial initialization"
In order to use lazy loading ghost objects in different contexts, we may need to allow partial initialization as well.

One way to do that is to generate different proxy classes for different sets of properties being requested to be skipped from following lazy-loading semantics.

 A possible API implementation may look like following:

[code]

A possible usage may be like following:

[code]

In or

[2014-12-23 23:40] #206 closed, assigned to Ocramius

[2015-01-02 15:20] Ocramius commented on #97
Handled in #218

[2015-01-02 15:20] #97 closed

[2015-01-08 06:39] Ocramius commented on #212
Handled in #221

[2015-01-08 06:39] #212 closed

[2015-01-09 12:40] Ocramius opened #223 "Support passing an interface name to the `AccessInterceptorValueHolderFactory`"
As of current implementation, the [`AccessInterceptorValueHolderFactory`](https://github.com/Ocramius/ProxyManager/blob/dc430d2edd953468ec5320a1370066bc1d96022d/src/ProxyManager/Factory/AccessInterceptorValueHolderFactory.php#L45) only accepts an instance of the object to be wrapped.

An interface should also be allowed, in order to avoid implementing API that is not supposed to be accessible for

[2015-01-09 20:36] Ocramius opened #224 "Disable private/protected property checks during lazy loading initialization of GhostObjects"
While lazy-loading is happening, the GhostObject logic doesn't need to check any property access in [`__get`](https://github.com/Ocramius/ProxyManager/blob/dc430d2edd953468ec5320a1370066bc1d96022d/src/ProxyManager/ProxyGenerator/LazyLoadingGhost/MethodGenerator/MagicGet.php#L49-L95), `__set`, `__isset` or `__unset` operations, as that would be useless overhead.

Those checks need to be re-enabled

[2015-01-09 20:45] Ocramius commented on #224
This may also fix #210 for now, as HHVM would not rely on closure access to private properties during initialization

[2015-01-09 22:12] Ocramius commented on #224
Handled in #225

[2015-01-09 22:12] #224 closed

[2015-01-14 16:09] malukenho opened #226 "Avoid duplication on Generators class"
As we know, today we have code duplication in the configuration of classes "Generators".
[code]

I thinking in anything as a factory to generate values by values passed previously as follow example:
[code]

ping @Ocramius

[2015-01-14 16:10] Ocramius commented on #226
@malukenho I'm thinking of `GeneratorContext` instead, and adding specific getters to it. Thoughts?

[2015-01-14 16:13] Ocramius commented on #226
Absolutely no setters, that's also something that I want to make clear.

[2015-01-14 16:13] malukenho commented on #226
@Ocramius At the end there is the same? Has any advantage in `get` approach?

[2015-01-14 16:15] Ocramius commented on #226
@malukenho I'm not sure if there's an advantage, to be honest.

[2015-01-14 16:20] malukenho commented on #226
OK @Ocramius.
But I thinks Its not avoid the duplication.

[code]

[2015-01-14 16:21] Ocramius commented on #226
It doesn't need to be an abstract catch-all solution, it can be written only for generators where it makes sense

[2015-01-19 11:27] inanzzz opened #228 "PHP Fatal error: Class '....PheanstalkProxyInterface' not found in '....ParameterGenerator.php'"
Hi,

I'm not sure if whether this is related to Ocramius or Leezy but when I try to install one or both of these packages with composer I'm getting error below. I tried certain version numbers for both packages but for some reason error won't go away. Any reason why?

Thanks

[code]

[2015-01-19 11:28] blanchonvincent commented on #228
@inanzzz it seems not related to the proxy manager. Check your autoloading :)

[2015-01-19 11:32] inanzzz commented on #228
What should I check about autoloading or how should it be?

This is my current one in composer.json:
[code]

[2015-01-19 11:32] Ocramius commented on #228
This is usually caused by something like following:

http://3v4l.org/FHMqM

Copied here for reference:

[code]

[2015-01-19 11:32] #228 closed

[2015-01-19 11:34] inanzzz commented on #228
I've just read it but what should I do in order to sort this issue?

[2015-01-19 16:31] wpillar opened #229 "Unnecessary doc block reflection"
Was doing some profiling of an application that uses this library and noticed that this block of code: https://github.com/Ocramius/ProxyManager/blob/master/src/ProxyManager/Generator/MethodGenerator.php#L67-69 is one of the most expensive in my request cycle.

Upon further inspection, in my particular call stack, I noticed that the parent that calls `MethodGenerator::fromReflection()` is https://g

[2015-01-19 17:54] Ocramius commented on #229
@wpillar this library does make heavy usage of reflection: code generation can be very slow, and we don't aim at optimizing it.

Instead, the generated code should be cached as explained in https://github.com/Ocramius/ProxyManager/blob/e1c4f811d3c4f89ea1fad9de7fb12cfb82fae813/docs/tuning-for-production.md

Consider trying that first :-)

[2015-01-19 17:56] Ocramius commented on #228
@inanzzz the problem with your example is that `PheanstalkProxyInterface` seems to not exist or be incorrectly namespaced.

[2015-02-04 04:16] malukenho opened #231 "Error when run tests"
Hey @Ocramius,
I got the follow error when try to run tests.

[code]

[2015-02-04 08:56] Ocramius commented on #231
This is actually quite normal when running performance tests. 128Mb are not sufficient to run the test suite.

[2015-02-04 08:56] #231 closed

[2015-02-05 00:35] #229 closed

[2015-03-24 16:14] HappyRay commented on #25
Hi @Ocramius

I am using your library for my tool ( not open sourced yet ) to intercept calls to mock objects.

To support partial mocking, I need the ability to intercept protected method calls. Currently, I am forced to implement myself some of the features you have done.

I understand partial mocking can be abused to violate good OOP. But there are legitimate usages of it although infrequent. F

[2015-03-24 16:25] Ocramius commented on #25
@HappyRay it can be done, but the problem still remains: why would we do that? What is the exact use-case that cannot be replicated with public API?

[2015-03-24 18:11] HappyRay commented on #25
@Ocramius thanks for the quick response.

My project is not open sourced yet. So it is a bit hard to explain without enough context. Let me try to add a bit more information to the example I mentioned above:

"For example, partial mocking support is needed when one public method calls another protected method of the same class and the developer wants to mock out the protected method.
"
I'd like to

[2015-03-24 18:15] Ocramius commented on #25
Yes, but I don't know of a use-case where I would mock `protected` API instead of `public` API...

[2015-03-24 20:38] HappyRay commented on #25
I can understand your hesitation. I encouraged my target users that it is best to test public methods only. However I find it a difficult task trying to change people's habit. In order to get my target users to take advantage of my tool, I decided to support the usage if they insist, while I am still actively discouraging people to do so.

[2015-03-24 21:06] Ocramius commented on #25
I just checked around and I cannot implement this effectively, as it would only work with the scope localizer proxies, and with no wrappers

[2015-03-25 00:24] HappyRay commented on #25
Got it. Thanks for looking into this.

[2015-03-25 00:30] HappyRay opened #235 "Exception thrown when mocking a class that uses as operator to resolve trait method name conflicts."
Here is an example code

[code]

Running the script above generates the following error:

[code]
#

Possible cause:

The issue seems to affect the ProxyManager's ability to mock classes that uses as operator to resolve trait method name conflicts.
See  http://php.net/manual/en/language.oop5.traits.php conflict resolution section for details about the operator usage.

\ProxyManager\ProxyGenerator\R

[2015-03-25 00:36] Ocramius commented on #235
Possibly related: #179

[2015-03-25 00:36] Ocramius commented on #235
See also https://bugs.php.net/bug.php?id=64963

[2015-03-28 04:08] malukenho opened #236 "Support for methods from suffixes and prefixes."
I think it is a good idea to support the proxy methods beginning or ending with certain word. For example, we have a very heavy class, and its most corrosive methods are the ones that start with `fetch *`, we can easily and at once carry out the operation without duplicating code.

[2015-04-04 23:24] Ocramius commented on #236
As per discussion, the idea that @malukenho had is to allow things such as

[code]

While I like the idea, it seems like a needless addition to me

[2015-04-05 00:15] malukenho commented on #236
@Ocramius I think in anything as:

[code]

[2015-04-05 00:17] Ocramius commented on #236
Yeah, it's just that this sort of code can be implemented by wrapping another factory around it instead :)

[2015-04-08 12:07] Ocramius opened #240 "Support scalar type hints (PHP 7)"

[2015-04-09 11:01] lisachenko commented on #240
:+1:

[2015-04-09 13:48] malukenho commented on #240
:clap: :+1:

[2015-04-25 14:36] malukenho commented on #240
Linking #241

[2015-04-26 06:31] robfrawley commented on #240
:+1: !!!!!

[2015-04-26 06:32] robfrawley commented on #49
:+1:  omg, yes - please! Need help? ;-)

[2015-04-26 13:27] malukenho commented on #49
@robfrawley fell free to send PRs :smile:

[2015-04-26 21:50] Ocramius commented on #49
I'm not sure if this is interesting/viable anymore.

There is no clear advantage in using PHP-Parser unless very obvious automated optimizations can be applied.

[2015-04-30 17:39] DHager commented on #179
Just encountered this problem in the wild... It turns out this thread is the only google-result for "extractMethodContents traits". In my case I'm using traits on an object which is being lazy-loaded by PHP-DI, which uses ProxyManager.

Here's hoping the PHP bug is fixed.

[2015-04-30 17:45] Ocramius commented on #179
Can anyone provide a test case for this one?

[2015-04-30 17:59] DHager commented on #179
You mean, just so that you find out when/if the underlying core PHP bug is finally fixed?

Or to guide some sort of workaround within ProxyManager?

[2015-04-30 18:04] Ocramius commented on #179
Just a test case exposing the bug in ProxyManager would allow searching for a solution first, regardless of how correct it may be.

[2015-04-30 21:59] DHager commented on #179
OK, I wasn't able to reproduce the same issue inside the tests for ProxyManager, and I think it's because composer is pulling in `zendframework/zend-code` version 2.4.0, which seems to have fixed (or worked around) the issue compared to 2.3.4 where I was having problems.

Specifically, `MethodReflection::extractMethodContents()` uses a slightly different tactic for determining which file contains

[2015-05-05 00:09] malukenho opened #242 "Proxies definitions"
Hi everyone,
I've been thinking about proxy definitions with object-oriented approach. The main objective of facilitating long term maintenance and can separate our proxies below a namespace, to facilitate use in some architectures.

So basically my idea is to have classes that define a proxy. And so we can generate from these previously written definitions.

[code]
#### Example of a proxy definit

[2015-05-05 00:11] Ocramius commented on #242
Few things:

 - the initial idea is good
 - the `__invoke` stuff should just disappear for now (a proxy definition is too broad to simplify it into a `callable`)
 - do we need one proxy definition per proxy type? Can we instead let ProxyManager decide which implementation to use based on passed in definition options?

[2015-05-05 00:16] malukenho commented on #242
@Ocramius I think the user can write a definition to use, force a definition or just leave ProxyManager decide what use.

[2015-05-05 00:18] Ocramius commented on #242
Can you provide a practical example on how this sort of API would be used?

To be specific, the current API is:

[code]

How can we improve this particular API?

[2015-05-21 21:20] DHager commented on #147
@Ocramius : As referenced [here](https://github.com/Ocramius/ProxyManager/issues/179#issuecomment-97982995), I encountered the  zendframework/zf2#6620 bug, and it seems to have been solved by forcing an dependency of `"zendframework/zend-code": ">=2.4.0"` within my project.

However, it's just a hack, since my top-level project doesn't directly need/use `zendframework/zend-code`. Perhaps a future

[2015-07-05 22:06] Ocramius commented on #49
Note: can easily be fixed if Roave/BetterReflection#39 is carefully checked

[2015-07-06 10:14] lisachenko commented on #49
I also working on parser-reflection, working concept is ready. Main feature: all classes will extend original ones, so all existing libraries can work with them. Initialization will be compatible too: `new ParserReflection\ReflectionClass(SomeClass::class)`

[2015-07-06 10:19] Ocramius commented on #49
Yeap, BetterReflection does that as well, but @asgrim is pretty much
working on it full time, so I suggest joining him on it ;-)

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 6 July 2015 at 11:14, Alexander Lisachenko <notifications@github.com>
wrote:

[2015-07-06 10:45] lisachenko commented on #49
No, according to the https://github.com/Roave/BetterReflection/blob/master/src/Reflection/ReflectionClass.php#L11, his classes don't extend original ones, just implements an interface which looks like reflection, so I can't accept this solution for my needs. I need to reflect code transparently, like traditional reflection classes do.

[2015-07-06 10:51] asgrim commented on #49
@lisachenko I'm planning on creating an adapter to make this possible, see Roave/BetterReflection#18

[2015-07-17 15:01] jordi12100 opened #244 "Proxy Manager generated proxy class doesn't exist (ReflectionException)"
The following exception below is thrown in production environment. Development works fine without any issues/exceptions.

[code]

We use ProxyManager for Lazy loading services in ZF2. Temporary setting the write_proxy_files to false fixed the issue, but will slow down the application.

The files are written to the correct location, loading the file causes the crashes. May be an autoloading issue?

[2015-07-17 15:36] Ocramius commented on #244
I would check if https://github.com/Ocramius/ProxyManager/blob/1.0.0/src/ProxyManager/Factory/AbstractBaseFactory.php#L75 is reached.

Also check that `__DIR__` (should be uppercase) and the existence of the proxy files

[2015-08-08 07:54] twmobius opened #249 "Weird problem with FileWriterGeneratorStrategy"
I woke up this morning and I found that my apache log was flooded with the following message:

[code]

What I am guessing might have happened is the following (I am not 100% sure on how the internals of ProxyManager work):

At some point ProxyManager created Proxy ```/tmp/ProxyManagerGeneratedProxy__PM__ZendDbResultSetHydratingResultSetGenerated7640b9c8ec8fac4079226d15bfdee2bc.php``` which for som

[2015-08-08 15:37] Ocramius commented on #249
Ouch, sorry about that.

I suggest looking at root's `crontab` and verifying if there are any task run by `root` that may have caused the issue.

This is the actual bug: the library should remove the file if rename fails.

Same as above: if `rename` fails, there should be some sort of fallback

[2015-08-08 17:11] Ocramius commented on #249
I've provided a patch in #250, please review.

[2015-08-09 22:27] Ocramius commented on #249
Closing this bug: #250 and #251 should have fixed it.
I'll tag 1.0.1 with this bugfix.

Note that the introduced exceptions are not a BC break, as ProxyManager would crash hard if those files could not be written to disk.

[2015-08-09 22:27] #249 closed

[2015-08-09 22:28] malukenho commented on #249
@Ocramius will you fix the biuld before create the `1.0.1` tag?

[2015-08-10 12:49] remicollet opened #253 "Please check 1.0.1 tag"
From https://github.com/Ocramius/ProxyManager/releases
* 1.0.0 tag is a80a39fac4fbd771aea7d3871929933a3a1bbf3e (Dec 2014)
* 1.0.1 tag is a80a39fac4fbd771aea7d3871929933a3a1bbf3e (the same)

So all commit from Aug 8-9 in 1.0.x branch are not applied... :(

[2015-08-10 12:52] Ocramius commented on #253
@remicollet weird. Thanks for spotting it, I will bump the tag now.

[2015-08-10 13:03] Ocramius commented on #253
@remicollet tagged 1.0.2. Thanks for being vigilant!

[2015-08-10 13:03] #253 closed

[2015-08-10 13:04] remicollet commented on #253
;)

[2015-08-21 10:36] jordi12100 commented on #244
Hey @Ocramius,

Sorry for not getting back to you. This issue has been resolved.
What exactly caused this issue is unknown, but a second deploy did resolve the issue.

It may have been a cache issue. Who knows...

-- Closing this issue

[2015-08-21 10:36] #244 closed

[2015-08-21 10:40] Ocramius commented on #244
Thanks for reporting back!

[2015-08-24 01:39] Ocramius opened #256 "Revert #254, add integration test for options in factory logic"
#254 should be reverted, as the change actually removes functionality.

[2015-08-24 01:49] malukenho commented on #256
@Ocramius what functionality was removed? If it was removed I think we have bad tests for this particular one.

[2015-08-24 01:51] Ocramius commented on #256
@malukenho see discussion on #254 - need a unit test that expects the proxy generator to be given appropriate proxy options

[2015-08-24 01:52] Ocramius commented on #256
Note: already reverted in Ocramius/ProxyManager#079399916eb7fba57aed709de2d63f104c696673 - now needs to be tested.

[2015-08-24 02:00] #256 closed

[2015-08-24 07:14] localheinz commented on #256
@malukenho @Ocramius

Sorry!

[2015-08-24 07:53] Ocramius commented on #256
@localheinz no problem, you couldn't possibly know :-)

I considered changing the interface, but the BC break was a bit too big. Wondering if I can do it for 2.x :-\

[2015-09-01 14:27] Ocramius opened #257 "Skip generating runtime access check code for multiple private properties with the same name if they are not existing in the inheritance."

[2015-09-03 09:33] malinink opened #258 "Proxy __destruct issue"
Hi,

I use PM in my ZF2 project, and all works correct, but I found one problem, fix me please if I am wrong.

I create Lazy Service and do not use it in particular case, but I call Proxy of that service which I pass to another object.

At the and of application someone (I suppose GC) call `__destruct` on object, that cause Proxy to init proxy object. It is not behaviour I expected.

So my questio

[2015-09-03 10:06] Ocramius commented on #258
@malinink since we can't have any assumption about what is contained in the `__destruct` logic, ProxyManager has to delegate the call, initializing therefore your object.

There is no workaround to this, as making `__destruct` no-op is potentially very dangerous.

[2015-09-04 05:54] malinink commented on #258
@Ocramius Thank for the answer,

That sound like all proxy objects will be instanced at the end of application. I thought that main aim of proxy is preventing objects to be instanced if them are not used at particular case.

I will try to check that behaviour at another php version (current one is 5.5.9), at now all proxy objects instanced at the end, if they are not used in application.

[2015-09-04 07:19] Ocramius commented on #258
Only if they were required in first place

A destructor is one kind of usage of an object, and it is part of its API, so if the object is instantiated you are already using its API implicitly.

I would be against allowing working around rules like that.
ProxyManager generates proxies that are as un-opinionated as possible, and I'd like to keep it like that. Try using a custom generator in your pro

[2015-09-04 07:21] Ocramius commented on #258
Note: the problem is that while `__destruct` is usually used just for cleanup tasks, some people may actually design legit API in the destructor, and ProxyManager cannot assume that the consumer has written a sane destructor.

[2015-09-04 08:20] malinink commented on #258
Now I catch that!

Custom generator is a good idea! Thanks!

[2015-09-04 08:20] #258 closed

[2015-09-04 08:26] Ocramius commented on #258
@malinink note, this is the bit that is interesting for your experimenting: https://github.com/Ocramius/ProxyManager/blob/842a41b73713940352c9589a6e3805fb0c69a29a/src/ProxyManager/ProxyGenerator/LazyLoadingGhostGenerator.php#L85-L87

[2015-10-14 10:36] ProPheT777 opened #259 "app < php5.5 are broken since 1.0.2"
Hey,

All php application =< php5.5 are broken via zend code :(

cheers

[2015-10-14 11:45] ProPheT777 commented on #259
Same with zend code deps, need to use composer replace to fix it.

[2015-10-14 12:51] Ocramius commented on #259
Can you clarify? What was broken? All php versions were tested carefully previous to releasing a patch version.

[2015-10-14 14:08] ProPheT777 commented on #259
Nevermind, problems come from environment/platform when composer was run, he picked the highest dependency wich was wrong.

[2015-10-14 14:08] #259 closed

[2015-10-14 16:57] Ocramius commented on #259
Thanks for clarifying!

[2015-11-12 12:46] narozhniyy opened #260 "PHP Fatal error: Class 'Zend\Stdlib\ArrayObject' not found in vendor/zendframework/zend-code/src/Generator/ValueGenerator.php on line 89"
Hi all. Have issue with Ocramius/ProxyManager, get package from composer and in zendframework/zend-code/src/Generator/ValueGenerator.php used Zend\Stdlib\ArrayObject; But this class not available, and I have PHP Error.
Maybe need change  use  Zend\Stdlib\ArrayObjec  on  use ArrayObject and all going work.

[2015-11-12 13:09] malukenho commented on #260
Hello @narozhniyy,

Can you provide me the version of proxy manager that you're using? I tried to reproduce the problem using `"ocramius/proxy-manager": "1.0.*"` version, and all works fine.

Do you already try to reinstall the library?
`composer remove ocramius/proxy-manager` and then `composer require ocramius/proxy-manager:1.0.*`

[2015-11-12 13:19] narozhniyy commented on #260
HI @malukenho,
I used equire ocramius/proxy-manager:1.0.*, but now update to "ocramius/proxy-manager": "1.0.*" and nothing is change.
@malukenho  can you look into vendor/zendframework/zend-code/src/Generator/ValueGenerator.php, ArrayObject() - Undefined  Class?

http://i.imgur.com/vDBiXLA.png
http://i.imgur.com/eKwJMF3.png

ArrayObject describe as Underfined Class

[2015-11-12 13:30] malukenho commented on #260
It seems like something is wrong with your network or installation process. As I said, all is working fine, even on `~0.5` version.

Can you check if you have `vendor/zendframework/zend-stdlib` folder?

[2015-11-12 13:32] narozhniyy commented on #260
No, I doesn't have this folder only  ``` zend-code ``` and ``` zend-eventmanager ```

[2015-11-12 13:35] malukenho commented on #260
Yeah. As I suspected, you're having trouble with installation. Try run `composer update` and see what happens.

[2015-11-12 13:41] narozhniyy commented on #260
I did it many times today, removed ```vendor``` folder and did it again

http://i.imgur.com/AMoiAs2.png

After update ```zend-stdlib``` folder doesn't exists

[2015-11-12 13:47] malukenho commented on #260
@narozhniyy I finally understand what is happening. `"minimum-stability": "dev"` is breaking the operation of the library. Ouch!

[2015-11-12 14:01] narozhniyy commented on #260
@malukenho what i should to do? change "minimum-stability" value.

[2015-11-12 14:03] malukenho commented on #260
@narozhniyy Probably yes, or you can add `"zendframework/zend-stdlib": "*@STABLE"` to your composer file, as a temporary solution until we fix this.

[2015-11-12 14:07] narozhniyy commented on #260
@malukenho, yes that's help me, now all work and folders are exists. @malukenho thanks

[2015-11-12 14:08] malukenho commented on #260
@narozhniyy you're welcome. I'll notify you when this is fixed.

[2015-11-12 18:19] Ocramius commented on #260
This needs to be reported on [zendframework/zend-code](https://github.com/zendframework/zend-code), @narozhniyy. Please open an issue there and link it here for reference :-)

[2015-11-16 09:18] nicolas-grekas commented on #260
here is the issue:
- ocramius/proxy-manager requires zendframework/zend-code `^2.2.5`
- zendframework/zend-code requires zendframework/zend-eventmanager `^2.6|^3.0` and
- zendframework/zend-code also requires zendframework/zend-stdlib but this is implicit, not explicit
- zendframework/zend-eventmanager 2.x (branch develop) **does** "require" zendframework/zend-stdlib
- zendframework/zend-eventmana

[2015-11-16 09:27] nicolas-grekas commented on #260
See https://github.com/symfony/symfony/pull/16553 for a temporary workaround on Symfony

[2015-11-18 13:05] Ocramius commented on #260
Also to be followed: zendframework/zend-code#23

[2015-11-18 19:03] Maks3w commented on #260
#23 has been released in zend-stdlib: 2.5.3 This can be closed.

[2015-11-18 19:56] malukenho commented on #260
@Maks3w Thanks you so much!

[2015-11-18 19:56] #260 closed

[2015-12-10 11:49] joshdifabio commented on #240
Is anyone planning to tackle this in the near future? Presumably return types also need supporting?

[2015-12-10 14:22] Ocramius commented on #240
Needs fixing at zend-code level first, or else moving away from it (which
is a huge amount of work)
On Dec 10, 2015 12:49, "Josh Di Fabio" <notifications@github.com> wrote:

[2015-12-29 12:34] mcfedr opened #262 "Proxy __destruct unnecessary initializer"
I know this issue was discussed as  #258

I am having the same issue as the original poster, but I am using Symfony, at the end of a request, the __destruct method being called on my lazy services.

I know you said you don't want to have specific code for certain functions, but you do already have, I think all, the other magic methods covered in special ways.

I don't think It makes sense to never

[2015-12-29 12:53] Ocramius commented on #262
The problem is that this library has to stay agnostic about the use-cases of your objects. People do depend on `__destruct` for the wildest things, and therefore it should be called regardless of the use-case, when defined.

It should initialize the objects in order to guarantee proper functioning of the `__destruct` internals.

[2015-12-29 12:53] #262 closed

[2015-12-30 07:37] mcfedr commented on #262
Surely if the wrapped value hasn't even been initialised `__destruct` it makes no sense to call it. I understand that there might be weird use cases for `__destruct` but should that be at the expense of a normal use case?

I am trying to proxy `Redis` as a lazy service in Symfony. But because `__destruct` is called at the end of each request I basically going to have to make my own proxy inside th

[2015-12-30 10:00] holtkamp opened #263 "Broken links in footer http://ocramius.github.io/ProxyManager/"
It seems 3 out of 5 links are broken:

- https://ocramius.github.io/ProxyManager/STABILITY.html
- https://ocramius.github.io/ProxyManager/UPGRADE.html
- https://ocramius.github.io/ProxyManager/CONTRIBUTING.html

[2015-12-30 10:24] holtkamp opened #264 "Duplicate semicolons generated"
When looking at some generated code when used in combination with [PHP-DI](https://github.com/PHP-DI/PHP-DI), the proxy classes contain snippets like:

[code]

[code]

Note the duplicate semicolons, which seems to be caused by [this line](https://github.com/Ocramius/ProxyManager/blob/842a41b73713940352c9589a6e3805fb0c69a29a/src/ProxyManager/ProxyGenerator/Util/PublicScopeSimulator.php#L74)

[2015-12-30 12:07] Ocramius commented on #262
This is opinionated. While I believe the following use-case to be stupid, I've seen it used in the field:

[code]

This library *CANNOT* take opinionated approaches: if you need to take an opinionated direction, then please implement your own proxy generator starting from changing [this line](https://github.com/Ocramius/ProxyManager/blob/c27607f1c67058e73a3b79dad3784931b26de59a/src/ProxyManager/Pr

[2015-12-30 12:09] Ocramius commented on #262
Maybe you could link me to the specific class you are trying to proxy, and we can find an alternate approach?

[2015-12-30 12:25] Ocramius opened #265 "Document limitation of pre-5.6 variadic usage"
As it stands, a class like following won't operate properly when used with ProxyManager:

[code]

This is because proxying the `variadicMethod` generates code like following:

[code]

As you can see, this approach breaks pre-5.6 "variadic" arguments:

[code]

I personally don't think this needs fixing, and needs documenting the limitation instead.

To be noted that the new ghost objects in the 2.x

[2015-12-30 14:42] mcfedr commented on #262
I am trying to use [Redis](https://github.com/phpredis/phpredis#class-redis) as a Symfony service. I want it to be lazy because not every request needs to connect to it.

[2015-12-30 14:56] Ocramius commented on #262
@mcfedr is the connection enstabilished at `__construct`?

[2015-12-30 15:00] mcfedr commented on #262
Unfortunately not, my service looks like this:

    project.redis:
        class: Redis
        calls:
            - [ connect, ["%redis_host%"]]
            - [ setOption, ["%redis_prefix_option%", "%resque_prefix%"]]

[2015-12-30 15:07] Ocramius commented on #262
If the connection is not enstabilished at `__construct`, then having the service being created each time shouldn't be an issue.

[2015-12-30 15:51] mcfedr commented on #262
But the closure that Symfony makes and gives to the Proxy calls `__construct` and `connect`.

[2015-12-30 15:58] Ocramius commented on #262
That is a completely different story then :-) Why doesn't the `connect` happen implicitly when calling any method on the adapter? Sounds like some responsibilities are kinda messed up there...

[2015-12-30 18:00] Ocramius commented on #265
This is now documented and tested (the limitation is tested as well)

[2015-12-30 18:00] #265 closed

[2015-12-30 18:09] #264 closed

[2015-12-30 18:09] Ocramius commented on #264
@holtkamp fixed, thanks!

[2015-12-30 18:16] #263 closed

[2015-12-30 18:19] Ocramius opened #269 "Support `func_get_args` and similar proxied API"
#265 introduced some documentation about the limitations around usage of `func_get_args` and similar functions.
It may be possible to use those methods in proxied API by:
 - analyzing the contents of a proxied method (if applicable)
 - generating code that uses `func_get_args` and merging dynamic parameters with those defined in the API (which may be passed by ref)

This is not mandatory.

[2015-12-30 18:32] Ocramius commented on #263
@holtkamp fixed, thanks!

[2015-12-30 18:51] Ocramius commented on #226
Re-read this again: seems like excessive abstraction in my opinion, therefore marking as "won't fix"

[2015-12-30 18:51] #226 closed

[2015-12-30 18:52] Ocramius commented on #236
I think the library should focus on solving the actual problem of intercepting, rather than providing utilities for how the factories should be used. Closing therefore, as this sort of API can be implemented in consumer libraries.

[2015-12-30 18:52] #236 closed

[2015-12-30 18:53] Ocramius commented on #162
Removed from 2.0.0 milestone: while this can be implemented, I'd rather have something like https://github.com/Roave/BetterReflection deal with this sort of problem instead.

[2015-12-30 18:54] Ocramius commented on #177
This is built into 2.0.0 \o/

[2015-12-30 18:54] #177 closed

[2015-12-30 18:56] Ocramius commented on #207
After looking at this again, I don't think it is worth fixing for now, as it would just make the code less readable.

It is worth re-considering if there is a push for exposing some of the lower level generator APIs to userland.

[2015-12-30 18:56] #207 closed

[2015-12-30 19:02] Ocramius commented on #208
Still needs doing: documentation for this is to be extracted from the test cases, such as:
 * [how the properties are assigned a value](https://github.com/Ocramius/ProxyManager/blob/f7ff39e66f0ab1f62f418eb549994f3c202815fb/tests/ProxyManagerTest/Functional/LazyLoadingGhostFunctionalTest.php#L450-L490)
 * [how the initialization process actually works](https://github.com/Ocramius/ProxyManager/blob/

[2015-12-30 19:02] Ocramius commented on #223
Not for 2.0.0

[2015-12-30 19:04] Ocramius commented on #210
HHVM still fails in numerous ways. It works for basic use-case scenarios, but we still have issues with:
 * private properties with the same name inside an inheritance
 * variadic arguments
 * by-ref variadic arguments
 * typed variadic arguments

[2016-01-04 11:54] Ocramius opened #272 "Document 2.0.0 changes"

[2016-01-08 15:33] stof opened #273 "The homepage of the doc is confusing"
The homepage of the doc seems to be exactly the readme. but this means that it tells the user to go read the online doc, with a link to itself

[2016-01-13 22:12] Ocramius opened #274 "Add scalar and return type hints where applicable, use strict types"

[2016-01-13 22:27] Ocramius commented on #240
Zis is DONE!!!1

[2016-01-13 22:27] #240 closed

[2016-01-13 22:28] Ocramius commented on #240
Ref: https://github.com/Ocramius/ProxyManager/commit/e4dcd297954a136b9964cf0c5198348e1a15916b

[2016-01-14 10:00] joshdifabio commented on #240
Fantastic! Thank you very much.

[2016-01-19 12:03] thathumanthere opened #275 "Code of Conduct"
An invitation to adopt the Contributors’ Covenant, a Code of Conduct for open source projects.

http://contributor-covenant.org/

The purpose of adoption would be to clearly state (even if perceived to be already obvious):

* That marginalized people are welcome to participate, and will be valued as humans.
* That the project values an atmosphere of openness, kindness, cooperation and understandin

[2016-01-21 11:34] Ocramius opened #276 "Test protected member access lazy loading (ghost objects)"
Given following code:

[code]

Any access to these methods, given a non-initialized ghost object, should cause that object to lazy-load.

This should already work, but needs to be tested.

[2016-01-22 04:40] Ocramius commented on #257
Removed 2.0.0 milestone. This issue is for compatibility with HHVM, but that won't happen until HHVM is up to date with the PHP7 API.

[2016-01-22 04:41] Ocramius commented on #276
Closing here: handled in #277

[2016-01-22 04:41] #276 closed

[2016-01-22 21:46] Ocramius commented on #274
Handled in #278

[2016-01-22 21:46] #274 closed

[2016-01-22 22:37] #273 closed

[2016-01-22 22:38] Ocramius commented on #273
Fixed via #280

[2016-01-23 01:36] Ocramius commented on #208
Handled in #281

[2016-01-23 01:36] #208 closed

[2016-01-23 02:08] Ocramius opened #284 "Remove the need for a `Version` class"
`Version` is annoying and painful to maintain: need a better system, that doesn't cause FS access, and that can actually be used in composer and GIT environments.

[2016-01-25 23:36] Ocramius commented on #284
@malukenho this can easily be done, now that I built https://github.com/Ocramius/PackageVersions :-D

[2016-01-26 13:39] Ocramius commented on #284
Handled via #285

[2016-01-26 13:39] #284 closed

[2016-01-28 17:27] nacc opened #286 "Testcase failures with PHP 7.0.2 and php-proxy-manager 1.0.2"
I'm trying to work towards PHP 7 support in Ubuntu 16.04 and the current version of the proxy-manager packge is 1.0.2. As the phpunit tests fail, I'm unable to build the package successfully.

Note, I tried to update to 2.0.0-beta2 and there were many more failures. I can provide those logs as well, if desired.

Attaching the 1.0.2 logs.
[php-proxy-manager.errors.txt](https://github.com/Ocramius/P

[2016-01-28 19:24] nacc commented on #286
The 2.0.0-beta2 failures, in case PHP7 support is only intended with that branch.
[php-proxy-manager_2.0.0_beta2.errors.txt](https://github.com/Ocramius/ProxyManager/files/108594/php-proxy-manager_2.0.0_beta2.errors.txt)

Note that some large percentage of these seem due to php-zend-code not defining setReturnType() or setReturnsReference.

After looking into a bit more, it seems this might be due

[2016-01-29 00:19] nacc commented on #286
Per the page at https://www.versioneye.com/php/ocramius:proxy-manager/1.0.2, though I should be able to use 1.0.2 with PHP7, yes?

[2016-01-29 07:03] Ocramius commented on #286
I just checked as well:

 * 2.0.0 works smoothly (must run a composer update, but no failures)
 * 1.0.2 reports multiple failures with re-binding logic, although it's only in fatal prevention emulation

ProxyManager 2.0.0 is due tomorrow (that's when I plan to release it), and [we are past the bugfix-support schedule for 1.0.0 by at least a month](https://github.com/Ocramius/ProxyManager/blob/1.0.

[2016-01-29 09:24] #272 closed

[2016-01-29 16:39] nacc commented on #286
Thanks for the pointers. I will work with Debian to get the newer version of php-proxy-manager packaged, which appears to also require a new dependency package (php-package-versions, i.e.). To be clear, I work for Canonical and am doing this packaging quite intentionally. So getting it to work with composer is a good test of how it should look, but I also am very interested in the packaged version

[2016-01-29 22:42] Ocramius commented on #286
@nacc just so we don't cause any false-expectations: I am not going to fix/merge fixes for these failures related to 1.x + PHP 7.0.0. They can eventually be marked as XFAIL in the debian package, if the tests are still relevant there. I went through all this fixing already once for 2.x.

2.0.0 will have full PHP 7.0.0 support and can be used pretty much in the same way, except for [some BC breaks]

[2016-01-30 09:40] #286 closed

[2016-02-15 21:59] Tomsgu opened #294 "Fatal error: Class 'ProxyManager\Versions' not found"
Hi, I am not sure if I write here corectly.

I got this error: ` [Symfony\Component\Debug\Exception\FatalThrowableError]  Fatal error: Class 'ProxyManager\Versions' not found` when I run doctrine migrate.  Does it related with a bug(ProxyManager/DocrineMigrations) or somebody know, what can be a problem?

Php: 7.0.3
ProxyManager: 2.0.0
DoctrineMigrations: 1.1.0

[2016-02-15 22:01] Ocramius commented on #294
@Tomsgu does composer run any script at install time? It should show something like `Generating version class` at finished installation.

[2016-02-16 07:39] Tomsgu commented on #294
Thanks for your response @Ocramius. Composer try to generate these classes but end up with undefined index: source exception.

`$composer update`
`...`
`Generating autoload files`
`ocramius/package-versions:  Generating version class...`
`[ErrorException]`
`Undefined index: source`

[2016-02-16 07:40] Ocramius commented on #294
So that's where it hangs... Needs to be debugged, but that's a bug in https://github.com/Ocramius/PackageVersions then.

Could you try running with more verbose settings?

[2016-02-16 07:47] Tomsgu commented on #294
$composer update -v

Exception trace:
 () at /home/tomsgu/Project/tz2m3/vendor/ocramius/package-versions/src/PackageVersions/Installer.php:189
 Composer\Util\ErrorHandler::handle() at /home/tomsgu/Project/tz2m3/vendor/ocramius/package-versions/src/PackageVersions/Installer.php:189
 PackageVersions\Installer::getVersions() at n/a:n/a
 iterator_to_array() at /home/tomsgu/Project/tz2m3/vendor/ocramiu

[2016-02-16 07:48] Ocramius commented on #294
Does the same happen when you run with `--prefer-source`?

[2016-02-16 07:49] Tomsgu commented on #294
Yes, the same problem.

[2016-02-16 07:50] Ocramius commented on #294
Could you list the packages you have in your `composer.json`? Maybe it depends on one of the packages only having a dist version...

[2016-02-16 08:12] Tomsgu commented on #294
Ok list of installed packages:
installed:
  beberlei/DoctrineExtensions              v1.0.6             A set of extensions to Doctrine 2 that add support for additional query functions available in MySQL and Oracle.
  behat/transliterator                     v1.1.0             String transliterator
  braincrafted/bootstrap-bundle            dev-master 23ae420 BraincraftedBootstrapBundle integrate

[2016-02-16 08:18] Ocramius commented on #294
Hmm, that is indeed a lot of stuff... Could you gist your `composer.json`, so I try out things locally?

[2016-02-16 09:39] Tomsgu commented on #294
Yes a lot of stuff... So my composer.json:
[code]

[2016-02-16 11:22] Ocramius commented on #294
Oh, that's probably it then: the jquery dist is missing any source information, of course.

Can you try adding a `"source": {"reference": "1.10.2"}` to the `jquery/jquery` package (and re-run)?

[2016-02-16 11:51] Tomsgu commented on #294
Unfortunately the problem still persists.

[2016-02-16 11:55] Ocramius commented on #294
Won't be able to check the issue personally in the next days, but please take a look at https://github.com/Ocramius/PackageVersions/blob/56253310fb94b3086fa123f5f3e7ab76723594aa/src/PackageVersions/Installer.php#L189

[2016-02-16 11:57] Tomsgu commented on #294
Thanks for your time anyway, I am trying to find out where can be the problem.

[2016-02-16 13:10] Ocramius commented on #294
@Tomsgu just so you know, that data the script is trying to read comes from the lock file. If you check `composer.lock`, you should easily spot which item doesn't have a `source` key

[2016-02-16 13:53] Tomsgu commented on #294
@Ocramius Thank you so much. I found that even when I set source reference for jquery/jquery, it wasn't in a lock file. So you were right in the beginning.

Sorry, that I post here something that isn't really related with ProxyManager neither PackageVersions.

[2016-02-16 14:01] Ocramius commented on #294
Issue is still valid.

[2016-02-17 18:01] backbone87 opened #295 "[RFC] Async remote objects"
Would it be feasible to provide features to asynchronically proxy remote objects?

Primary use-case from my point of view would be the usage of message queues for long-running operations, but hide away the unnecessary details of the messaging procotol/service used.

In a first step providing a "fire-and-forgot" approach for void-returning calls only would be enough i think.
Complete asynchronous c

[2016-02-18 06:46] Ocramius commented on #295
1. could only work with methods explicitly marked as `@return void` (and we'd have to scan the AST for return statements)
 2. the proxied method should NOT throw any exceptions. Any exception being thrown means that the consumer API may expect an exception in case of failure, and that cannot work with async execution

@backbone87 implementing this sort of API should be easy with the current [adapt

[2016-02-18 06:51] Ocramius commented on #294
Moved to https://github.com/Ocramius/PackageVersions/issues/12 - to be closed here once it is fixed.

[2016-02-26 09:11] Ocramius opened #296 "Forward port the changelog for 2.0.1 to master as well"
The [changelog for release 2.0.1](https://github.com/Ocramius/ProxyManager/blob/6c89b7bd6039d8047b1473e2074cb56baa4bc15d/CHANGELOG.md#201) is currently only in branch 2.0.x, and needs to be cherry-picked into `master` as well.

In addition to that, we should reference the pull requests/issues related to any changelog entry, and add the changelog text to the actual [2.0.1 release notes](https://git

[2016-02-26 16:18] githoober commented on #187
Hi @Ocramius,

my question is whether a final method should instantiate a proxy. I have a strong feeling that it should. And because it cannot be overridden a different mechanism should be implemented to make it work.
Any thoughts on that?

[2016-02-26 16:37] Ocramius commented on #187
It simply cannot be done. `final` is `final`, and that's perfectly ok. If you need to mock/proxy final classes, then you want to proxy their interface instead.

[2016-02-26 16:58] githoober commented on #187
I agree with an argument about creating a proxy for a final class, but my question is about a regular not final class that can contain some final methods. Since a proxy should be instantiated by any public method, this should also include final public methods. Since overriding is not working in this case, a different way could be researched instead.

[2016-02-26 18:14] Ocramius commented on #187
@githoober that depends on the proxy implementation. Right now, [we already proxy only methods that can be overridden](https://github.com/Ocramius/ProxyManager/blob/6e15877fc03cc211ce798d497a21208a44f7b726/src/ProxyManager/ProxyGenerator/LazyLoadingGhostGenerator.php#L88)

In some proxy implementations, the methods *need* to be all proxied, and therefore it is not possible to proceed with the code

[2016-02-29 14:03] MazeChaZer opened #297 "get_class($this) behaves differently based on the method visibility"
[code]

Running this script will output

[code]

public --> Correct class name
protected/private --> Generated proxy class name

The order in which the methods are called doesn't change anything.

[2016-02-29 14:06] MazeChaZer commented on #297
I forgot to mention that the issur only arises if a protected or private method of another instance of the same class is called

[2016-03-02 14:25] bendavies opened #298 "Setting value on proxy via ReflectionProperty causes an error."
Hi there,

I have a lazy service.

ProxyManger generates a `__set` method (via `ProxyManager\ProxyGenerator\UtilPublicScopeSimulator`) that looks like:
[code]

If you then set a value via `ReflectionProperty` on this proxy, you will receive an error:

on the `bindTo` call.

Let me know if you need anything else?

[2016-03-02 14:31] Ocramius commented on #298
Argh, php limitations.

Could you write an example, following the ones in https://github.com/Ocramius/ProxyManager/tree/master/tests/language-feature-scripts ?

[2016-03-02 14:43] bendavies commented on #298
yep, sure. will do

[2016-03-02 15:06] bendavies commented on #298
here you go
[code]

[2016-03-04 18:50] Ocramius commented on #298
Hmm... Is this ProxyManager 2.x? I can't seem to be able to generate a proxy with the same signature...

Could you send a PR with just that file, so we see what @travis-ci's opinion on this is?

[2016-03-04 19:08] bendavies commented on #298
Yep, 2.x on php 7.0.3.
I'm away from real internet for a few days but will submit the PR when back connected.

[2016-03-04 19:11] bendavies commented on #298
Actually it's 3.x. I didn't realise your master branch was 3.x now.

[2016-03-04 19:19] Ocramius commented on #298
Thanks!

Also, I think I did code workarounds for reflection-based access in the ghost objects, but not in the value holders. Will have to check...

[2016-03-07 11:50] bendavies commented on #298
@Ocramius there you go

[2016-03-09 18:56] Ocramius commented on #298
Closing here, since #299 provides the actual failing test case.

[2016-03-09 18:56] #298 closed

[2016-03-13 05:09] trickleup opened #300 "Null objects do not extend their original class"
It seems to me that classes with PHP7 return types fail.

[code]

Is there a workaround/fix for this issue?

[2016-03-13 05:12] trickleup commented on #300
Also, the same seems to be the case with scalar type hints in method declarations.

[2016-03-13 05:53] Ocramius commented on #300
@trickleup ProxyManager v2 fully supports return type hints: can you check what version you have installed?

[2016-03-15 13:42] michaelmoussa commented on #300
@Ocramius I'm having (_what I think is_) the same issue, only with the `Null Object Proxy`. See example case below:

[code]

[code]

The generated code looks like this:

[code]

Since `Generatede07f73e523c2fb4772e096fa7615d794` doesn't extend `Foo`, it will obviously fail the return type check.

If I add this: `$classGenerator->setExtendedClass($originalClass->getName());` after [this line of code

[2016-03-15 13:45] Ocramius commented on #300
I suggest writing a functional test case first: see [`tests/language-feature-scripts`](https://github.com/Ocramius/ProxyManager/tree/6e15877fc03cc211ce798d497a21208a44f7b726/tests/language-feature-scripts)

Also, please remember to use absolute references for files, as the branches keep moving, and the diffs change (and your links become invalid)

[2016-03-20 20:43] mnapoli opened #302 "Intercept all method calls?"
`AccessInterceptorInterface` only allows to intercept specific methods (`setMethodPrefixInterceptor()`  requires a method name). Is there a way to intercept all method calls to the proxy? I couldn't find anything after searching a bit, I hope I didn't miss something obvious.

[2016-03-20 21:56] Ocramius commented on #302
This is a duplicate of #236

[2016-03-20 21:56] #302 closed

[2016-03-20 22:02] mnapoli commented on #302
:+1:

[2016-04-21 07:58] garak commented on #294
I'm getting the same fatal error. I'm not using any "repositories" in composer.json, nor I have installed PackageVersion. It looks like `composer install` is not running any task in the `Ocramius` namespace.
Using Symfony 2.8.4

[2016-04-23 13:07] Ocramius commented on #294
@garak this seems to be related to differences in `composer install <package name>` and just `composer install` or `composer update`. I'll ask the composer folks.

[2016-04-23 14:22] Ocramius commented on #294
This is possibly caused by https://github.com/composer/composer/issues/5237

[2016-05-05 13:54] devckonem opened #303 "Undefined method setxtendedClass on class ProxyManager\Generator\ClassGenerator"
Hello,

I have an issue on version 1.0.2, I'm trying to use your ProxyManager to make ghost objects for a project of mine and I'm having trouble using it because of this:

[Symfony\Component\Debug\Exception\UndefinedMethodException]
  Attempted to call an undefined method named "setxtendedClass" of class "ProxyManager\Generator\ClassGenerator".
  Did you mean to call e.g. "getExtendedClass" or "se

[2016-05-05 13:56] Ocramius commented on #303
Can't seem to find the offending code: https://github.com/Ocramius/ProxyManager/blob/57e9272ec0e8deccf09421596e0e2252df440e11/src/ProxyManager/Generator/ClassGenerator.php#L34-L41

Please check that the file wasn't modified by accident locally (remove the `vendor/ocramius/proxy-manager` dir and re-run `composer install`).

[2016-05-05 13:56] devckonem opened #304 "Documentation on version 1.*"
Hello,

Can you make different documentations for the different versions of the ProxyManager? Because in version 1.* i see that the LazyLoadingGhostFactory method createFactory accepts only 2 params and in the current doc i suppose version 2.* it accepts 3 params.

Thanks.

[2016-05-05 13:58] Ocramius commented on #304
Docs are versioned inside the repo:

 * https://github.com/Ocramius/ProxyManager/tree/2.0.1/docs
 * https://github.com/Ocramius/ProxyManager/tree/1.0.2/docs

[2016-05-05 14:07] devckonem commented on #304
Ok, thanks for the docs, but how can I use the "skippedProperties" from https://github.com/Ocramius/ProxyManager/blob/2.0.1/docs/lazy-loading-ghost-object.md#skipping-properties-properties-that-should-not-be-initialized in version 1.0.2?

[2016-05-05 14:08] devckonem commented on #303
Strange because I didn't alter the files locally just installed it with composer, now it works.

Thanks.

[2016-05-05 14:10] Ocramius commented on #303
@devckonem thanks for checking!

[2016-05-05 14:10] #303 closed

[2016-05-05 14:13] Ocramius commented on #304
No, [skipping properties was only implemented in 2.0.0](https://github.com/Ocramius/ProxyManager/blob/2.0.1/CHANGELOG.md#skipping-lazy-loaded-properties-in-generated-proxies), as it required massive internal changes, sorry.

[2016-05-05 14:20] devckonem commented on #304
My case is a data mapper and I don't want the loading to be triggered when the user calls Object->getId(), because it will be set by default. Is there a way around this?

[2016-05-05 14:30] devckonem commented on #304
The answer is yes you can do it with Reflection:

[code]

And then if you access another method on class MyClass then it will trigger the $initializer.

[2016-05-05 14:33] Ocramius commented on #304
That will break in two cases:
 1. if the property is public
 2. if you upgrade to v2 at some point

[2016-05-05 14:33] Ocramius commented on #304
I warmly suggest just upgrading to v2 btw. Any reason you are locked in v1?

[2016-05-05 14:57] devckonem commented on #304
You have required php 7 for version 2.

PS: Also I can refine the previous code and it will break only if I upgrade to v2.
[code]

[2016-05-05 14:58] Ocramius commented on #304
@devckonem no, public properties will trigger lazy-loading regardless. You will need something like this: https://github.com/doctrine/common/blob/773c56e51fc26ae07a47146fae31b320dd6cada3/lib/Doctrine/Common/Reflection/RuntimePublicReflectionProperty.php

[2016-05-05 15:03] devckonem commented on #304
I've just tested that scenario and it doesn't trigger lazy-loading if the attribute is public. I've put a var_dump() in the $initializer Closure to see when it is called.

[2016-05-05 15:04] Ocramius commented on #304
Alright then :)

Still, consider jumping to v2 when possible.

Closing here, as the question seems to be answered.

[2016-05-05 15:04] #304 closed

[2016-05-07 18:42] Ocramius opened #306 "PHP 7.0.6 is incompatible with ProxyManager 2.x"
As it currently stands, https://bugs.php.net/bug.php?id=72174 blocks usage of PHP 7.0.6 with ProxyManager 2.x.

We might exclude PHP 7.0.6 from installable versions for now :-(

Possibly related to https://github.com/vrkansagara/php-src/pull/1
Possibly related to https://github.com/php/php-src/commit/373da7aa6f5e7bf57d434fd449f97770fb479d3e#diff-5d1661cc2ad170dc8bbe40c80ae75b85R565
Diff of PHP 7.0

[2016-05-09 07:28] hboomsma opened #307 "variadic parameters"
In PHP 5.6 variadic function and method parameters were added. These are currently not supported. Also an one of the issues in #210 HHVM Compatibility.

[2016-05-09 18:42] Ocramius commented on #307
These are already supported: https://github.com/Ocramius/ProxyManager/blob/6e15877fc03cc211ce798d497a21208a44f7b726/tests/ProxyManagerTest/Functional/MultipleProxyGenerationTest.php#L130-L131

[2016-05-09 18:42] #307 closed

[2016-05-10 15:27] hboomsma commented on #307
Thnx!
I sent a full request to Symfony to update the documentation on lazy services to require version 2 instead of 1.

[2016-05-10 15:31] hboomsma commented on #307
Problem persists however for PHP 5.6! There version 2 can not be installed.

[2016-05-10 15:41] malukenho commented on #307
Could you provide us some tests reproducing the bug? @hboomsma

[2016-05-10 16:50] Ocramius commented on #307
I don't support 1.x anymore (besides security fixes): upgrading to PHP 7.0 is required here.

[2016-05-11 02:07] darianbr opened #309 "Generated code has $this as a parameter which breaks in php 7.1."
The proxy generator is generating code that has `$this` as the parameter:
[code]

In php 7.1.0-dev, `$this` cannot be used as a parameter and the follow error is being generated:
[code]

[2016-05-11 02:25] malukenho commented on #309
@darianbr we actually have a workaround in the #308 PR

[2016-05-11 02:38] darianbr commented on #309
@malukenho I have tested my code against the hotfix in the #308 PR and can confirm that it fixes this issue.

[2016-05-11 02:38] #309 closed

[2016-05-11 11:18] Jelle-S opened #311 "Add skippedProperties to other proxies than the GhostObject"
For example for the Remote Object:

Some api's return a list of items with only limited data (for example $remoteObj->name and $remoteObj->id). We could create a proxy object that already contains that data. As long as no other data is required, no call to the remote is made. Once other data is required  ($remoteObj->email) we make the call to fetch the rest of the data.

So for example:
example.c

[2016-05-12 21:23] Ocramius opened #312 "Always use the FileWriterGeneratorStrategy when running tests"
As it currently stands, the test suite always uses `eval()` when running tests.

This is optimal for performance, but leads to a series of "WTF" moments when the user needs to actually debug what is going on in the generated code.

Instead, each test run should write proxy files inside a "build" directory, and require them from there. This way, should there be a failure, the failure report can be

[2016-05-12 21:49] Ocramius commented on #294
This is fixed by composer/composer#5237.

Further fixes to be done in Ocramius/PackageVersions#18

[2016-05-12 21:49] #294 closed

[2016-05-23 07:42] malukenho opened #314 "Nullable params type"
May we should take a look to implement it when it's out: https://github.com/php/php-src/pull/1893

[2016-05-24 10:23] Ocramius commented on #314
And also https://wiki.php.net/rfc/typed-properties ( https://github.com/php/php-src/compare/master...krakjoe:typed-properties )

[2016-05-26 16:01] Hast opened #316 "Symfony Lazy Services don't work with PHP 7.0.7"
PHP 7.0.7 was released today, including [bugfix#71737 (Memory leak in closure with parameter named $this)](https://bugs.php.net/bug.php?id=71737).

Now, all compiled symfony lazy services throw this exception:

`FatalErrorException in appDevDebugProjectContainer.php: Compile Error: Cannot use $this as parameter`

This is the line from the debug container causing the problem: http://joxi.ru/XEA4JEf

[2016-05-26 21:39] Ocramius commented on #316
Already handled in https://github.com/Ocramius/ProxyManager/pull/308

[2016-05-26 21:39] #316 closed

[2016-05-27 01:09] #306 closed

[2016-05-27 01:37] Ocramius commented on #300
Corrected via #301. Rewording title though, as the return types were actually respected, but the inheritance wasn't.

[2016-05-27 01:41] Ocramius commented on #311
Note to self: dug deeper into the implementation details required for this, and unless we make all proxies actual ghost objects (safest implementation), I do not think that this particular feature is implementable.

[2016-05-27 01:41] #300 closed

[2016-05-27 01:41] #296 closed

[2016-05-27 01:44] Ocramius commented on #297
Looking at this again, I do not think it is a bug.

If you use an [access interceptor scope localizer](https://github.com/Ocramius/ProxyManager/blob/af74fb13fd54448e0a44dba09069676aa4898dc3/docs/access-interceptor-scope-localizer.md), you will get different results.

Can you give it a try?

[2016-05-29 01:57] soukicz opened #319 "Generated code doesn't work with PHP 7.0.7"
PHP 7.0.7 added new restriction on closures that arguments cannot be named "$this". Proxy manager doesn't check for that and generated code causes fatal error.

I have managed to track it down to this code in symfony container. It is generated from *ProxyManager\ProxyGenerator\Util\UnsetPropertiesGenerator->generateUnsetClassPrivatePropertiesBlock()*

Unfortunately I don't understand proxy-manager

[2016-05-29 02:01] soukicz commented on #319
Oh, my bad. I just noticed in release notes, that PHP 7.0.7 is not yet supported.

[2016-05-29 02:01] #319 closed

[2016-05-29 02:02] Ocramius commented on #319
Actually, it is supported. I released https://github.com/Ocramius/ProxyManager/releases/tag/2.0.2 a couple of days ago, and it includes 7.0.7 support.

You are probably running on 2.0.1, please upgrade.

[2016-05-29 02:10] soukicz commented on #319
Thank you for your help!

I just discovered my mistake - I am running different minor PHP versions on *dev* and *prod*. I have generated composer.lock on dev with PHP 7.0.4 and it didn't install 2.0.2 version. That's what happens when I try to debug something at 4 AM :)

[2016-05-29 02:12] Ocramius commented on #319
Heh, I'm debugging 7.1.0-DEV at 4 AM... fun times :-\
On May 29, 2016 04:10, "soukicz" <notifications@github.com> wrote:

[2016-06-09 10:13] alsma opened #320 "PHP 7.0.7 fatal"
We've just migrated to php 7.0.7 and got error

there is autogenerated code by MagicWakeup and it seems doesn't compatible with the latest version because of fix of [this bug](https://bugs.php.net/bug.php?id=71737])

[2016-06-09 10:19] alsma commented on #320
Found closed one :(
Actually for some reason composer for ~2.0 installing 2.0.1

[2016-06-09 10:19] #320 closed

[2016-06-28 12:35] holtkamp opened #321 "Syntax error, unexpected '\' (T_NS_SEPARATOR) when using Zend-Code 3.0.3"
Running a ```composer update``` resulted in:

[code]

After that the following parse error occurs:

[code]

Moving back to ```"zendframework/zend-code" : "3.0.2"``` resolves the problem.

The ProxyManager is used by www.php-di.org to define [lazy injected definitions](http://php-di.org/doc/lazy-injection.html) for the Dependency Injection Container.

Switched back to zend-code ```3.0.3``` and had

[2016-06-28 16:19] kdambekalns commented on #321
Can confirm the issue, using Neos and

- ocramius/proxy-manager 2.0.2
- zendframework/zend-code 3.0.3

as well.

[2016-06-28 16:24] kdambekalns commented on #321
It's zend-code, see https://github.com/zendframework/zend-code/issues/74

[2016-06-28 16:58] Ocramius commented on #321
Keeping it open, but marking it as invalid, since zendframework/zend-code#74 is the cause of this.

[2016-06-29 11:59] remicollet opened #322 "Dependency issue"
With PHP 5.6

Can't use version 2.0 (which depends on PHP 7)
Can't use version 1.0 with ZF 3

Will be nice to have a 1.x allowing zend-code 3

[2016-06-29 11:59] Ocramius commented on #322
Won't work on 1.x anymore: it's security-only, sorry.

[2016-06-29 11:59] #322 closed

[2016-06-29 12:08] Ocramius commented on #322
Ref: https://github.com/Ocramius/ProxyManager/blob/d3388430e109a3efd4bea2350226396b593e2d15/STABILITY.md#10x

[2016-06-29 12:31] remicollet commented on #322
Sad that this make recent frameworks (SF 3 and ZF 3) unusable with PHP 5.6.

But if your happy with that, your decision.

[2016-06-29 12:35] Ocramius commented on #322
@remicollet I am well aware of the introduced limitations. The decision of restricting supported PHP versions is also done on purpose, as maintaining code-generator libraries is a huge mess when it comes to language support.

I even had to release zend-code v3 myself in order to fix various codegen issues regarding PHP 7, introducing BC breaks on purpose to fix those problems.

I think pushing con

[2016-06-30 22:39] Ocramius commented on #321
@holtkamp @kdambekalns can you try running a `composer update` and see if it actually works?

[2016-07-01 07:40] holtkamp commented on #321
Yes, with zend-code "3.0.4" it works. Maybe you need to change the requirement in ```composer.json``` to specifically exclude 3.0.3 as suggested here: https://github.com/zendframework/zend-code/issues/74#issuecomment-229052073

[2016-07-01 12:06] #321 closed

[2016-07-06 15:33] kdambekalns commented on #321
Late to the party, but yes: fixed with 3.0.3. Thanks!

[2016-07-31 15:07] napestershine opened #328 "Unsupported declare 'strict_types' in /vendor/ocramius/proxy-manager/src/ProxyManager/Configuration.php"
Hi

I am getting following error in my symfony project about Ocramius/ProxyManager.

Warning: Unsupported declare 'strict_types' in project/vendor/ocramius/proxy-manager/src/ProxyManager/Configuration.php on line 19

Parse error: syntax error, unexpected ':', expecting ';' or '{' in project/vendor/ocramius/proxy-manager/src/ProxyManager/Configuration.php on line 97

How can I resolve it?

Thanks

[2016-07-31 15:12] malukenho commented on #328
@napestershine which one is your php version?

[2016-07-31 15:19] napestershine commented on #328
Hi @malukenho

My PHP version is PHP Version 5.6.20

Thanks for support

[2016-07-31 15:29] malukenho commented on #328
@napestershine you need a compatible php version, which is `7.0.0 - 7.0.5 || ^7.0.7`.

You can update your php version or downgrade the ProxyManager.

yw!

[2016-07-31 15:35] napestershine commented on #328
@malukenho  how can i downgrade proxy manager version?

[2016-07-31 15:38] malukenho commented on #328
`composer require ocramius/proxy-manager`

@napestershine

[2016-07-31 15:41] napestershine commented on #328
@malukenho  Thanks I will try it

[2016-07-31 16:18] napestershine commented on #328
@malukenho  which version of Ocraminus Proxy-manager support php5.6.20?

[2016-07-31 19:36] #328 closed

[2016-07-31 21:10] Ocramius commented on #328
1.0.* supports ancient 5.* PHP versions.

On 31 Jul 2016 21:36, "Manoj Kumar" <notifications@github.com> wrote:

[2016-08-12 20:00] elymatos opened #330 "Ghost object - Missing argument"
Hello,
I'm getting
[Code] 2 [Error] Missing argument 5 for MBusinessModel::{closure}()
when I try to use a GhostObject (MBusiness model is my class). I cut/paste the example from site, so I don't know about this argument 5.
Thanks,
Ely

[2016-08-13 14:08] Ocramius commented on #330
Seems like you have too many arguments in your closure? Can you gist your
code please?

On 12 Aug 2016 22:00, "Ely Edison Matos" <notifications@github.com> wrote:

[2016-08-15 14:35] elymatos commented on #330
Hello,
it seems that generated code is not passing by the fifth parameter (properties):
https://gist.github.com/elymatos/dbb97c21ead871ea17ad7ba0a48f9e02

I just commented out the fifth parameter in my code.

Btw, I'm using GhostObject to lazy initialization on a small ORM project. I have a class to Model (no persistence) and a class for Map (with persistence). The idea is to call Map methods rela

[2016-08-15 14:54] Ocramius commented on #330
https://gist.github.com/elymatos/dbb97c21ead871ea17ad7ba0a48f9e02

Can you please gist the entire proxy, the class that it originates from, the initializer closure and the creation logic (the logic that calls the factory, etc)?

It is possible, but your internal state will be reset to default property values at each initialization cycle, so you will have to maintain the values somewhere, I fear.

[2016-08-19 18:24] Ocramius commented on #314
Moved to #327

[2016-08-19 18:24] #314 closed

[2016-08-23 07:42] nachomozo commented on #328
I have exactly de same issue with ocramius/proxy-manager 2.0.3 and PHP 7.0.10

[2016-08-29 16:18] theofidry opened #332 "Cloning lazy instantiated objects"

[2016-08-29 16:18] theofidry opened #333 "Cloning lazy instantiated objects"
If you have a proxy used to lazy instantiated object, cloning it will result in the instantiation of the said object. Is there any way to prevent that? Because this makes it impossible to use lazy instantiation in an immutable system.

To give a more real world use case, in the case of https://github.com/nelmio/alice, sometimes generating a fixture object may result in resolving other objects. For

[2016-08-29 16:34] Ocramius commented on #332
Duplicate of #333

[2016-08-29 16:34] #332 closed

[2016-08-29 16:35] theofidry commented on #333
@Ocramius sorry I pressed the enter key too soon.

[2016-08-29 16:37] theofidry commented on #332
ah... sorry about that

[2016-08-29 16:38] theofidry commented on #333
Also guess kind of related to https://github.com/myclabs/DeepCopy/issues/18

[2016-08-29 16:44] Ocramius commented on #333
A cyclic graph can *only* be built like that in PHP, since there is no construct that allows instantiation and bi-directional reference of objects at the same time. This is normal for imperative languages, so I' don't see a way around it.

This is a workaround, but it still isn't an "immutable cyclic graph". It just looks immutable from the outside.

Even if you disabled lazy instantiation in a sp

[2016-08-29 16:47] Ocramius commented on #332
https://www.youtube.com/watch?v=4QWfrxYt9DQ

[2016-08-29 17:02] theofidry commented on #333
Makes sense, so the problem comes from the way I'm solving those `2x @dummy*` in the first place. Thanks for the help :)

[2016-08-29 17:02] #333 closed

[2016-08-29 17:10] Ocramius opened #334 "Replace initializer closures with anonymous classes + interfaces"
Initializers are quick to write, but very complex to maintain and refactor, since no explicit contract is provided.

Luckily, since PHP 7, it is possible to simply use anonymous classes.

What we can do is providing a decent interface for initializers now:

[code]

Consumers can then use an anonymous class to instantiate such an initializer inline, but would still retain the BC and refactoring adv

[2016-08-29 17:10] Ocramius commented on #330
The code that you linked doesn't seem to come from a ghost object, but from a lazy loading value holder.

I opened #334 to prevent this kind of failure in future (simple with anonymous classes).

Closing this one as invalid.

[2016-08-29 17:10] #330 closed

[2016-09-07 23:53] fcpauldiaz opened #335 "PHP 7 update"
Please update this bundle to be compatible with php 7.0.9 or 7.0.10. It is breaking my apps

[2016-09-08 00:00] Ocramius commented on #335
@fcpauldiaz this library runs with 7.0.9 and 7.0.10? What bugs are you encountering?

[2016-09-08 00:40] fcpauldiaz commented on #335
I don't have any bugs I just can't install it because of this it is limited to php 7.0.7 in the composer
https://github.com/Ocramius/ProxyManager/blob/master/composer.json#L22

[2016-09-08 00:43] malukenho commented on #335
@fcpauldiaz It isn't limited to `7.0.7` https://getcomposer.org/doc/articles/versions.md#caret

[2016-09-08 00:43] Ocramius commented on #335
That simply excludes 7.0.6 from the compatibility, since 7.0.6 included a [quite bad bug](https://bugs.php.net/bug.php?id=72174) that was fixed in PHP [7.0.7](https://bugs.php.net/bug.php?id=72174).

[2016-09-08 00:43] #335 closed

[2016-09-28 15:04] digilist opened #337 "Object-Parameter with null as default"
Consider the following code:

[code]

Executing the code fails with the following message:

The function in the proxy is generated with the following code:
[code]

It looks like the parameter's default value (null) is skipped, if the parameter is not optional. This prevents me from passing null to the function instead of an object.

This happens with version 1 and 2.

[2016-09-28 15:23] digilist commented on #337
Sorry, I dug deeper into the problem and it is actually a problem within zend-code. I will open a bug report there.

[2016-09-28 15:23] #337 closed

[2016-09-28 19:27] DaGhostman opened #338 "Double call the parent method, when the name of the method matches the class name"
I was playing around with proxies and suddenly encountered a strange issue, reproduced by the code below:

[code]

Expected output: `123`
Actual output: `22`
Tested on: PHP 7.0.11
Affected Package Versions: `^1,0`, `^2.0`

This is definitely not an expected behaviour, since it is not documented anywhere. I personally don't see it intended behaviour, am I wrong?

[2016-09-28 19:31] Ocramius commented on #338
That is indeed NOT the intended behavior. Does it do the same when running https://github.com/Ocramius/ProxyManager/blob/b542cc4167215a778357412d307a87f531051fd8/examples/access-interceptor-scope-localizer.php ?

[2016-09-28 19:31] Ocramius commented on #338
Oh, wait... turn on error reporting. Your `Foo::foo()` may be considered a constructor...

[2016-09-28 20:05] DaGhostman commented on #338
Hmm.. I would guess so, since PHP4 style constructors are still deprecated (I thought they ware removed in 7, but probably not).. Strange thing is that no error/warning messages appear, as they should according to the docs:

This might be an issue on my side, although:
[code]

are the first lines of the script, still nothing. Your recommendation seems reasonable as they are not removed, but should

[2016-09-28 20:08] Ocramius commented on #338
@DaGhostman php methods are not case sensitive. Does the weird behavior persist when changing method name?

[2016-09-28 20:23] DaGhostman commented on #338
Yeah appears to be the problem, strange that nothing is comming out of PHP tho, but.. yeah.
It is in fact considered as a constructor!

[2016-09-28 20:28] Ocramius commented on #338
This is still a bug: ProxyManager should at least attempt at recognizing the problem. This might also be a problem in the reflection API, if `ReflectionMethod#isConstructor()` is failing.

[2016-09-28 21:19] basz opened #339 "Provided type ?... is invalid"
I've upgraded to proxy manager ^2.0 and now i see this strange error for lazy loaded zf delegated classes.

Hope you make more sense of `?` then me... To be sure I have reinstalled all composer packages and deleted the composer cache.

[code]

[2016-09-28 21:22] Ocramius commented on #339
You are running on PHP 7.1 - please see:

 * https://github.com/Ocramius/ProxyManager/pull/327
 * https://github.com/php/php-src/pull/2137
 * https://github.com/zendframework/zend-code/issues/85
 * https://github.com/zendframework/zend-code/pull/87
 * https://github.com/Ocramius/ProxyManager/issues/314

Closing as duplicate.

[2016-09-28 21:22] #339 closed

[2016-09-28 21:24] basz commented on #339
aha...

[2016-09-29 15:46] DaGhostman commented on #338
Might that be because the reflection API is looking only for the 5.0+ style constructors, hence making it a PHP bug?

P.S: A workaround (ugly still..) might be to manually check `ReflectionMethod#isConstructor()` as well as `RelfectinonMethod#getName()` or `ReflectionClass#hasMethod()` in order to work around this specific issue, I cannot think of any reasonable workaround

[2016-09-29 15:51] Ocramius commented on #338
@DaGhostman they are still constructors, so this is indeed an edge case, and not a bug :-(

https://3v4l.org/mtlBg

[code]

[2016-10-09 19:57] DaGhostman opened #340 "Unable to serialize proxy factory, when using FileWriterGeneratorStrategy as cache"
At the moment, the `FileWriterGeneratorStrategy` sets and resets the error handler to an empty closure. The problem arises, when trying to serialize a proxy factory, which uses it as a caching mechanism.

The serialization fails with `Uncaught Exception: Serialization of 'Closure' is not allowed`

[2016-10-11 01:29] Ocramius opened #342 "Disable cloning/serialization on classes that do not support it"
As per #341 and similar issues, cloning/serializing is not supported by most proxymanager classes, and should therefore raise a descriptive error message, if serialization is attempted.

[2016-10-11 01:41] Ocramius commented on #340
See https://github.com/Ocramius/ProxyManager/pull/341#issuecomment-252789509 - closing as `invalid`

[2016-10-11 01:41] #340 closed

[2016-10-11 04:09] Ocramius commented on #342
Created https://github.com/Roave/Dont for this purpose

[2016-10-19 11:49] polc opened #344 "`_get` method support in lazy loading value holders"
Is it possible to proxy a class witch has a `function __get($name)` method ?

Thanks

[2016-10-20 07:12] Ocramius commented on #344
Yes, see the test cases.

On 19 Oct 2016 04:49, "Paul Le Corre" <notifications@github.com> wrote:

[2016-10-20 11:43] polc commented on #344
hmm I've can't make it work, using Symfony and a lazy service, I've made a demo of the weird behavior if you want to check : https://github.com/polc/symfony-lazy/blob/master/src/AppBundle/Controller/DefaultController.php#L16

I got this error :
![image](https://cloud.githubusercontent.com/assets/3513348/19558453/e53ea196-96ca-11e6-8efc-a3eee2426eaf.png)

[2016-10-20 16:11] Ocramius commented on #344
Doesn't seem like it's proxying something with a `__get`. Can you link me to the proxied class? What does the proxy code look like?

[2016-10-21 08:06] polc commented on #344
Here is the proxy:

[code]

[2016-10-21 08:07] Ocramius commented on #344
@polc what's the orginal class like? `AppBundleService`, I mean.

[2016-10-21 08:12] polc commented on #344
Here is the AppBundle\Service class : https://github.com/polc/symfony-lazy/blob/master/src/AppBundle/Service.php

Tried with 1.x and 2.x and don't change anything.

[2016-10-22 15:11] Ocramius commented on #344
Indeed, reproduced the problem with following code. This indeed needs some fixing...

[code]

[2016-10-22 16:00] Ocramius commented on #344
Provided a patch in #345 that fixes this behavior for your particular scenario. Can you please try out that branch? Everything should work as expected there, but we'll also need to check the other proxy types.

[2016-10-22 16:05] Ocramius opened #346 "Generated proxies don't respect magic methods' inherited signatures"
ProxyManager will raise multiple notices due to class signature incompatibility when proxying a class like following one:

[code]

A class generation/evaluation test is sufficient for this scenario. The issue is simple: class signature should be copied, when available, instead of being constructed from scratch.

[2016-10-23 07:39] polc commented on #344
@Ocramius I can confirm it work for my use case.

Thanks you very much for your reactivity !

[2016-10-24 12:29] Ocramius commented on #337
Was moved to zendframework/zend-code#95

[2016-11-02 23:00] theofidry opened #347 "Support interface-bound proxies"
Follow up of https://github.com/theofidry/AliceDataFixtures/issues/16. When proxying a final class, you get right away an error like "class X cannot be proxied". In some regard, it does makes sense as a final class is not meant to be inherited. But a final class may inherit from another class and/or implement interfaces, in which case it would be nice to have a proxy that can actually be used for

[2016-11-05 09:10] Ocramius commented on #344
Part of 2.0.4

[2016-11-05 09:10] #344 closed

[2016-11-20 01:41] Ocramius commented on #346
Possibly to be checked against #345

[2016-11-26 06:33] Ocramius commented on #297
Closing as `invalid`, since no further answer was given.

[2016-11-26 06:33] #297 closed

[2016-11-30 14:55] Ocramius commented on #346
Moved to 2.1.1 - this is not a critical issue, although it will need fixing in future.

[2016-11-30 15:05] Ocramius commented on #72
See discussion in #103 about why I closed this. Great idea, but too much maintenance burden with the current development approach.

[2016-11-30 15:05] #72 closed

[2016-11-30 15:18] Ocramius commented on #295
Closing this: ProxyManager can indeed use an async adapter (fire-and-forget), but if the API provided by your object is not async, we can't fake it, and it would become synchronous anyway.

Therefore, this becomes an `invalid` `wontfix`.

[2016-11-30 15:18] #295 closed

[2016-11-30 17:34] theofidry commented on #347
Another related issue: https://github.com/symfony/symfony/issues/20656.

After those discussion, I think it's fair to reformulate the problem differently and ask if ProxyManager could support interfaces bound proxies besides of concrete implementations.

[2016-12-01 08:52] evpav opened #352 "Parametrized proxies"
Hello, I'm trying to create parametrized proxies like so:
[code]
but end up with the same proxied object. Is it by design or my code is wrong? Is it possible to do this at all? I'm using version 1.0.2, because I cannot use php7 on this particular project.

[2016-12-01 11:12] evpav commented on #352
Sorry, my bad, an error in my code was causing this.

[2016-12-01 11:12] #352 closed

[2016-12-01 11:57] Ocramius commented on #352
Seems correct to me: what do you mean by "same proxied object"? Check
tests/language-features-test and try writing a .phpt exposing the issue

On 1 Dec 2016 9:52 a.m., "evpav" <notifications@github.com> wrote:

[2016-12-02 20:01] Ocramius opened #354 "Verify code generation of proxied methods with parameters with default values that aren't at the end of the signature"
Example:

[code]

Ref: https://github.com/doctrine/common/issues/751 https://github.com/doctrine/common/issues/752

[2016-12-07 15:41] andreybolonin opened #355 "Uncaught TypeError: Return value of ProxyManager\ProxyGenerator\Assertion\CanProxyAssertion::isNotFinal()"
``Fatal error detected on file "vendor/ocramius/proxy-manager/src/ProxyManager/ProxyGenerator/Assertion/CanProxyAssertion.php" at line 72 with message: "Uncaught TypeError: Return value of ProxyManager\ProxyGenerator\Assertion\CanProxyAssertion::isNotFinal() must be an instance of ProxyManager\ProxyGenerator\Assertion\void, none returned in /home/foobar/code/vendor/ocramius/proxy-manager/src/Proxy

[2016-12-07 15:44] Ocramius commented on #355
Do **NOT** install composer dependencies without checking for environment compatibility. You are running PHP 7.1 code on PHP 7.0.

[2016-12-07 15:44] #355 closed

[2016-12-13 08:51] avg0043 opened #356 "Return type error"
Hi everyone,

I'm getting a return type error in file src\ProxyManager\Configuration.php. The error is the following:

And the file code in which resides the problem:

[code]

Line 97 error corresponds with the method declaration.

Why I'm getting this error if I'm using PHP 7.0.13 and it supports return types method?

Thanks.

[2016-12-13 08:53] Ocramius commented on #356
@avg0043 check that your CLI and your http server are running both on > 7.0.0.

[2016-12-13 08:53] #356 closed

[2016-12-13 08:59] avg0043 commented on #356
Thanks I will check it

[2017-01-10 08:54] Tomsgu opened #362 "Must be an instance of ProxyManager\void, none returned"
Hi,

I am getting a strange error here. I use symfony3 and everytime I make a change in my source code, I get this error:
`FatalThrowableError in Configuration.php line 124:
Type error: Return value of ProxyManager\Configuration::setGeneratorStrategy() must be an instance of ProxyManager\void, none returned`

But when I run symfony's clear cache command only with warmup it fixes the issue. But it

[2017-01-10 11:49] Ocramius commented on #362
@Tomsgu you are running the code against PHP 7.0, not 7.1. Be aware that PHP-CLI and the PHP CGI/web SAPIs are different.

[2017-01-10 11:50] #362 closed

[2017-01-10 11:51] Tomsgu commented on #362
Oh my goodness. So stupid. Thanks for the answer.

[2017-01-17 23:52] yellowmamba commented on #356
I can confirm the same issue for PHP 7.0.13-0ubuntu0.16.04.1 on both CLI and PHP-FPM.

[2017-01-17 23:54] Ocramius commented on #356
@yellowmamba ProxyManager 2.1.x **REQUIRES PHP 7.1** as per https://github.com/Ocramius/ProxyManager/blob/2.1.0/composer.json

[2017-01-17 23:58] yellowmamba commented on #356
Sorry @Ocramius my bad. I was just about to clarify my mistake, I am using 2.0.4 that's why I brought up this issue. However, the correct PHP version was in my Vagrant box and I was running a PHP command outside the box which is not the correct version. All good!

[2017-01-17 23:59] Ocramius commented on #356
@yellowmamba alright :+1:

[2017-02-04 19:00] jaoued commented on #328
Hi,

I have the same issue and i use `PHP 7.1.1`

Regards

[2017-02-04 19:07] Ocramius commented on #328
@jaoued check if it's both for CLI and your web setup. This code is tested against PHP 7.1.1, so you are evidently not running PHP 7.1 in the target environment.

[2017-02-04 19:14] jaoued commented on #328
I've checked in terminal:

[code]

[2017-02-04 19:15] Ocramius commented on #328
That's your command line, which isn't what libapache2modphp7 uses, nor what fastcgi uses.

[2017-02-04 19:21] jaoued commented on #328
Ok, so how i can check this? I use Nginx instead of Apache:

[code]

[2017-02-04 19:22] Ocramius commented on #328
Put a `phpinfo()` in your project, then check it from there.

[2017-02-04 19:28] jaoued commented on #328
<img width="959" alt="general_information_php7-1-1" src="https://cloud.githubusercontent.com/assets/2301050/22620956/5980f026-eb18-11e6-80d2-e31497b25ad1.png">

As you can see, there is the same version here :/

[2017-02-04 19:34] Ocramius commented on #328
Can you put that `phpinfo()` exactly where the strict types declaration is (and comment that one out instead)?

As said before, I really really really am confident that your system is simply not running PHP 7.1.* there.

[2017-02-19 22:47] Ocramius opened #363 "Avoid calling the proxy generator with a mismatched number of parameters"
As already reported by PHPStan, PHPStorm, Scrutinizer-CI and other tools:

[code]

That calls for a re-design of the interface.

The additional parameters were added due to BC compliance, but are obviously a smell. This probably calls for a "code generation context" containing all currently known information needed by the code generator.

[2017-02-24 13:26] tfe2012 commented on #328
I have now similar error on php71 version

[2017-02-24 13:40] Ocramius commented on #328
As said above: check the php version running the actual script. CLI != CGI
!= mod_PHP

On 24 Feb 2017 14:26, "michail rybakov" <notifications@github.com> wrote:

[2017-03-12 13:39] holtkamp opened #364 "Proxy class can not be written to file, when it was already assembled before"
As described here https://github.com/PHP-DI/PHP-DI/issues/459, the configuration to write proxies to a file is not considered when generating the proxy class name (especially the hash of the proxy parameters).

Not sure it *should* be, but this makes it impossible to write a proxy to a file, when it was already 'loaded' once with a configuration to not write it to a file.

This typically happens w

[2017-03-12 15:34] Ocramius commented on #364
@holtkamp it is a bit abstract. In general, you want to consider the current `ProxyManager\Config` as part of the hash, if I understand it correctly.

That seems reasonable, since multiple running applications may use their proxies from different locations.

Unsure if worth fixing though, as nothing in a proxy class definition depends on the `ProxyManager\Config`. Two calls to a proxy factory, usi

[2017-03-12 16:08] holtkamp commented on #364
Exactly, writing files to disk is currently impossible when it was not the first time the proxy is generated.

I would say it is worth fixing (at least for the use-case indicated in https://github.com/PHP-DI/PHP-DI/issues/459), only the question is whether this is the proper location to fix it... I think it is the simplest way to let `class_exists()` return false...

[2017-03-13 09:33] asgrim opened #365 "i need your help"
hi marco

[2017-03-13 09:33] asgrim commented on #365
r u there ?

[2017-03-13 09:33] asgrim commented on #365
?

[2017-03-13 09:33] #365 closed

[2017-03-13 09:41] WyriHaximus opened #366 "Help James"
hey @Ocramius please help @asgrim #365

[2017-03-13 09:45] #366 closed

[2017-03-14 10:40] holtkamp opened #367 "Property name (suffixes) differ after each generation of a proxy"
**TL;DR;** This is more of a question than an issue: is it really *required* to have a unique suffix of the property names each time they are generated?

Currently each time proxies are generated, the properties are slightly differently named, due to the use of the UniqueIdentifierGenerator (for example for the [$publicProperties](https://github.com/Ocramius/ProxyManager/blob/cce5477857504997baf31

[2017-03-14 10:53] Ocramius commented on #367
Yes, because otherwise people will exploit those properties somewhere. What could be done is using a deterministic suffix, but it's simply not worth doing it, as the hashing parameters would need to cross many layers.

[2017-03-14 10:54] holtkamp commented on #367
Aah, ok, yeah that is an argument 😄 thanks for the swift response.

[2017-03-14 18:23] holtkamp commented on #367
Thinking about this again, but the visibility of these properties are all ```private```, so if someones tries to use them, of a proxy, with a crazy class name... well, that is really awkward 🤔 , right?

[2017-03-15 00:30] Ocramius commented on #367
If someone is crazy enough to mess with this library's generated code, they
are crazy enough to do so via reflection API...

On 14 Mar 2017 19:23, "Menno Holtkamp" <notifications@github.com> wrote:

[2017-03-15 08:29] holtkamp commented on #367
ok, but then 'supporting' this would not be this library's responsibility, right?

Feel free to close this issue, you got more experience in long-term maintenance of such project. I would say a "don't mess with or try to access the generated code" warning would suffice to cover any potential problems...

[2017-03-15 08:31] Ocramius commented on #367
I'm in a separate camp here: it should just not be possible at all.

[2017-03-15 08:32] #367 closed

[2017-03-16 19:22] Patroklo commented on #235
Hi! I have the same problem as here... I have a class that implements traits with the `_call()` method... right now it's still impossible to make something to prevent that? (of course, I can't delete the traits from the class, it's a composer package).

[2017-03-16 23:05] Ocramius commented on #235
Ah, the joys of traits (not).

On 16 Mar 2017 8:23 p.m., "Joseba Juániz" <notifications@github.com> wrote:

[2017-03-16 23:07] Ocramius commented on #235
See https://github.com/Ocramius/ProxyManager/issues/147

Looks like a duplicate, and can't fix it ATM.

[2017-03-17 09:03] Patroklo commented on #235
dawwwww... I'll have to use call_user_func_array then 8D

[2017-03-31 12:47] claborier opened #368 "ProxyManager\Configuration::setGeneratorStrategy() must be an instance of ProxyManager\void, none returned"
Hi !

I have a `Symfony3` project with a backend based on [easyAdminBundle](https://github.com/javiereguiluz/EasyAdminBundle)

EasyAdmin give some documentation to integrate [VichUploader](https://github.com/javiereguiluz/EasyAdminBundle/blob/master/Resources/doc/tutorials/upload-files-and-images.md) to manage file upload.

VichUploader require ocramius/proxy-manager v2.0 :
`vich/uploader-bundle

[2017-03-31 12:48] Ocramius commented on #368
Duplicate of #362

[2017-03-31 12:48] #368 closed

[2017-03-31 12:50] claborier commented on #368
Sorry I miss that one ;)

[2017-04-17 14:15] basz opened #369 "LazyLoading of PDO service"
Whilst trying to lazy load a PDO connection I get the following error;

Once I disable the lazy loading delegator (expressive/zend-servicemanager) everything works as expected... So what am I doing wrong?

here's a demo application: https://github.com/basz/lazyload-pdo
[code]

[code]

[2017-04-17 14:39] basz commented on #369
related? https://github.com/Ocramius/ProxyManager/pull/153

[2017-04-18 01:37] Ocramius commented on #369
Yeah, can't really fix this due to missing reflection support in php-src.
This can be fixed if we switch to BetterReflection for reading method
signatures (since BetterReflection has internal class stubs)

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Mon, Apr 17, 2017 at 4:39 PM, Bas Kamer <notifications@github.com> wrote:

[2017-04-18 12:06] basz commented on #369
any work being done on such a switch? just curious...

[2017-04-18 12:10] Ocramius commented on #369
I gave it a spin, and everything works fine, just much, much slower
overall, which might be a problem for some other libraries, so it's not
always a viable solution.

As for a workaround, you can make a quick workaround by extending PDO and
providing a userland implementation that defines the parameter defaults:
that would make reflection work correctly.

Marco Pivetta

http://twitter.com/Ocramius

[2017-04-18 12:12] basz commented on #369
are you saying one can choose BetterReflection to work with this lib currently?

I’ll try that workaround. thx

[2017-04-18 12:20] Ocramius commented on #369
Switching to BetterReflection is possible via some simple find/replace trickery right now (~5LOC change)

Ref: https://github.com/Ocramius/ProxyManager/pull/243

[2017-05-04 11:02] temple opened #370 "[Enhancement] Allow static methods / ReflectionMethods as callable interceptors in Smart Reference Proxies"
I've been recently working a bit with _AccessInterceptorValueHolderFactory_.

I've seen that when the moment of invoking a prefix or suffix interceptor arrives, it calls explicitly to `__invoke` "magic method" (see [here](https://github.com/Ocramius/ProxyManager/blob/master/src/ProxyManager/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/Util/InterceptorGenerator.php#L72) and [here](ht

[2017-05-04 11:05] Ocramius commented on #370
@temple I considered allowing `callable`, but when I initially developed the library, these weren't available. Changing the hint would likely be a BC break now, but it can probably be done for 3.x.

[2017-05-04 11:06] Ocramius commented on #370
@temple tip: remember to press `y` when browsing github references - `master` moves, so your links may break later on...

[2017-05-04 11:17] temple commented on #370
By the way, my personal workaround has been implementing an `__invoke` function and passing the object where this function is declared.
Here is the sample snippet:

[code]
[code]

[2017-05-04 11:21] Ocramius commented on #370
@temple that's really weird: I thought I had implemented type-checks against `Closure` via type hints.

If you want to give it a stab, I think it is safe to replace those `__invoke()` calls with just `()`, since this library is already requiring PHP 7.1 to run.

[2017-05-04 12:46] temple commented on #370
In my opinion this can be solved by using a couple of global functions, such `ProxyManager\invoke()` and `ProxyManager\is_callable()`,  gathering the logic necessary to determine the best way how to call the callable (`()`, `->invoke()`,..), depending on its nature; and finally placing `ProxyManager\invoke()` in the place of `__invoke()`

[2017-05-04 15:57] Ocramius commented on #370
I'll see what I can do: ideally, an interface would be required

On 4 May 2017 2:47 p.m., "Temple" <notifications@github.com> wrote:

[2017-05-04 16:13] Ocramius commented on #370
Note that I'm suggesting an interface because php made implementation via
anonymous classes relatively approachable, and the parameters are quite
precise.

On 4 May 2017 17:57, "Marco Pivetta" <ocramius@gmail.com> wrote:

[2017-05-04 16:14] temple opened #371 "FileLocator::getProxyFileName fails PSR-0/PSR-4 autoloading when no classmap is defined"
At version 2.0.4

When using an `AbstractBaseFactory` descendant, configured with a `FileWriterGeneratorStrategy` using a bundled `FileLocator` instance, it  SEEMS not providing a way to accomplish _PSRs_ in its logic behind [`getProxyFileName` function](https://github.com/Ocramius/ProxyManager/blob/2.0.4/src/ProxyManager/FileLocator/FileLocator.php#L57), and it crashes when checking the class sig

[2017-05-04 16:16] Ocramius commented on #371
@temple can you please check 2.1.x first? 2.0.x will only receive security fixes

[2017-05-04 16:48] temple commented on #371
Checking out 2.1.0 has "broken" my SF2 application cache.
Is there any known bug or unexplicited behaviour behind 2.1.x?

[2017-05-04 17:12] Ocramius commented on #371
Not really, it actually has even stricter checks...

On 4 May 2017 18:48, "Temple" <notifications@github.com> wrote:

[2017-05-05 08:06] temple commented on #371
Whenever I rebuild SF2 project cache via `php app/console cache:clear` it produces following constructor signature for class `Gos\Bundle\WebSocketBundle\Server\Type\WebSocketServer` ([at version 1.8.8](https://github.com/GeniusesOfSymfony/WebSocketBundle/blob/v1.8.8/Server/Type/WebSocketServer.php))

[code]

It produces a bad namespaced Type for $logger argument.
This only happens when I've attach

[2017-05-05 08:24] temple commented on #371
I think I've found.

"Symfony Bridge" has following "composer.json" requirements:

[code]

[2017-05-05 08:37] Ocramius commented on #371
That signature is correct. Writing:

[code]

and

[code]

is equivalent

[2017-05-05 08:56] temple commented on #371
¿Really?
Then, it is **not an issue** for "ocramius/proxy-manager", "symfony/proxy-manager-bridge" neither "zenframework/zend-code".

Sorry for the inconvenience

[2017-05-05 08:57] Ocramius commented on #371
@temple not a problem, but what is the failure you are experiencing?

[2017-05-05 08:58] temple commented on #371
Is this, it happens at execution time

[code]

[2017-05-05 09:02] Ocramius commented on #371
That is extremely weird, see https://3v4l.org/O6fKY for an example (pasted below).

[code]

Something else is wrong in that declaration mismatch

[2017-05-05 09:03] Ocramius commented on #371
Wait, where did your `$provider` parameter go? :|

[2017-05-05 09:13] temple commented on #371
Sorry, cause I'm dealing with two interactions facing this problem.

The error I've pasted [here](https://github.com/Ocramius/ProxyManager/issues/371#issuecomment-299415673) appears when clearing and warming up SF2 cache.

And the initial [issue experienced](https://github.com/Ocramius/ProxyManager/issues/371#issuecomment-299406332) was reported by apache like this:
[code]

I'm checking php-cli an

[2017-05-05 09:17] Ocramius commented on #371
Ah yes, make sure you got 7.1 straight there :-)

Let me know if I can be of any further help.

[2017-05-05 09:52] temple commented on #371
Well, it ain't exactly what was told here https://github.com/Ocramius/ProxyManager/issues/371#issuecomment-299243386

BUT,

Upgrading to `2.1.x` from `2.0.4`, meant assuming an upgrade from Zend Engine `3.0.0` to `3.0.1 (`php-cli `7.0.X` to `7.1`).

My mismatch between apache and cli done the rest.

[2017-05-05 11:10] temple commented on #371
I confirm aligning both php interpreters to version 7.1 fixes the error.

[2017-05-05 11:38] temple commented on #371
Recovering the issue subject, now that I have the project working,
I'm getting this error:

This happens (I think) because I'm using this code to instantiate the _ProxyFactory_

[code]

But this is "solved" by adding this three lines before the creation of the factory instance:
[code]

I think this doesn't make really sense to have an Autoloader that can works with a differerent _FileLocator_  tha

[2017-05-08 09:43] temple opened #372 "[Enhancement] Compatible signature for suffixInterceptor and prefixInterceptor"
In my case, I'm in the need of implement a common invocation gateway for _suffix_ and _prefix_ _Interceptors_.

This is what I call an `InvokableAccessInterceptor`.

This interface provides a single "gateway" function what can be passed as _methodPrefixInterceptor_ and also a _methodSuffixInterceptor_.

But it faces a little problematic.
As [officially documented here](https://ocramius.github.io/P

[2017-05-08 09:47] Ocramius commented on #372
@temple I don't see a value in a single interface for this, since the behavior is explicitly different. Having a wrapper that creates interceptors for you, honoring whether they are prefix- or suffix- ones, would probably be better.

Also, default parameter values are to be avoided as a "hack" to compatibilize APIs, as they hide the differences in subtle details.

[2017-05-08 09:52] temple commented on #372
I think I don't understand what you mean when you say

Mission of the CommonGateway is just containing a dynamic call to prefixesInterceptions and suffixesInterceptions.

It lets the user define a reusable _Gateway_ Trait in [self-declared inteceptor invokable classes](https://github.com/Ocramius/ProxyManager/issues/370).

[2017-05-08 09:56] Ocramius commented on #372
@temple you made the API have `$isPrefixInterception = true,  $returnValue = null` at the end of the signature: this means that this is not just 2 APIs in one, but 4 possible permutations. You also coded an "is-a" definition in the parameter.

As I already mentioned in #370, we will likely have interfaces for each of these closures, with the removal of `callable` support overall. A `PrefixIntercep

[2017-05-08 09:59] temple commented on #372
Ok, this is clear now for me.

Thank you for your patience

[2017-05-08 11:41] #372 closed

[2017-05-08 11:48] Ocramius commented on #372
@temple :+1:

Feel free to poke me if you want to start any work on this on your end - I have no time until Q3 2017, but then I should be able to start integrating this tool into Doctrine ORM, which also means time to fix the rough edges.

[2017-05-08 11:50] temple commented on #372
Would be a honour, maybe you don't know, but I consider you a guru, since apigility sf2 integration

[2017-05-08 11:51] Ocramius commented on #372
@temple I'm just an annoying internet person :-)

Feel free to poke me if you have questions and you want to give it a shot.

[2017-05-08 11:55] temple commented on #372
I've a little cuestion about PHP 7.1, but where is the right place to ask you?

[2017-05-08 11:57] Ocramius commented on #372
@temple on hangouts, via mail, on twitter, on irc.freenode.net (#doctrine, #roave, #zftalk), on [gitter](https://gitter.im/Ocramius/ProxyManager)

[2017-05-08 12:16] Ocramius commented on #371
Depending on the setup, some folks may not want an autoloader at all (they generate a composer autoloader with the proxies in it, for example), but indeed, allowing diverging configs is a pain.

The idea is that if you write to your `getcwd()`, then you should provide a mechanism to read from `getcwd()` as well.

I don't have a real fix for this, as there is no assumption that a generator strategy

[2017-05-08 12:57] temple commented on #371
No, it is not really easy to handle.

A possible way to face this is to replace constructors arguments with _Configuration_ type hints.
In other words, If you want your _Autoloader_'s `$fileLocator` differ from what is set in _Configuration_, you will always be able to user a _setter_.

Let me explain in the "code way":

[code]

[2017-05-08 12:59] Ocramius commented on #371
@temple the setter approach is already working: how would the `Configuration` class code differ?

[2017-05-08 13:01] temple commented on #371
The difference is in Autoloader and GeneratorStrategies.
Them both seem to be though for building or setting up a Configuration instance.

That's why, Configuration instance can have it own `FileLocator` and use this when creating instances of `Autoloader` or receiving a `GeneratorStrategy` (via _setter_)

[2017-05-25 11:34] indapublic commented on #328
Have same error
OSX 10.12.5
PHP installed by brew
php -v
PHP 7.1.5 (cli) (built: May 13 2017 13:30:32) ( NTS )
phpinfo: https://dl.dropboxusercontent.com/spa/hbn3pdf9anaiovl/wy_1j1yy.png

[2017-05-25 15:42] Ocramius commented on #328
Put a `phpinfo()` in the file that causes the issue, then continue checking from there: you are 99.9% running php 5.

[2017-05-26 02:00] indapublic commented on #328
@Ocramius Thanks for reply. Page shows PHP7.1, but GrumpPHP shows message it using PHP5.6, yes.

[2017-06-09 08:19] cjost1988 opened #373 "Proxy->__destruct called although service's __construct() was never called"
Hey,

as I can see there were some issues regarding the `proxy->__destruct()` reported before. I am running into the same issues like mentioned there.

An **external** service establishes connections on instance construction. Everything is fine until the proxy->__destruct() is invoked that itself forces instantiation of the service although it's not needed.

Is there any specific reason that you f

[2017-06-09 08:27] Ocramius commented on #373
Linking https://github.com/Ocramius/ProxyManager/issues/258
Linking https://github.com/Ocramius/ProxyManager/issues/262

As already described in the issues above, this library cannot make any assumptions about the behavior of `__destruct`. Specifically, `__destruct` may be running critical parts of your logic, and therefore cannot be "skipped" or "ignored" by this library.

I don't force anything

[2017-06-09 08:27] #373 closed

[2017-06-09 08:31] Ocramius commented on #373
Just adding an example of how this would work, since this hackery would be EXTREMELY complex to add at ProxyManager level:

[code]

[2017-06-09 08:46] cjost1988 commented on #373
Yes, I understand your point. But __destruct() makes only sense when the instance was constructed before?

Am I totally wrong with the assumption that the proxy is instantiated as placeholder for the real service until the real service is requested and therefor instantiated?

So in a real world without the proxy mechanism the `__destruct()` would also not be called if I would never instantiate my

[2017-06-09 08:54] Ocramius commented on #373
Does it? A lot of stuff like session handling, profiling, etc uses `__destruct` to act at application shutdown.

That's what every proxy implementing the [`LazyLoadingInterface`](https://github.com/Ocramius/ProxyManager/blob/e18ac876b2e4819c76349de8f78ccc8ef1554cd7/src/ProxyManager/Proxy/LazyLoadingInterface.php) does, yes. Still, when `__destruct` is implemented, your service/object will ALWAYS b

[2017-06-09 09:07] cjost1988 commented on #373
Yes it is. But only on an concrete instance. The destruct is invoked by PHP on every object which is not referenced anymore or at the script shutdown.

Yes, but the proxy pattern adds the logic that a target service will not be instantiated until it's used. So I can argument that the proxy library does exactly what you not want, execute behavior that would not be executed without the proxy.

Yes,

[2017-06-09 09:16] Ocramius commented on #373
A profiler may need to run and be initialized after all headers have been sent. Same for an error handler/collector. A perfectly valid example of this could be following:

[code]

[code]

This will either initialize the profiler at runtime, when the application does something with it, or in any case at `__destruct`, after everything was already sent to the client. Session handlers do the same, and

[2017-06-09 09:39] cjost1988 commented on #373
No. Only if I did `new MyService()` the engine would execute the `__destruct()`.

[code]
This would force MyService::__destruct() only because the `$myServiceProxy` was instantiated.

[2017-06-09 09:47] Ocramius commented on #373
You did `new MyService()` though: it's just lazily initialized, but it does exist, as a proxy ;-)

[2017-06-09 11:02] cjost1988 commented on #373
Ok, I think I got your point now.
There are two competing expectations.

But I unterstand why you say that it's necessary that the __destruct() at least invokes the `__construct`.
If you use a `Proxy` in your environment it has to be handled as it would be a concrete instance of the target and that implies the `__destruct()`.

Thank you for the long discussion.

[2017-06-09 11:07] Ocramius commented on #373
@cjost1988 no worries! Thanks for your understanding: I considered adding a flag to ProxyManager before, but the solution provided above is simpler and easier to understand too.

[2017-06-09 11:37] cjost1988 commented on #373
@Ocramius We've also talked about the possibility to add an additional flag to enable skipping `__destruct()` for services which use the `__destruct()` correctly and using it only for object lifecycle management.

But for now, we write a custom adapter which handles the expected proxy behavior.

Have a nice day.

[2017-06-13 00:10] Ocramius commented on #210
This is not going to happen anymore, since the ecosystem is slowly rejecting (sadly, but reasonably) HHVM's long incompatibility list

[2017-06-13 00:10] #210 closed

[2017-06-20 10:06] marcosh opened #374 "Proxy not working with `stdClass`"
If I try to create a proxy of a `stdClass` as follows

[code]

I get the following unexpected error: `Undefined property: stdClass::$bar`

[2017-06-20 10:24] Ocramius commented on #374
Yes, dynamic properties will not work out of the box

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Tue, Jun 20, 2017 at 12:06 PM, Marco Perone <notifications@github.com>
wrote:

[2017-06-20 10:46] marcosh commented on #374
Would it make sense to just add a note about this in the documentation of the package? And maybe provide an example on how to make dynamic properties work?

[2017-06-20 10:56] Ocramius commented on #374
I think this needs to be fixed, rather than documented as limitation. I would suggest starting from adding `.phpt` files for all dynamic properties scenarios (read/write/existence) in https://github.com/Ocramius/ProxyManager/tree/e18ac876b2e4819c76349de8f78ccc8ef1554cd7/tests/language-feature-scripts

[2017-07-10 12:38] lstrojny opened #377 "[Feature] [LazyLoadingValueHolderGenerator] Evaluate code directly that only accesses scope local variables"
Assume code like this:
[code]

It would be neat if we could avoid instantiating the proxy at all and simply evaluate the code locally.

@Ocramius  what do you think?

[2017-07-10 12:40] Ocramius commented on #377
Not sure what you mean by "evaluate locally". You are probably looking for
ghost objects, which do what you want

On 10 Jul 2017 2:38 PM, "Lars Strojny" <notifications@github.com> wrote:

[2017-07-13 10:03] lstrojny commented on #377
@Ocramius I am referring to this as an optimization for code that doesn't depend on properties and non-local symbols (except on methods that have the same guarantees). I am thinking of e.g. Voters in Symfony.

This is the base class:

{code:php}
abstract class Voter implements VoterInterface
{
    public function vote(TokenInterface $token, $subject, array $attributes)
    {
        // abstain vot

[2017-07-13 12:44] Ocramius commented on #377
@lstrojny I already tried going down this way, but this requires method contents analysis that I cannot do without extremely complex AST traversal. Even the PHP engine doesn't do this sort of inspection.

There are scenarios where this can be applied:

 * pure methods (analyzing this is a mess)
 * methods that don't interact with properties in any way (also tricky, since property access in PHP doe

[2017-07-13 12:45] Ocramius commented on #377
Oh, and note that ghost objects do not add new stack frames at all, which means that they are even more efficient than what you are proposing. What would still be tricky is to capture constructor arguments, freeze them and then call the constructor when the proxy is first initialised (which isn't done in this library yet, but could be done)

[2017-07-17 22:49] phpguru opened #378 "initializeProxy must be compatible with Doctrine"
Trying to deploy Symfony3 project on Ubuntu with PHP 7.1

    PHP Fatal error:  Declaration of DoctrineORMEntityManager_000000004025448d000000005ae5af7cccefc00df70107613b44fbd8e9c15cf3::initializeProxy() must be compatible with ProxyManager\\Proxy\\LazyLoadingInterface::initializeProxy(): bool in /var/www/production/releases/20170717122400/var/cache/prod/appProdProjectContainer.php on line 5126

I

[2017-07-17 22:56] Ocramius commented on #378
Did you upgrade ProxyManager without re-generating your proxies?

[2017-07-17 22:58] phpguru commented on #378
I'm not 100% sure exactly what you mean. I tried several different versions, deleted ocramius/proxy-manager and did a composer install again, but it kept complaining.

[2017-07-17 23:01] Ocramius commented on #378
`in /var/www/production/releases/20170717122400/var/cache/prod/appProdProjectContainer.php`

Re-dump your container after changing `ProxyManager` version.

[2017-07-18 16:04] phpguru commented on #378
If you mean to `php bin/console cache:clear` and `composer dump-autoload` yes I've done that. The code gets rebuilt with ": bool" return type hinting that is incompatible with the doctrine class.

[2017-07-18 21:35] Ocramius commented on #378
Can you clarify?

[2017-07-19 17:37] Ocramius commented on #378
Is this supposed to be closed?

[2017-07-19 17:38] phpguru commented on #378
Weird, no. It's been awhile since I did a cross-fork PR on Github.

When Symfony builds the appProdContainer, [one of two files Symfony builds upon first run after cache clear](http://oro-quickies.alanstorm.com/symfonys-two-generated-php-files/index.html), it creates this method...

    public function initializeProxy()
    {
        return $this->initializer596d2cc00ac8c163190862 && $this->initia

[2017-07-19 17:39] phpguru commented on #378
I created a PR.

[2017-07-19 17:39] Ocramius commented on #378
Are you running all environments with the same locked dependencies?

On 19 Jul 2017 7:38 PM, "Geoffrey Hoffman" <notifications@github.com> wrote:

[2017-07-19 17:41] phpguru commented on #378
I believe so... meaning composer.json & composer.lock is the same, and doing `composer install`?

[2017-07-19 17:49] phpguru commented on #378
Ok weird, in my appDevDebugProjectContainer built on Mac dev environment, the method signature is

    public function initializeProxy() : bool
    {
     }

So I'm not sure what's going on when I deploy the project in production on Ubuntu. It could also be a difference between coercive (in dev) and strict (in prod) type declarations. It's not clear.

[2017-07-19 17:51] Ocramius commented on #378
The signature of the generated code should have the return type

On 19 Jul 2017 7:49 PM, "Geoffrey Hoffman" <notifications@github.com> wrote:

[2017-07-19 17:53] phpguru commented on #378
Yeah, that much has become clear, and it's working fine on Mac with PHP 7.0.20. It's not clear why the appProdProjectContainer.php is not built correctly for me, but it's not an issue with ProxyManager. Thanks for your help.

[2017-07-19 17:53] #378 closed

[2017-07-19 18:55] Ocramius commented on #378
@phpguru to clarify, the return type is generated here: https://github.com/Ocramius/ProxyManager/blob/5c8c273a171c58a432d990394f183d77685adb0b/src/ProxyManager/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/InitializeProxy.php#L47

[2017-07-21 08:14] AndreRudolph opened #380 "Partly initialization"
Amazing and interesing project. I want to integrate your ProxyManager implementation into my project. However, I have a question about initialization of ValueHolderProxies. Is there any way to do a partly initialization depending on special use cases?

My use case:
I have a tree of objects.

        <?php

        class Object {
            private $parent;
            private $childs;

[2017-07-21 08:21] Ocramius commented on #380
Partial loading is only possible with a [ghost object](https://github.com/Ocramius/ProxyManager/blob/5c8c273a171c58a432d990394f183d77685adb0b/docs/lazy-loading-ghost-object.md), although I didn't implement it fully yet, and I'm unsure about the proper interface for now.

You probably want exactly what @lstrojny wants in https://github.com/Ocramius/ProxyManager/issues/377

There is one way to achie

[2017-07-21 08:34] AndreRudolph commented on #380
Thank you for your fast reply. Apparently you have planned to implement partial loading in future, so I can wait with this performance issue because it has not a high priority. The important thing is that it works and it works like a charm.

Maybe it will reduces complexity in future if you could provide a way to use objects as initializer instead of closures. Closures for less complex and classes

[2017-07-21 08:38] Ocramius commented on #380
That's the plan for a later version: since PHP anonymous classes are now available, I want to interface the initializer.

[2017-07-21 08:40] AndreRudolph commented on #380
That's a good idea. Then I will use your library without worries. 👍

[2017-07-31 11:28] Ocramius commented on #367
@holtkamp I implemented this in https://github.com/Ocramius/ProxyManager/pull/385

Just note that there is a gotcha: the generated property name changes at every version change of your base repo.

This means that committing the proxies can effectively cause more proxy changes later.

Chicken-egg, but we are getting there, slowly. At least the name doesn't change each time you run the code generato

[2017-07-31 13:01] holtkamp commented on #367
Nice! One doubt:

"my" base repo? [Seems to be the version of the ProxyManager](https://github.com/Ocramius/ProxyManager/pull/385/files#diff-51c12f174746e4e2d089de93e60e3a40R52), right?

[2017-07-31 13:09] Ocramius commented on #367
@holtkamp `PackageVersions\Versions::VERSIONS` includes all versions of all dependencies, including your local project name.

[2017-07-31 13:14] holtkamp commented on #367
Aah, ok, missed that, thanks!

[2017-09-08 07:37] gotu opened #388 "File name too long"
Getting this error with ocramius/proxy-manager 2.0.4 (on sulu/sulu 1.6.3) using ubuntu 16.04, php7.0:

`Could not write to path "/application/var/cache/admin/dev/sulu/proxies/ProxyManagerGeneratedProxy__PM__SuluComponentDocumentManagerDocumentUnknownDocumentGenerated6ba9e6da88c639a61276f3813626e37b.php.59b246012d98d0.05171805": path does not exist
`

File name is too long:
[code]

[2017-09-08 08:38] gotu commented on #388
so apparently the issue is that the filenames are too long for an encrypted drive

[2017-09-08 08:38] #388 closed

[2017-09-08 15:55] Ocramius commented on #388
@gotu I think one fix could be to use `temnam()` and a random location instead of that final `.59b246012d98d0.05171805`.

A stack trace would be better though.

[2017-09-19 22:06] Pittiplatsch commented on #388
Actually, I encountered the very same problem, but with Windows paths which are still limited to some 255 chars IIRC.
My workaround back then was to store the project very near to file system root, i.e. sth. like C:\project.

[2017-09-20 06:51] Ocramius commented on #388
Another solution is to replace the naming strategy of ProxyManager, which
is configurable.

On 20 Sep 2017 00:06, "Lars Heber" <notifications@github.com> wrote:

[2017-10-07 19:24] Ocramius opened #390 "Simplify initialization of ghost objects by allowing deferred constructor calls"
As it currently stands, the deferred initialization of a ghost object (as per documentation) looks [quite messy](https://github.com/Ocramius/ProxyManager/blob/ac38d0a5b3c927f6fe56de4fab0d622cf63dc70e/docs/lazy-loading-ghost-object.md#lazy-initialization):

[code]

Considering that we now support original constructors, a simpler solution could be as following:

[code]

This is a bit weird to read,

[2017-10-07 20:26] Majkl578 commented on #390
Be aware of this RFC:
https://wiki.php.net/rfc/disallow-multiple-constructor-calls

Also it will not work for classes without constructor: https://3v4l.org/4fP5f

[2017-10-07 23:17] Ocramius commented on #390
Well spotted!

Besides that, the constructor late call is an RFC that cannot pass right now, and it will be at least downvoted from me for now. Alternatively, I can provide a constructor polyfill via BetterReflection.

[2017-11-10 11:18] nicolas-grekas opened #394 "Lazy initializers turn proxy value-holder to a reference"
A proxy initializer is a closure with this signature:
`function (&$wrappedInstance, \ProxyManager\Proxy\LazyLoadingInterface $proxy [...]);`

This closure is called to initialize a proxy using something like:
`$this->initializer->__invoke($this->valueHolder, $this [...]);`

If for some reason (circular ref, bad initializer, or PHP bug), the `$wrappedInstance` reference is not released, then the `$

[2017-11-10 11:48] Ocramius commented on #394
@nicolas-grekas nasty one, but I don't think it can be fixed here. The `& $wrappedInstance` is by design, so that particular bit cannot be fixed. Would probably be interesting to have a test (seems like there is only a full repo to do that :-( ) and run it against various PHP versions to see if I can find a workaround.

The reason why the assignment is performed by-ref is because method calls to t

[2017-11-10 11:51] nicolas-grekas commented on #394
There is a fix in fact, which involves adding a new method on generated proxies and call it instead of directly calling the closure (the new method would call the closure). I can try something.

[2017-11-10 12:02] Ocramius commented on #394
@nicolas-grekas I'm more worried about getting a test scenario first :-\

[2017-11-20 17:31] jon-frankel opened #397 "[Question] Is it possible to replace the $wrappedObject?"
I have a use case where I need a proxy for the Doctrine2 entity manager. The problem I'm trying to solve is that when the entity manager closes, and is reopened, it does not use the original instance — it creates a new instance of the manager with a new connection. In that case, I would need to have $wrappedObject reference that new instance.

How would I accommodate that? Would it be possible to

[2017-11-21 05:16] Ocramius commented on #397
This can be dealt with in an access interceptor proxy, not in a lazy loading one.

[2017-12-05 07:45] Ocramius opened #400 "`LazyLoadingValueHolder` generated properties incorrectly documented"
Generated `LazyLoadingValueHolder` proxies have an incorrectly documented `valueHolder` property.

[2017-12-05 07:45] Ocramius opened #401 "The `staticProxyConstructor` method of all proxies can have a `self` return type"

[2017-12-05 16:11] StevioStudio opened #402 "Proxy method arg default value"
I have a service with this method:
`public function getFacebookAuth(\AppBundle\Entity\User &$user = NULL, GraphUser $facebookUser)`
Proxy is generated like this:
`public function getFacebookAuth(\AppBundle\Entity\User &$user, \Facebook\GraphNodes\GraphUser $facebookUser)`

Is this a bug? 'Cause I need the first arg to be NULL sometimes and using proxy is breaking my app.

[2017-12-05 16:20] Ocramius commented on #402
The signature above is not valid, because the first `= null` is succeeded by a non-optional parameter. This is fixed in PHP 7.1 and in release `2.1.0` by using a nullable type hint.

[2017-12-05 16:32] StevioStudio commented on #402
You're right. My bad. I switched args order and it's working correctly.

[2017-12-05 16:32] #402 closed

[2018-01-27 10:11] Netmosfera opened #406 "Could not retrieve default argument from builtin methods/functions"
PHP's reflection doesn't allow to retrieve the default argument from internal parameters.
ParameterGenerator::fromReflection just sets them to null if that's the case https://github.com/zendframework/zend-code/blob/6b1059db5b368db769e4392c6cb6cc139e56640d/src/Generator/ParameterGenerator.php#L81

In other words if the method signature is:
[code]
and the default argument for $foo can't be retrieved

[2018-01-27 11:31] Ocramius commented on #406
Silencing is absolutely not an option. The correct solution would be to swap out the internal reflection with `BetterReflection`, which provides proper polyfilling where the reflection API fails on core functions/methods.

See also https://github.com/Ocramius/ProxyManager/issues/369
See also https://github.com/Ocramius/ProxyManager/issues/162

[2018-01-27 11:34] Ocramius commented on #406
Closing as `duplicate` for now. #162 is the correct thread for this.

Work around swapping the reflection component is still in the works (https://github.com/Ocramius/ProxyManager/pull/243), but will likely be shipped in a new major version due to required configuration changes (it is too slow for most basic use-case scenarios).

[2018-01-27 11:35] #406 closed

[2018-02-01 21:14] nesl247 opened #407 "PHP version constraints and semver"
Is there any reason that PHP 7.1 support was dropped? It seems highly unusual and I would imagine it goes against semver to drop support for PHP 7.1 in a minor update (2.2.0).

[2018-02-01 22:25] Ocramius commented on #407
See http://doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

Bumping dependency versions is not a BC break (more in that page).

[2018-02-01 22:25] #407 closed

[2018-02-09 15:11] alanpoulain opened #410 "Update ocramius/package-versions"
Could you please update (^1.1.3) your PackageVersions in the composer file?
It's a dependency (^1.2.0) of https://github.com/Jean85/pretty-package-versions used by phpstan.
And I need ProxyManager because of https://github.com/doctrine/migrations.
Thanks a lot!

[2018-02-09 17:54] Ocramius commented on #410
`^1.1.3` includes `1.2.0`

[2018-02-09 17:54] #410 closed

[2018-04-24 11:07] xurshid29 commented on #407
Ok, we understand that "Bumping dependency versions is not a BC break", but, anyway, what was the reason? Why can't you leave php7.1 version support? Sometimes it can be hard to manage the version of PHP on servers.

[2018-04-24 12:04] Ocramius commented on #407
Few reasons among the many:

 1. it's my weekend
 2. nobody is paying me to support an older version
 3. the reflection API changed, and I'm not supporting two different API systems
 4. the test suite would require multiple switches just to enable/disable testing of `object` hints

[2018-04-24 12:06] xurshid29 commented on #407
@Ocramius Ok, thanks for the answer

[2018-05-08 18:12] 2DSharp opened #414 "Wrong error message from ProxyManager\Exception\FileNotWritableException on restricted directory"
`ProxyManager\Exception\FileNotWritableException` outputs an error: **Could not write to path "path/to/cache/dir" : path does not exist** while the path clearly exists and but the application doesn't have write permissions on the directory. This is a misleading error message and should probably be showing "is not writable" instead.

[2018-05-10 07:44] twmobius opened #415 "Return value ?object of getWrappedValueHolderValue"
On commit https://github.com/Ocramius/ProxyManager/commit/2c712a78278385c79f1959eed74ac81282b64318 return type `?object` has been added on the `getWrappedValueHolderValue()`.

On php 7.1 this commit causes my code to fail with error:

[code]

There is something wrong with the namespaces here

[2018-05-10 09:35] Ocramius commented on #415
If you check `composer.json`, the latest release of ProxyManager only supports PHP 7.2. you probably want to work on `2.1.*`

[2018-06-23 07:36] nicolas-grekas commented on #347
The page about [Lazy Loading Value Holder Proxy](https://ocramius.github.io/ProxyManager/docs/lazy-loading-value-holder.html) has a § at the end that tells this is supported. Is this something else?

[2018-06-24 10:06] nicolas-grekas opened #418 "Have a "strict" mode where magic getters/setters are dumped as throwing methods"
Could be especially useful when proxying base on an interface, to forbid using dynamic properties.
In this mode, using dynamic properties would throw an exception (unless __get/etc. are found in the proxied class/interface of course.)
Does this make sense?

[2018-06-24 11:08] Ocramius commented on #418
Ghe current logic mimicks PHP's behaviour: I really wouldn't want to invent my own semantics, as the library should be transparency.

[2018-06-24 11:09] Ocramius commented on #418
Also, I think this is already possible with an access interceptor with an interceptor on `__get`

[2018-06-25 07:39] nicolas-grekas commented on #418
Great, then no need to keep this open, thanks.

[2018-06-25 07:39] #418 closed

[2018-06-25 07:42] Ocramius commented on #418
@nicolas-grekas have you already seen https://github.com/InterNations/type-jail ?

[2018-06-25 07:44] nicolas-grekas commented on #418
Nope, didn't know, now checking, thanks for the link.

[2018-06-25 07:48] Ocramius commented on #418
@nicolas-grekas as far as I know, @lstrojny uses it to enforce getter-only-access in twig views

[2018-08-05 15:16] Ocramius commented on #179
Closing here: `zendframework/zend-code` is phasing out all code parsing facilities, so this should be gone by then. Besides that, the bug is in the dependency, not here.

[2018-08-05 15:16] #179 closed

[2018-09-22 19:10] Ocramius opened #431 "Fix current escaped mutants"
See https://github.com/infection/infection/issues/486#issuecomment-423764688

[2018-09-25 10:30] sunyinggang commented on #328
Check out the php used is 5.6.6,but i don't know this problem,how to change 7.1??

[2018-09-25 10:32] sunyinggang commented on #328
then?you find the problem,but it didn't solve. How to change 7.1??

[2018-09-25 10:37] Ocramius commented on #328
Please simply make sure that all your PHP installations are up to date: this project simply has a dependency to the newest PHP version, and is not really responsible for how you install PHP on your machines.

[2018-09-25 14:59] danieltoader opened #432 "[2.1.x] FileWriterGeneratorStrategy: File permission - compatibility problem when upgrading from 2.0.4 to 2.1+"
When updating from 2.0.4 to 2.1.* + the file permission for proxy generated files is forced to 0600 by the function _tempnam_ ( http://php.net/manual/ro/function.tempnam.php ).

Prior to 2.1 the temporary file name was generated using :
`$tmpFileName   = $location . '.' . uniqid('', true);`
Starging with 2.1 it changed to :
`$tmpFileName = tempnam($location, 'temporaryProxyManagerFile');`

This br

[2018-09-25 15:06] Ocramius commented on #432
That patch will indeed only land in 3.x

[2018-09-25 15:06] #432 closed

[2018-09-25 15:07] Ocramius commented on #432
Note that I won't revert the change from `2.0` to `2.1`: yes, it may have been a BC break, but changing it again is another breaking mistake then, hence the 3.x milestone

[2018-11-05 11:47] kgrieco opened #436 "Handle AISL proxies in Doctrine"
I'm building a new project and I'm using this package to wrap Doctrine entities using _Access Interceptor Scope Localizer_ proxies. However when I try to persist a proxy object I get (expected) error:

Is there a way to get rid of this problem?

[2018-11-05 11:57] Ocramius commented on #436
Persisting a ProxyManager proxy through Doctrine ORM won't work unless you use the current `master` branch of `doctrine/orm`, where the proxy layer is already managed by ProxyManager.

Otherwise, Doctrine won't be able to do much in general, because it internally uses `get_class()` to figure out what you are giving to it, and `get_class()` will resolve to an unknown proxy type.

Replacing all thos

[2018-11-05 11:59] Ocramius commented on #436
Actually, there is one location that transparently translates the `get_class()` calls: https://github.com/doctrine/persistence/blob/01c5f07bc091787b552d73669808defa7545720a/lib/Doctrine/Common/Persistence/Mapping/AbstractClassMetadataFactory.php#L401-L413

You can try hacking into that, but you are quite out of the range of what the ORM usually deals with.

[2018-11-05 12:49] kgrieco commented on #436
Ok thank you very much for information, I'm looking forward to Doctrine 3 :+1:

In the meantime I'll try to fix it on my own...

[2018-11-06 14:01] Orkin opened #437 "Tuning for production"
Hello @Ocramius,

I would like to tune the proxy manager for production. I already wrote a command to generate my proxies to prevent write/read permissions problem on docker container.
I used Zend Expressive and the Zend Service Manager. Maybe I have missed something but by looking the code of the Service Manager all is already include between thoses both component. And for now I have write proble

[2018-11-06 14:03] Ocramius commented on #436
Closing, since the question was answered.

[2018-11-06 14:03] #436 closed

[2018-11-06 14:07] Ocramius commented on #437
I am not up to date on the `zend-servicemanager` integration. If it is already tuned, then you don't need to do anything there.

Is the issue that proxies are being written to disk at each load? I didn't fully understand the question, in that case.

[2018-11-06 14:21] Orkin commented on #437
Hey thanks for your fast reply !

Yes it's exactly that, on each request proxies are written on the disk event they already exists.

I tried too, to add the register the autoload on my `index.php` to be sure it's execute but I have the same problem

[2018-11-06 14:22] Ocramius commented on #437
That most likely needs to be checked/tested directly within `zend-servicemanager` then. Can you open an issue there? We'd need to somehow test it first...

[2018-11-06 14:39] Orkin commented on #437
Yes of course

[2019-02-24 16:06] mnapoli opened #440 "How to force generation of a proxy?"
In PHP-DI we are implementing the generation of proxies at compile time (https://github.com/PHP-DI/PHP-DI/pull/645). So we need to generate proxy classes **without actually needing the proxy instances**.

What we had to do is overload the proxy generator to expose publicly the `protected generateProxy()` method:

https://github.com/PHP-DI/PHP-DI/pull/645/files#diff-c7c1194c4f1e314a097b1f91270a913f

[2019-02-24 16:13] Ocramius commented on #440
In `symfony/dependency-injection`, the proxies are dumped when the container is compiled. To do that, the DIC uses the proxy generator directly, rather than using one of the pre-configured `ProxyManager\Factory\*`.

See for example https://github.com/symfony/symfony/blob/v3.0.0/src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php

[2019-02-24 16:15] Ocramius commented on #440
Note: ProxyDumper includes some hacks for stuff that wasn't yet fixed in here, because I am still lacking tests.

[2019-02-24 17:48] mnapoli commented on #440
Thanks! It seems easier to simply generate a proxy instance instead (and not use the value).

[2019-02-24 17:48] #440 closed

[2019-02-27 12:59] #415 closed

[2019-02-27 13:03] Ocramius commented on #414
Looking at the implementation of `FileNotWritableException`, the error messages are quite clear in `master`:

https://github.com/Ocramius/ProxyManager/blob/6a6c80849c27a9416512d3eee2dd85a9778a0fbc/src/ProxyManager/Exception/FileNotWritableException.php#L13-L33

Closing as "duplicate" here, since this has been fixed in https://github.com/Ocramius/ProxyManager/pull/438

[2019-02-27 13:03] #414 closed

[2019-02-27 13:10] Ocramius commented on #401
After careful inspection, `zendframework/zend-code` does not allow specifying `: self` on a return type.

[2019-02-27 13:23] Ocramius commented on #401
Also, cannot be currently done because it would first need https://wiki.php.net/rfc/covariant-returns-and-contravariant-parameters

The test suite tries to proxy over pre-existing proxies, in which case a type restriction on a return type is only possible if variance checks are implemented in php-src.

[2019-02-27 13:51] #400 closed

[2019-03-06 00:19] Ocramius commented on #437
Fixed in https://github.com/zendframework/zend-servicemanager/issues/274#issuecomment-444452528

[2019-03-06 00:19] #437 closed

[2019-03-19 08:01] soufianez75 opened #451 "synfony integration"
I have an issue with proxymanager since this week end

PHP Fatal error:  Declaration of Symfony\\Bridge\\ProxyManager\\LazyProxy\\PhpDumper\\LazyLoadingValueHolderGenerator::generate(ReflectionClass $originalClass, Zend\\Code\\Generator\\ClassGenerator $classGenerator) must be compatible with ProxyManager\\ProxyGenerator\\LazyLoadingValueHolderGenerator::generate(ReflectionClass $originalClass, Ze

[2019-03-19 08:06] Ocramius commented on #451
Damn, this is my mistake, and I even marked the commit as BC Break, sorry :-(

https://github.com/Ocramius/ProxyManager/commit/b6f50fcc8ad5cf9c48a4e335e2967a04b2a2fd80

[2019-03-19 08:11] Ocramius commented on #451
@soufianez75 wait, are you running with PHP 7.4?

I'll revert the patch for `: void` specifically.

See https://wiki.php.net/rfc/allow-void-variance for what's going on.
Other parameter types won't be reverted, as per https://wiki.php.net/rfc/covariant-returns-and-contravariant-parameters (pending implementation)

[2019-03-19 08:34] Ocramius commented on #451
@soufianez75 can you please try out #452 before I release this?

[2019-03-19 09:57] #451 closed

[2019-03-19 12:57] JayPe69 commented on #451
Hello,

I just updated :

https://github.com/Ocramius/ProxyManager/issues/451

[code]

However in symfony project :

`> Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::clearCache

Fatal error: Uncaught Symfony\Component\Debug\Exception\UndefinedMethodException: Attempted to call an undefined method named "hasType" of class "ReflectionProperty". in C:\wamp64\www\piko\vendor\ocramius\proxy-

[2019-03-19 13:00] Ocramius commented on #451
Well, for that to work you need PHP 7.4, as `composer.json` states

[2019-03-19 15:34] seftomsk opened #454 "Fix version php 7.4"
When I want to install symfony/migrations I get ocramius/proxy-manager 2.3.1 requires php ^7.4.0 -> your PHP version (7.3.3) does not satisfy that requirement. But php 7.4 unavailable yet

[2019-03-19 16:46] Ocramius commented on #454
That is correct: 2.3.0 requires PHP 7.4 (see release notes).

If you need earlier PHP versions supported (yes, including current stable ones), check the other 2.x releases.

[2019-03-19 16:46] #454 closed

[2019-03-19 17:55] timEulitz opened #455 "ProxyManager 2.3 does not follow Semantic Versioning"
With all due respect for your work, I am also definitely hyped for PHP 7.4 but don't you think it's odd to release such a major change as a minor stable release when PHP 7.4 is still in an early alpha development phase?

Would it not make much more sense to make this version 3.0-dev, considering there is really no way this code can be executed on anything that could be remotely considered a stable

[2019-03-19 18:06] Ocramius commented on #455
Hello,

According to SemVer, dependency upgrades are allowed in minor releases. We've documented this at https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

If you need PHP 7.1 or 7.2 support, please rely on `^2.2` or ``^2.1`.

No backwards compatibility was broken: inadvertently introduced BC breaks were fixed in `2.3.1` (released this morning).

[2019-03-19 18:06] #455 closed

[2019-03-19 18:09] Ocramius commented on #455
Please also note that I regularly bump dependency requirements (including PHP version) in every minor release, and I kept doing that for years: if you suddenly got a problem due to this, please make sure that you are running `composer update` in a production-alike environment.

[2019-03-19 18:30] timEulitz commented on #455
Hey, thanks for taking your time to get back to me. The explanation you linked does make sense and I was not aware of that, so thanks for clearing that up. I guess we have an issue in some composer.json file and I'll look into that.

However, I am still not sure what the point of releasing a stable release for a PHP version that is still in alpha and roughly 9 months away would be - you also did n

[2019-03-19 19:25] Ocramius commented on #455
Very good point. Right now, I needed this personally in order to start developing on PHP 7.4, but my main push is for stabilising the library onto the current PHP 7.4 dev branch (with weekly CI builds), as well as getting people ti try things out.

Specifically, if you run typed properties with ProxyManager 2.2.x, it will just explode spectacularly, while now it is possible to prototype freely.

I

[2019-03-19 19:31] Slamdunk commented on #455
:clap:

It's so rare to see a polite conversation in a controversial topic that I think you just earned @Ocramius respect in one phrase

[2019-03-20 08:28] gigafoxweb opened #456 "ReflectionProperty::hasType"
Attempted to call an undefined method named "hasType" of class "ReflectionProperty"

http://php.net/manual/en/class.reflectionproperty.php

https://github.com/Ocramius/ProxyManager/blob/2.3.1/src/ProxyManager/ProxyGenerator/Util/Properties.php

[2019-03-20 08:31] Ocramius commented on #456
Please check your PHP version: 2.3.0 requires PHP 7.4.

Also check your composer installation process.

[2019-03-20 09:48] msphn commented on #456
Yeah requiring PHP 7.4 in a minor. Great idea!

[2019-03-20 09:50] Ocramius commented on #456
@msphn please read through

[2019-03-20 09:50] #456 closed

[2019-03-20 11:14] m47730 commented on #455
i've just seen the "voodoo php magic" speech of Marco that i found inspiring and fun.
If i understand correctly ProxyManager do use magic, so (in my opinion) it's a task of a good maintainer try early version of PHP to catch explosion bugs as fast as possible.
So if you test and fix bugs here and then to comply with 7.4 so why not release it? It makes sense; it's simply unconditional trust on comp

[2019-03-20 11:19] Ocramius commented on #455
Yeh, the alternative was indeed to have the branch rot for another 9 months 😜

[2019-03-20 11:31] timEulitz commented on #455
Hey, just as an update, I had another look at this and it turns out that `doctrine-migrations` 1.8 actually requires `"ocramius/proxy-manager": "^1.0|^2.0"` which is part of the reason why the issue appeared for us:

https://github.com/doctrine/migrations/blob/1.8/composer.json#L17

Yes, I think this is a flaw in our setup that has simply gone unnoticed for quite some time (mainly due to the misun

[2019-03-20 11:34] Ocramius commented on #455
My suggestion here is to have a barebone box with  your PHP extensions, then running `docker run -v .:/app my-php-environment composer update` from there

[2019-03-20 12:24] Taluu commented on #455
Or, to remove the `--ignore-platform-reqs` (I'm guilty of using it too because of docker and memcached...) and to add whatever is relevant to the `platform` config ?

[2019-04-04 21:55] natec8 opened #458 "Release Minor Version of 2.2"
Would it be possible to get this commit (see below) merged in to v2.2.2 and then bump to v2.2.3? I want to upgrade to v2.3.1, but I am on php7.3 and will not upgrade to php7.4 until it's officially released.

https://github.com/Ocramius/ProxyManager/commit/d20817ffb8712b02a8d710673c581df2c3e259a4

Or if possible it would be great to get a lot of the features/fixes that have been added to v2.3, tha

[2019-04-04 21:57] Ocramius commented on #458
Seems feasible :+1:

[2019-04-05 10:23] xlttj commented on #456
Hmm, is PHP 7.4 already out and stable? Can't find it on https://www.php.net/ChangeLog-7.php

[2019-04-05 10:38] Ocramius commented on #456
No, it is not yet released

[2019-04-05 10:46] xlttj commented on #456
So, I don't get it… What's the point in bumping dependency to a non-released version? ProxyManager seems to be required by Pimcore, which is based on Symfony. I get this error:

[code]

[2019-04-05 10:52] Ocramius commented on #456
Mostly facilitating downstream work on PHP-7.4 specific components, such as in `doctrine/orm`.

At which version?
You can just rely on the previous stable release: pimcore itself surely doesn't lock you onto bleeding edge.

This version should never be reached if your environment isn't capable of running it (that is what the composer SAT processing does for you).

[2019-04-05 10:53] Ocramius commented on #456
As mentioned above though, read through https://github.com/Ocramius/ProxyManager/issues/455

[2019-04-08 10:08] josefsabl opened #459 "FileWriterGeneratorStrategy problem with persmissions"
Hello, I use Doctrine ODM which internally uses this library in its 2.0 version (As I understand it).

We encountered a problem where our proxies are not writeable by our CLI script when they are generated by Web.

I isolated the problem like this:

- tempnam is used to generate temporary file here: `\ProxyManager\GeneratorStrategy\FileWriterGeneratorStrategy::writeFile` and it works with location

[2019-04-08 10:09] Ocramius commented on #459
Check if this is related: https://github.com/Ocramius/ProxyManager/issues/458

[2019-04-08 10:19] josefsabl commented on #459
Yes, it is related indeed as this chmod in the FileWriterGeneratorStrategy resolves the problem.

Well, to be precise, I am not sure what version do the Doctrine DOM guys use as their dependency. My version doesn't have the chmod at all (My version is 2.2.2, but it is installed indirectly as dependency of Doctrine ODM). The patch #458 is not actually too important, I patch-fixed the problem by man

[2019-04-08 10:24] alcaeus commented on #459
We require `^2.2` for ODM.

[2019-04-08 10:25] Ocramius commented on #459
You can use a different file locator: https://github.com/Ocramius/ProxyManager/blob/ba2d3a0bfe72ada4ecae1e1d1167e4b90dd3639a/src/ProxyManager/GeneratorStrategy/FileWriterGeneratorStrategy.php#L51

[2019-04-08 10:42] josefsabl commented on #459
Thanks for the suggestions, maybe Doctrine guys will use this hack as they overload the default FileLocator already anyway.

But I still think it is a bug in writeFile method as it expects a file path but works with is as with directory path. And now I noticed the 2.3 has this fix already. So nothing to do here.

Thank you for your time.

[2019-04-08 10:42] #459 closed

[2019-04-08 11:00] josefsabl commented on #459
One last point as simply adding the \dirname didn't fix the issue. tempnam documentation doesn't say anything permissions but some comments state that:

But this doesn't seem to actually to be the case. Although the location is now correct and temporary file is created in the application temp, it still has permissions as if permissions of system temp were applied.

Will update this when we confirm

[2019-04-08 13:49] 9ae8sdf76 opened #460 "Clearer error messaging when composer.lock is not found"
In `PackageVersions::getComposerLockPath()` the code looks for `composer.lock` file in two locations:

1. `__DIR__ . '/../../../../../composer.lock'` - the top-level project's root directory
1. `__DIR__ . '/../../composer.lock'` - the `package-versions` root directory inside of vendor

If neither directory has a composer.lock, then an exception is rightfully thrown. However, in `PackageVersions::g

[2019-04-08 13:51] Ocramius commented on #460
Lock file is super important: make sure it is always shipped with your project, since a lot depends on it.

Meanwhile, closing here: this is solely a problem of `PackageVersions`. If you know how to improve resiliency there, please send a patch 👍

[2019-04-08 13:51] #460 closed

[2019-04-08 13:52] 9ae8sdf76 commented on #460
Shoot. I meant to open this in PackageVersions. My apologies. :)

[2019-04-08 13:53] Ocramius commented on #460
Ah, another idea: consider looking under `vendor/composer/installed.json`

[2019-04-08 16:19] josefsabl commented on #459
Looking forward to having this in 2.2 :-)

[2019-04-09 20:35] puku opened #461 "Invalid Redis Proxy"
I'm not sure if this issue should be fixed on the ProxyManager side, but maybe you have some nice ideas on how it can be fixed or some advice.

I'm using `PHP 5.6`, `Redis 4.3` and `Symfony 3.4`.

Everything is working fine without `ProxyManager`, but when I try to install `ProxyManager`(actually I need [doctrine/migrations](https://github.com/doctrine/migrations), which requires `ProxyManager`) I

[2019-04-09 20:40] Ocramius commented on #461
This is a problem of `Redis` itseld, usually solved by upgrading to a maintained PHP release.

Related: https://github.com/snc/SncRedisBundle/issues/442#issuecomment-446560529

See also https://3v4l.org/D2gl3

Your immediate resolution path is to get rid of PHP 5.6 as soon as possible, since it is EOL'd.

[2019-04-09 20:40] #461 closed

[2019-04-15 06:05] alcaeus commented on #459
That isn't possible. While we can change the file name in the file locator, the logic in the `FileWriterGeneratorStrategy` is always the same: write the file to a temp location, then move it to the actual filename returned from the file locator. This is done to ensure atomic writes in a concurrent environment, as `move` operations across the same partition are atomic in most file systems, while wr

[2019-04-25 07:53] josefsabl commented on #458
Is this expected to be merged anytime soon? Thank you.

[2019-04-25 09:56] Ocramius commented on #458
I didn't work on this project over the past few weeks.

On Thu, 25 Apr 2019, 09:53 josefsabl, <notifications@github.com> wrote:

[2019-04-29 11:39] josefsabl commented on #458
I added this to my composer.json to test the pull request and will try to use it for a while to fix the problem and see how it works. It will take me some time to acknowledge the functionality as it requires some server configuration.

[code]

[2019-04-30 14:49] ricardofiorani commented on #455
So instead of "leave the branch to rot for another 9 months" it was decided to require an unreleased version of PHP, release a new version of this and introduce a problem to everyone who depends directly or indirectly to ProxyManager ?

With all due respect, every user of `doctrine/migrations` are going to have problems due to this unwise decision.

👏

[2019-04-30 14:52] Taluu commented on #455
`doctrine/migrations` requires `^2.0.2`, not `^2.0`, so neither `2.1`, `2.2` or `2.3` will be used...

And as it was already said : as long as you don't use `--ignore-platform-reqs`, as the require states `^7.4`, composer won't install the new version. And that's it.

[2019-04-30 14:56] Ocramius commented on #455
Locking here: @Taluu explained this correctly, use composer the way it is designed to be used (with SemVer version matchers).

[2019-05-01 10:14] Ocramius opened #463 "Provide `@psalm-param class-string<T>` documentation for proxy factories and anything type-hinted `object` and `: object`"
See https://psalm.dev/docs/templated_annotations/#param-class-stringlttgt

[2019-05-15 21:29] luispabon opened #464 "BC break in 2.3.x?"
Looks like it requires php 7.4, which seems like a bc break that would perhaps demand a 3.0 release instead.

[2019-05-15 21:41] Majkl578 commented on #464
Changing PHP requirement is not a BC break: https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

[2019-05-15 21:51] luispabon commented on #464
I think that's debatable :man_shrugging:  If I can't drop it into a working setup and have it work, then it's not backwards compatible with the version before.

[2019-05-16 01:13] Ocramius commented on #464
Closing as invalid and duplicate of https://github.com/Ocramius/ProxyManager/issues/455

[2019-05-16 01:13] #464 closed

[2019-06-03 10:36] Ocramius opened #466 "Add `roave/you-are-using-it-wrong` dependency"
Note: this will require a major version bump, because it will effectively lead to failed installations (rather than `composer update` sticking to previous versions).

See https://github.com/Roave/you-are-using-it-wrong

[2019-06-03 16:41] #463 closed

[2019-06-14 19:41] odahcam opened #468 "[From PHP-DI] `__destruct` magic method being called before lazy Proxy creates value #669"
When the class gets destroyed in its life cycle, the `__destruct` method gets called and, if there's one implementation in the original class, the proxy class tries to execute the base class implementation. But looks like the proxy class is getting destroyed before creating a instance for the base class and, as there's no check for null values, we get the following error:

[code]

The project path

[2019-06-14 19:43] Ocramius commented on #468
This is very likely a duplicate of https://github.com/Ocramius/ProxyManager/issues/373

[2019-06-15 14:02] odahcam commented on #468
Yes, looks like it is, but I would like to discuss it again if possible, starting with: why the instance inside the proxy-generated class is never checked for null values before being called?

I think this is a serious problem, the proxy class should check if the instance value exists before calling it. The proxy should do that at least in the magic methods, cause there's no way to guarantee the m

[2019-06-15 14:05] Ocramius commented on #468
In theory, the initializer should have been called. The only reason why this could fail is a failure to initialise the property: that should lead to an exception to be thrown, but due to the weird semantics of `__destruct`, it gets called anyway.

Do you maybe have an example of the class that was proxied, and its initializer?

[2019-06-15 14:22] odahcam commented on #468
This is the proxied class, attention in `Injectable`:

[code]

`Injectable` is a property read by PHP-DI, that uses this class and the proxy to create lazy injection functionality. In this case, I don't know where the proxy is really generated, maybe @mnapoli can explain to us better.

[2019-06-15 14:24] Ocramius commented on #468
Can `__construct` for this object throw? I think you could try writing a test in https://github.com/Ocramius/ProxyManager/tree/2.4.0/tests/language-feature-scripts

I don't know which kind of proxy is being used in the upstream library though.

[2019-06-15 14:56] odahcam commented on #468
Well, construct is just setting a property, like:

[code]

I would say it doesn't throws, because no integrations tests failed while in development, but when in production, where the PHP-DI container gets compiled, the error shows up.

[2019-06-19 16:35] Ocramius opened #469 "`ProxyManager\Factory\AbstractBaseFactory#generateProxy()` does not use `$proxyOptions` as part of the class name signature"
In practice, the following should be true, but isn't the case right now:

[code]

[2019-06-20 02:57] Ocramius commented on #469
Implemented as part of #467, but need to backport and test this too.

[2019-06-21 22:06] alex2005git commented on #464
Just wanted to let you know that this is still an issue that should be addressed.
One fine day I find myself with breaking code because a library uses yours, and it broke.

@Taluu's comment is just plain wrong, `^` means all minor changes less than the major one, so ^2.0.2 will indeed select 2.4 (^2.0 is the same, it just adds the versions before 2.0.2 to the list), what he was thinking about is `

[2019-06-21 22:16] Ocramius commented on #455
To clarify, `^2.0.2` selects `>=2.0.2,<3.0.0`. This is correct, and you will get the newest `ocramius/proxy-manager` compatible with your project and environment constraints.

Ref: https://github.com/Ocramius/ProxyManager/issues/464#issuecomment-504587673

[2019-06-21 22:19] Ocramius commented on #464
No, it shouldn't: @Majkl578 made it clear in https://github.com/Ocramius/ProxyManager/issues/464#issuecomment-492834456.

It broke because you were running against a dependency set not compatible with your `composer.lock`. `composer.lock` **MUST** be honored: if you don't do that, you are developing on dangerous grounds, and you should fix that.

@Taluu is indeed mistaken, and that happens (I also

[2019-06-21 22:37] alex2005git commented on #464
The whole argument seems to rely on doctrine's response about it.
But just because they say it, it doesnt mean, for me at least, that everyone swears by it.

The code broke yes, but I didn't say it was in production.

For me, it seems simple enough.
If I could just drop the new version in my composer file and the code would run, it's a minor bump.
If for whatever reason it doesnt work, then it's a

[2019-06-21 22:44] Ocramius commented on #464
I am part of the folks that wrote that article: I'm not using it as a "doctrine does it, hence it is right", it is just a correct approach. Other tools cannot do this for other reasons, see for example https://github.com/zendframework/maintainers/issues/59, in which ZF can't upgrade due to LTS having to be **installable** with older PHP releases too.

You'll have to upgrade dependencies, not code.

[2019-06-21 22:50] alex2005git commented on #464
Thanks for taking the time to respond.
I respect your views, but will kindly disagree, 7.4 hasn't even been released yet.

What happens to any future bug fixes, until 7.4 gets released in November (I would think no one has it in their production environment yet), will you maintain the version prior to the 7.4 changes?
Will you release `2.2.3` or are we just screwed? If so then `2.3` would be like

[2019-06-21 22:55] Ocramius commented on #464
No, unless they cause security issues, patches for that will only go to `2.3.x`, probably even `2.4.x` (currently working on that).

Only security fixes.

I'm already working on that, see #469.

Sorry, but that's you not relying on SemVer.

You should pin to `^2.2.2`, since I'm extremely careful about not introducing any BC breaks in any of the projects that I maintain, to the point that I wrote [

[2019-06-21 23:03] alex2005git commented on #464
Small fix, it should be `~2.2.2`, so it bumps just the patch.

I already had to do that in my composer projects that don't event include this dependency.
And we are talking about a lot of microservices that would need MR's and explanations about why it is needed.

Actually it's the other third party libraries that dont rely on SemVer, and they all should go an pin `~2.2.2` in their dependencies.

[2019-06-21 23:09] Ocramius commented on #464
No, it should be `^2.2.2`, so you'll get `2.3.1` and newer once SAT decides that your environment is ready.

It's in fact not needed: fix how you produce `composer.lock`

It is a project I care for deeply: you are free to fork and make it your own problem.

Locking here: this discussion is going nowhere, while you don't want to fix the root cause (broken build pipeline on your end).

[2019-06-25 12:39] anologicon commented on #468
Do we have any news about this issue ?

[2019-06-25 12:51] Ocramius commented on #468
@anologicon I'd need an example where this fails in an integration test, as noted in https://github.com/Ocramius/ProxyManager/issues/468#issuecomment-502371135

[2019-06-25 12:51] Ocramius commented on #468
Also needed: proxy type in use.

[2019-06-27 20:57] #469 closed

[2019-06-29 05:40] odahcam commented on #468
I don't know if I've implemented it right, but there it is: #471

[2019-07-05 21:55] kim-skyeng opened #472 "ValueHolder proxy for class with accessing to private property within final method"
I have class with accessing to private property within final method like this:
[code]
I get `Cannot access private property $prop` error if I call finalMethod on valueHolder proxy of this class.

Is there such limitation for Value HolderProxy using or I did something wrong? Can't find any mentions about it in documentation or issues.

[2019-07-05 21:57] Ocramius commented on #472
Could you make an example of something triggering this, in the context of ProxyManager?

[2019-07-05 22:02] kim-skyeng commented on #472
I tried launch this code. It triggers error.
[code]

[2019-07-05 23:31] Ocramius commented on #472
Interesting. I don't think that's fixable (the `final` method cannot be replaced). Do you have a stack trace for this?

[2019-07-06 01:00] kim-skyeng commented on #472
Trace:
[code]
I also tried to debug this code a bit and saw that php evaluate ClassWithFinalMethodAndPrivateProperty::finalMethod code with ProxyClass object as $this instead of call special inherited ClassWithFinalMethodAndPrivateProperty_123123::finalMethod like it does for non-final methods.

[2019-07-06 01:03] Ocramius commented on #472
Yeah, the issue here is that no initialisation can happen, so method calls cannot be redirected to the wrapped value.

[2019-07-06 01:06] kim-skyeng commented on #472
So it's pretty expected behavior, and you just should keep in mind that ValueHolder not really good works with final methods?

[2019-07-06 01:11] Ocramius commented on #472
Pretty much. I could alter the behaviour in a major release, so that it throws during code generation (since final methods aren't proxied).

See #187 and #189

[2019-07-06 01:32] kim-skyeng commented on #472
Well I would like also to tell my background story of this case. Hope it could be helpfully for people who google this problem.

It happened when I use Symfony lazy service with final methods as described above. Symfony DI uses ValueHolder for lazy services so toggling off laziness fix the problem. Also code works fine when I declare property protected or make methods non final. Of course all fina

[2019-07-06 01:34] Ocramius commented on #472
A `final` method would be broken anyway, so I think that throwing an exception upfront is a wiser choice here...

[2019-07-06 01:38] kim-skyeng commented on #472
Do you mean ValueHolder should not support classes with final methods even if it can work until accessing `private` members?

[2019-07-06 01:44] Ocramius commented on #472
Nono, it will be broken even in case of `public` state.

Try proxying this:

[code]

This should print:
[code]

[2019-07-06 01:46] Ocramius commented on #472
Actually, it may even work, now that I think of it (because of the `__get` tricks I wrote), but still very broken due to split method behaviour: one method acts on the state of the proxy, the other acts on the state of the wrapped instance.

[2019-07-06 02:06] Ocramius commented on #472
Let's re-open here to track the BC break to be introduced

[2019-07-11 01:46] kojidev commented on #460
@Ocramius can you please clarify what depends on `composer.lock` after `composer install`? It was working fine before now its throws this error

[2019-07-11 02:03] Ocramius commented on #460
It uses the current version to hash part of the generated proxy class names: this ensures that upgrades in the library do lead to new proxies, and stale ones are ignored.

Besides that, please report any issues in the upstream library, if it is an actual bug.

[2019-07-18 08:33] aligurbuz opened #474 "ocramius/package-versions 1.5.1 requires php ^7.3.0 -> your PHP version (7.2.16) does not satisfy that requirement."
**I am constantly having this problem. So my 7.1 and 7.2 tests fail. What is the solution?**

Problem 1
    - Installation request for ocramius/package-versions 1.5.1 -> satisfiable by ocramius/package-versions[1.5.1].
    - ocramius/package-versions 1.5.1 requires php ^7.3.0 -> your PHP version (7.2.16) does not satisfy that requirement.
  Problem 2
    - ocramius/package-versions 1.5.1 requires

[2019-07-18 08:37] Ocramius commented on #474
What's your `composer.json`?

[2019-07-18 09:13] #474 closed

[2019-07-20 13:37] aligurbuz commented on #474
sorry ocramius, recorded as ocramius / proxy manager in composer.json: 1.0 | 2.0.
ocramius / proxy-manager works when I remove the key.

[2019-07-20 13:38] Ocramius commented on #474
Didn't understand that: whay was your `composer.json` like?

[2019-07-20 13:42] aligurbuz commented on #474
"require": {
        "ocramius/proxy-manager": "1.0|2.0",
}

He was registered like that.
I think this package is loading other dependencies, so it has problems with me.
When I uninstall the package it started working without error.

[2019-07-20 17:04] Ocramius commented on #474
If you ran `composer update` on a 7.3+ system, and then ran `composer install` on a `7.0+` system, then this is expected: your `composer.lock` is not compatible with your deployment environment.

[2019-07-31 12:28] rask opened #476 "FileLocator, realpath, and vfsStream"
We are attempting to create an abstraction for proxy generation and we are using this library underneath.

We would also like to test this abstraction.

When I attempt to test proxy generation with vfsStream, there is some internal ProxyManager code that uses `realpath`, which in turn is not vfsStream compatible (https://github.com/bovigo/vfsStream/wiki/Known-Issues).

Is the `realpath()` call a s

[2019-07-31 12:42] Ocramius commented on #476
The `realpath()` is a hard requirement to avoid dealing with any symlinks.

You can safely swap the `FileLocator` with your own implementation.

[2019-07-31 12:42] #476 closed

[2019-07-31 12:49] rask commented on #476
That symlink avoidance sounds like a good candidate for `realpath` usage, yes. Will try and override it for tests.

The file generator implementation is using `tempnam()` which adds another layer to this issue (silently defaults to sys temp dir on stream wrapper URIs). Will see if there are any workarounds for it.

Will continue research, and return in case I think something would require your att

[2019-07-31 12:51] Ocramius commented on #476
This is required: `tempnam()` creates a safe writable file location, which can then be moved, allowing atomic write operations.

[2019-07-31 14:34] rask commented on #476
I managed to get vfsStream kinda working on our end. Now I just need to check why only the first test that generates proxies works, while other tests run after that do not.

I just created custom implementations for the interfaces for file location, autoloading, and file writing provided by PM, and injected those in the tests, worked well.

For `tempnam()` I opted for checking if `$location` is a

[2019-08-10 10:16] Ocramius commented on #458
Closing here: happening now, hopefully

[2019-08-10 10:16] #458 closed

[2019-08-24 13:29] Ocramius opened #488 "Drop compiled documentation"
As discussed briefly with @malukenho, the compiled docs (in the `gh-pages` branch) can probably be dropped in favour of just letting folks browse the `.md` files (which render quite nicely).

Given the amount of added dependencies coming in through the build tools used for publishing these pages, I think @malukenho's suggestion is sound.

Having a webpage is quite redundant right now: maybe we can

[2019-08-24 13:29] Ocramius commented on #488
@malukenho assigned to you just to have your opinion.

[2019-08-26 07:25] malukenho commented on #488
I fully agree on that, I will pick this one up.

[2019-08-26 09:33] Ocramius commented on #488
@malukenho no need for it: I just needed your opinion 👍

[2019-08-27 06:28] crmpicco opened #489 "Class name conflict with Symfony Bridge proxy manager"
I am experiencing a warning when running `composer dump-autoload --optimize` in my application and it is happening because of my apparent use of the proxy manager along with the Symfony bridge.

[code]
I am using Proxy-Manager 2.2.3:
[code]
Is this warning avoidable?

[2019-08-27 06:55] Ocramius commented on #489
This should be reported upstream: while I'm very happy to provide support to consumers of this library, I'm pretty unhappy to see abuse of this namespace done in this way.

Closing here, please report it on `symfony/symfony`, so they can fix it on their end.

[2019-08-27 06:55] #489 closed

[2019-08-28 11:25] Ocramius commented on #488
Handled in #490 and #491

[2019-08-28 11:25] #488 closed

[2019-08-28 13:14] Ocramius opened #492 "Lock onto PHP 7.4.x (not 7.5.x or newer)"
As discussed in https://github.com/symfony/symfony/pull/32992, SemVer does **NOT** work with the `"php"` dependency, so we need to lock onto minor releases to ensure proper stability of the package.

[2019-09-14 08:46] #492 closed

[2019-09-17 09:07] acornforth opened #503 "Is this legit php syntax ? it's causing an error for me... `protected ?string $proxiesTargetDir;`"
I am running Sylius 1.4.8, attempting to upgrade underlying symfony to 4.3.x, running on php7.2
this code is causing a syntax error on my local dev environment...

https://github.com/Ocramius/ProxyManager/blob/7ee016fd3cb55df1c244891d7fd66e0bce3b44a9/src/ProxyManager/Configuration.php#L29

[2019-09-17 09:15] #503 closed

[2019-09-24 02:23] ywcdiao opened #504 "Ambiguous class resolution: ProxiedMethodReturnExpression"
`Warning: Ambiguous class resolution, "ProxyManager\Generator\Util\ProxiedMethodReturnExpression" was found in both "../vendor/ocramius/proxy-manager/src/ProxyManager/Generator/Util/ProxiedMethodReturnExpression.php" and "../vendor/symfony/symfony/src/Symfony/Bridge/ProxyManager/Legacy/ProxiedMethodReturnExpression.php", the first will be used.`

[2019-09-24 02:43] ywcdiao commented on #504
see #489

[2019-09-24 02:43] #504 closed

[2019-10-07 09:33] Frederick888 opened #511 "Undefined property error when a property exists in proxied class but not initialised in proxy"
I originally reported this issue at doctrine/mongodb-odm#2080 and was asked to file another ticket here.

I encountered this problem after upgrading to mongodb-odm v2.0.0 and since some properties in my model are never set in the database, it results in `Undefined property` errors when the generated proxy tries to get their values:
[code]

I just went through the slides linked from readme but I ho

[2019-10-07 09:37] Ocramius commented on #511
This seems like the correct behavior to mr, but let's inspect further.

Can you maybe show your entity, and maybe the generated proxy file?

[2019-10-07 09:51] Frederick888 commented on #511
Err... It now breaks due to the `protected $excludedFromArray` I've got in my `BaseModel` at
[code]
Was I being crazy...?!

Anyway... Here are all the files I've got which are possibly related (btw I'm using Laravel):
[code]
[code]
[code]
[code]
[code]
[code]
If you've got any trouble reproducing this issue I can also figure out some time to set up a minimal repo tomorrow.

[2019-10-07 09:59] Ocramius commented on #511
Are you running on 7.3 or 7.4? Which version of ProxyManager?

Also, that lot of code is really only hit if a property stays unset, not really otherwise (unless you are accessing it from a scope where it isn't visible from)

[2019-10-07 10:09] Frederick888 commented on #511
I'm using PHP 7.4 and ProxyManager 2.2.3.

By the way, just guessing but https://github.com/doctrine/mongodb-odm/blob/2.0.0/lib/Doctrine/ODM/MongoDB/Hydrator/HydratorFactory.php#L468 might be relevant? Since if the initialiser is set to null `callInitializer728ea()` will never be called.
[code]

[2019-10-07 10:20] Ocramius commented on #511
Yeah, I think I wrote that code myself. Is your proxy completely uninitialised, or is there some partial initialisation going on?

[2019-10-07 10:35] Frederick888 commented on #511
Partial. Properties set by the hydrator are there but callInitializer728ea() is never called (got a breakpoint on the first line of the function and was never hit).

[2019-10-07 20:17] Ocramius commented on #511
Hmm, and the set initializer was never called? Or was it called at aome point?

Specifically, I'd expect unset properties to still be unset if the initializer was skipped. The initializer provided by this library, if called, will set all defined properties to their default values before calling userland logic.

[2019-10-08 04:12] Frederick888 commented on #511
I noticed that this issue can only be reproduced when the object is loaded through a reference relation ship. I've put together a much simpler example at https://github.com/Frederick888/mongodb-odm-example

It's built upon a Laravel empty project and the only 4 relevant files are:

| File | Description |
| -- | -- |
| [app/Doctrine/BaseModel.php](https://github.com/Frederick888/mongodb-odm-example

[2019-10-08 07:12] Ocramius commented on #511
Eh, sorry, can't really do much with an example app. The ODM has a test suite though: see https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket for examples

[2019-10-08 07:14] Ocramius commented on #511
Possibly the problem: the default behavior is to initialize all properties to the defaults when an initializer is called. If they stay unset, then it likely means that the ODM did something "manually" that wasn't expected.