[2019-10-08 07:45] Frederick888 commented on #511
Ok, I'll figure out some time to write a test case using the suite. Btw are you able to reproduce this issue on your end right now?

[2019-10-08 07:48] Ocramius commented on #511
Not really - that's why I asked for an isolated test :D

[2019-10-08 13:12] Frederick888 commented on #511
@Ocramius [There you go](https://github.com/Frederick888/mongodb-odm/blob/issue-2080/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH2080Test.php) :)
[code]

[2019-10-08 15:11] Ocramius commented on #511
@Frederick888 can you try your test against https://github.com/doctrine/mongodb-odm/pull/2082 ?

[2019-10-09 01:40] Frederick888 commented on #511
@Ocramius Yup it's working now! Thanks!

[2019-10-09 07:28] Ocramius commented on #511
Closing here then. If relevant, contribute your test to upstream ODM 👍

[2019-10-09 07:28] #511 closed

[2019-10-09 21:43] tdtm commented on #307
@Ocramius: I've encountered the issue (I know, 2019, PHP 5.6 🙄). Would you accept a PR for it?

[2019-10-10 06:50] Ocramius commented on #307
Nope, please upgrade

[2019-11-03 18:09] Ocramius opened #520 "Correct current failures with psalm 3.6.2"
See https://github.com/Ocramius/ProxyManager/pull/513

[code]

[2019-11-04 12:09] Ocramius commented on #520
Discussed directly with @muglug - some of these issues are solved in psalm `master`

[2019-11-05 21:14] Ocramius commented on #520
Handled by #521

[2019-11-05 21:14] #520 closed

[2019-11-07 15:04] lon9man commented on #147
5 years are left.
https://github.com/zendframework/zendframework/issues/6620 - CLOSED
do we have some progress?

[2019-11-07 16:17] Ocramius commented on #147
Not sure what is being asked: this issue is closed, and ProxyManager relies on the latest zend-code release.

If there is a problem, please open a new issue with an example of a bug.

[2019-11-07 16:26] lon9man commented on #147
sadly, but unable to easy migrate to ZF3.
it is as much as possible the latest versions:
[code]
now i have error like this https://github.com/zendframework/zendframework/issues/6620#issuecomment-94470000
do you know any solution to work proxy manager with ZF2?

[2019-11-07 16:33] Ocramius commented on #147
You really need to upgrade your dependencies there, sorry.

[2019-11-16 11:57] vinitchopra12 opened #523 "Getting Syntax Error while updating the Composer"
I am working with the Symfony based project when I install or update the package I am getting the Error as:

Parse error: syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST) in \vendor\ocramius\proxy-manager\src\ProxyManager\Configuration.php on line 29

My Current PHP version is 7.2.24 with Symfony v4 and below are the reference mentioned in my composer.lock file.

[c

[2019-11-16 12:12] Ocramius commented on #523
ProxyManager 2.5.0 requires PHP 7.4 - check where and how you are running `composer update`

[2019-11-16 12:12] #523 closed

[2019-12-04 10:44] olvlvl opened #531 "Proxy file is generated although it already exists"
Hi,

We recently upgraded  to `mongodb-odm` v2 and we're facing an issue with the proxy generation. You see, we generate the hydrators and proxies before building our docker images, and the _cache_ folder is readonly after this point. `ProxyManager\Factory\AbstractBaseFactory::generateProxy()` uses `class_exists()` to determine if a proxy needs to be generated or not, and after this point it seems

[2019-12-04 10:58] Ocramius commented on #531
This is part of the design of this component: https://github.com/Ocramius/ProxyManager/blob/master/docs/tuning-for-production.md#tuning-the-proxymanager-for-production

[2019-12-04 10:58] #531 closed

[2019-12-04 11:00] Ocramius commented on #531
To clarify (in more detail) on what you should do:

 1. add a `classmap` entry pointing to your proxy dir
 2. generate proxies in the system that is assembling the deployment package/container
 3. run `composer dump-autoload -a`

A file existence check in the above factory is to be avoided, since it introduces unnecessary I/O, whereas your autoloader of choice is much more efficient and straightfo

[2019-12-04 11:19] olvlvl commented on #531
Using `classmap` fixed the issue. Thanks.

Now I'm wondering how proxies were autoloaded before?

[2019-12-04 11:33] Ocramius commented on #531
ProxyManager has its own autoloader: https://github.com/Ocramius/ProxyManager/blob/4d7be24018475d2627ab74078e912ca9ef5887d2/src/ProxyManager/Configuration.php#L43

[2019-12-11 11:53] Ludo444 opened #536 "Accessing properties of Serializable proxy"
When accessing a property of a proxy class that implements `Serializable`, the PHP error `Erroneous data format for unserializing 'class'` is thrown.

`PublicScopeSimulator::getTargetObject()` uses `'unserialize(sprintf(\'O:%d:"%s":0:{}\', strlen(get_parent_class($this)), get_parent_class($this)))'` to create class instance and is related to this PHP bug report https://bugs.php.net/bug.php?id=6809

[2019-12-13 08:20] ruudk opened #538 "Tag release to support PHP 7.4"
First of all, thanks for this amazing package and your hard work on this.

We're running PHP 7.4 in production and see this deprecation popping up:
[code]

I know this has been fixed in master so this issue is to ask if there is an ETA on a new tagged release. I expect more people to encounter this issue on PHP 7.4.

For now I will ignore/filter this error message on my side.

[2019-12-13 08:42] Ocramius commented on #538
Hmm, I thought I had already released this: what version are you on?

[2019-12-13 09:14] ruudk commented on #538
I feel so stupid. I still had `config.platform.php = 7.3` in my `composer.json`. Therefore it didn't update from 2.2.3 to 2.5.0. Hope this helps somebody else in the future.

[2019-12-13 09:14] #538 closed

[2019-12-17 09:21] #536 closed

[2019-12-18 22:42] pedro-stanaka opened #539 "BC Break in 2.2.2? - Problem with get_func_args() and method with default parameters"
Hi, thanks for the library in first place and for the work put on it.

I use this library at my company and during one upgrade from 2.2.1 to 2.2.2 I noticed that my tests started failing.

After some investigation I discovered that the problem was that in 2.2.2 it was introduced a change on `\ProxyManager\ProxyGenerator\RemoteObject\MethodGenerator\RemoteObjectMethod` to use `\func_get_args` inste

[2019-12-19 01:20] Ocramius commented on #539
Ouch: I'm indeed aware that there was a BC break because of that, but I did weigh it against the library being completely unusable with variadic arguments otherwise.

See https://github.com/Ocramius/ProxyManager/pull/434

If you have a scenario that no longer works, let's please look at it, and let's get it fixed, if possible.

Also note that `func_get_args()` is a quick & dirty solution: if more

[2019-12-19 01:21] Ocramius commented on #539
To be precise, I'd need a test case. Please look at https://github.com/Ocramius/ProxyManager/tree/master/tests/language-feature-scripts for examples

[2019-12-19 08:48] pedro-stanaka commented on #539
Something like that would do the job (ran it locally): https://github.com/pedro-stanaka/ProxyManager/blob/bug-default-params-remote-object-method/tests/language-feature-scripts/remote-object-json-adapter-passes-default-parameters-correctly.phpt

Just as a context I am maintaining an internal fork of this library: https://github.com/cosminseceleanu/RestClientBundle and using the RemoteObjectFactory

[2019-12-19 09:32] Ocramius commented on #539
If I understand it correctly, if `count(func_get_args()) < count(declared_args())` then we merge something?

[2019-12-19 11:04] pedro-stanaka commented on #539
Yeah, exactly. If the number of declared parameters is greater than what we have on call, we merge default values in.

[2019-12-20 08:10] pedro-stanaka commented on #539
If you give me some kind of input on what is the closest way to the library to solve the problem I am open to submit pull request. Or if I can configure the factory somehow to use another RemoteObjectMethod class implemented on my side, would work for me as well.

[2019-12-20 09:24] Ocramius commented on #539
I think patching it here makes most sense: see https://github.com/Ocramius/ProxyManager/blob/2.5.1/src/ProxyManager/ProxyGenerator/RemoteObject/MethodGenerator/RemoteObjectMethod.php

What is needed is additional tests around methods with default values, methods with variadic arguments and methods called with a dynamic amount of arguments

[2019-12-20 09:30] Ocramius commented on #539
Note: I don't think that other classes need adjustments: only the code generator and added tests

[2020-01-01 17:11] ThomasLandauer opened #545 "`zendframework/zend-code` is abandoned"
Message from composer:

[2020-01-01 17:16] Ocramius commented on #545
See https://github.com/Ocramius/ProxyManager/pull/542#discussion_r362319327

[2020-01-01 17:16] #545 closed

[2020-01-02 13:10] fmonts opened #549 "Package zendframework/zend-code is abandoned, you should avoid using it. Use laminas/laminas-code instead."

[2020-01-02 13:12] Ocramius commented on #549
Already handled in https://github.com/Ocramius/ProxyManager/pull/546

[2020-01-02 13:12] #549 closed

[2020-01-03 20:25] onokje opened #551 "Zend-code abandoned/moved"
Warnings on install:

Package zendframework/zend-code is abandoned, you should avoid using it. Use laminas/laminas-code instead.
Package zendframework/zend-eventmanager is abandoned, you should avoid using it. Use laminas/laminas-eventmanager instead.

Looks like they just moved the repo's.

[2020-01-03 20:26] Ocramius commented on #551
Duplicate of #546

[2020-01-03 20:26] #551 closed

[2020-01-07 07:48] Ocramius commented on #539
Handled in #540

[2020-01-07 07:48] #539 closed

[2020-01-07 08:28] Ocramius commented on #397
Closing here: answered a long time ago.

[2020-01-07 08:28] #397 closed

[2020-01-07 08:29] Ocramius commented on #342
Probably interesting for `roave/you-are-using-it-wrong` too

[2020-01-08 11:57] zorn-v opened #554 "What is a point for req php 7.4 ?"
For ALL versions that does not required it at all. Previously it was 7.3 for some new versions. In some projects I just set `composer config platform.php 7.2.5` coz old ubuntu etc. 7.3 currently on debian buster and ubuntu 19.20 - no problem. But 7.4 is bleeding edge now and I don't want to install it from 3dparty repos or compile it by hands or set `platform.php` on all my projects depends from t

[2020-01-08 12:04] Ocramius commented on #554
7.4 is current stable, and implementing support for it was a lot of effort, requiring custom code to be introduced to support typed properties: that code should not be conditionally enabled nor conditionally tested.

Besides that, there are no excuses not to put your best efforts in keeping your software up to date.

[2020-01-08 12:04] #554 closed

[2020-01-08 12:06] zorn-v commented on #554
Why before some versions require 7.3 and now no one ?

[2020-01-08 12:06] MaryanShvets opened #555 "Package zendframework is abandoned, you should avoid using it. Use laminas"
Hi

Can't install using composer

According https://www.zend.com/blog/what-status-zend-framework-transition-laminas
Package zendframework is abandoned, you should avoid using it. Use laminas

Package zendframework/zend-eventmanager is abandoned, you should avoid using it. Use laminas/laminas-eventmanager instead.

Package zendframework/zend-code is abandoned, you should avoid using it. Use laminas

[2020-01-08 12:07] Ocramius commented on #554
Previous releases did work with 7.3: the new code does not work on 7.3 or lower.

[2020-01-08 12:08] zorn-v commented on #554
Sorry, I get. Your busines is to get "enterprise compatibility". Just change version number in your `package.json` and you get many new orders :smile:

[2020-01-08 12:08] Ocramius commented on #555
`2.6.0` is already updated to use laminas.

[2020-01-08 12:08] #555 closed

[2020-01-08 12:10] Ocramius commented on #554
My total gross revenue from OSS over the last decade has been ~2000€, so I'd say you should stop insinuating things and be thankful for the service being provided thus far, free of charge.

[2020-01-10 09:09] Aerendir opened #556 "`zend-code` and `zend-eventmanager` are abandoned packages: What to do?"
This issue is just to alert that the two packages are now abandoned ❤️

[2020-01-10 09:38] andrew-demb commented on #556
`2.6.0` is already updated to use laminas.

Fixed in #546

[2020-01-10 09:48] #556 closed

[2020-01-10 13:14] vkhramtsov commented on #556
It is possible to update requirements (replace zend with laminas) for old versions? Currently`symfony/proxy-manager-bridge` 4.4.2 (and 5.0.2) still require `ocramius/proxy-manager: ~2.1`  (in version 3.4 `ocramius/proxy-manager: ~0.4|~1.0|~2.0`).
I've created issue in symfony repository too https://github.com/symfony/symfony/issues/35300

[2020-01-10 13:15] Ocramius commented on #556
No: changes in dependencies (any dependencies) in patch releases are not possible.

Besides, there is absolutely no problem in still using `zendframework/*` packages: they won't be un-published, and will stay as they are.

[2020-01-10 13:17] vkhramtsov commented on #556
So new releases for old branches possible? Thank you for answer

[2020-01-10 13:18] Ocramius commented on #556
New releases for old branches are possible, but **NOT** dependency changes. Patch updates must be possible for all consumers, and changing dependencies in a patch release denies that.

[2020-01-10 13:19] vkhramtsov commented on #556
ok

[2020-01-24 21:51] BenMorel opened #559 "Class 'Zend\Code\Generator\ClassGenerator' not found"
Version 2.2.3 of this package relies on `zendframework/zend-code`.
But `laminas/laminas-code` is wrongly [marked as replacing](https://github.com/laminas/laminas-code/blob/8499ce005b4c028af6c9e6145a27b6ea5d3c716b/composer.json#L67-L69) `zendframework/zend-code`.

And this is obviously wrong. Relying on ocramius/proxy-manager now throws:

I just file a bug at https://github.com/laminas/laminas-code

[2020-01-24 21:59] Ocramius commented on #559
I'd say this is an upstream bug: in theory, laminas provides migration by rewriting references just in time, but anyway, the newer release should also replace zf and import laminas instead

[2020-01-24 22:09] BenMorel commented on #559
Thank you. Actually, laminas did it right, and already requires the bridge.

I think this is actually an issue with composer:

https://github.com/laminas/laminas-code/issues/37#issuecomment-578321299

[2020-01-24 22:09] #559 closed

[2020-01-27 08:36] k00ni opened #560 "Is it possible to get a 2.2.x release with Laminas packages?"
Unfortunately, there is no ProxyManager release, which only requires PHP 7.3.x and uses Laminas packages to replace the Zend ones. You directly jumped to ProxyManager 2.5.0 and require PHP 7.4 (previously 7.2). I can't upgrade to 2.5 yet, because PHP 7.3.x runs on my machine, but i would like to get rid of these abandoned infos.

Is it possible to get a 2.x release, which uses Laminas packages, bu

[2020-01-27 08:38] Ocramius commented on #560
Dependency changes in patch releases are out of question, sorry. Nothing wrong with relying on `zendframework/` packages, as they are stable and will not be removed anyway.

[2020-01-27 08:38] #560 closed

[2020-01-27 08:40] Ocramius commented on #560
BTW, I removed all branches before `2.6.x`: those are unmaintained, unless a security issue pops up.

Upgrading to 7.4 is now generally viable.

[2020-01-27 08:41] k00ni commented on #560
Ok, thank you for the clarification.

[2020-01-29 13:19] parktrip opened #561 "Possibility to use laminas with php 7.3.*"
Dear @Ocramius,
at the moment it is not possible to use this package with laminas and php 7.3. Migration to Laminas was made on a version that only supports 7.4.
Will you accept a PR that gives this possibility ? I think 2.2 branch should be used in this case.

regards,

[2020-01-29 13:31] Ocramius commented on #561
Hey @parktrip, this is a duplicate of #560.

[2020-01-29 13:31] #561 closed

[2020-01-29 14:03] parktrip commented on #561
my bad, the worstis that I have read yesterday #560 and didn't understand it was also solving my issue. sorry again. have a nice day

[2020-01-29 14:04] Ocramius commented on #561
No worries, thanks for your understanding :+1:

[2020-02-06 19:30] slash3b commented on #15
quick question @Ocramius — this is still valid and I can dig in ?

[2020-02-06 19:53] Ocramius commented on #15
The type declarations I added mostly fix this

On Thu, Feb 6, 2020, 20:30 Ilya <notifications@github.com> wrote:

[2020-02-18 11:29] mmoreram commented on #559
@Ocramius I think that the issue is still a thing in `php7.3`. Newer versions require `php7.4`

[2020-02-18 11:41] Ocramius commented on #559
The laminas dependencies should work with 7.2+

[2020-02-18 17:05] mmoreram commented on #559
I'm having some troubles with that, precisely, inside a php7.3 docker image. I check and I don't really have that code in my vendors.

[code]

[2020-02-18 17:10] mmoreram commented on #559
Is OK.
I was having some problems related to composer under the image.
Sorry :/

[2020-02-29 17:31] pesseyjulien opened #569 "PHP Fatal error: Uncaught Error: Class 'Zend\Code\Generator\ClassGenerator' not found in /tmp/build_60c2c0696c901bed5e0db479a4213abe/vendor/ocramius/proxy-manager/src/ProxyManager/Generator/ClassGenerator.php:15"
Hi,

I have this error on prod with php7.4 but no error on local with php7.2

Any idea why ?

[2020-02-29 17:33] Ocramius commented on #569
Got a full trace?

[2020-02-29 17:34] pesseyjulien commented on #569
Executing script php bin/console cache:clear [KO]
        [KO]
       Script php bin/console cache:clear returned with error code 255
       !!  PHP Fatal error:  Uncaught Error: Class 'Zend\Code\Generator\ClassGenerator' not found in /tmp/build_60c2c0696c901bed5e0db479a4213abe/vendor/ocramius/proxy-manager/src/ProxyManager/Generator/ClassGenerator.php:15
       !!  Stack trace:
       !!  #0 /tmp

[2020-02-29 17:35] pesseyjulien commented on #569
- Installing ocramius/proxy-manager (2.2.3): Loading from cache

[2020-02-29 17:38] pesseyjulien commented on #569
I had to add "laminas/laminas-zendframework-bridge" : "@stable" in my composer.json, now it works..

[2020-02-29 17:40] Ocramius commented on #569
If reproducible, I would suggest reporting an issue in `laminas/laminas-zendframework-bridge`

[2020-02-29 17:40] #569 closed

[2020-02-29 17:44] pesseyjulien commented on #569
yes, thanks !

[2020-03-14 11:55] #394 closed

[2020-03-18 05:52] sakarikl opened #574 "Typed public property not initialized properly"
example script:

[code]
example output:

[code]

With 2.7.0 and php 7.4.3

php -v
PHP 7.4.3 (cli) (built: Feb 18 2020 11:53:05) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.3, Copyright (c), by Zend Technologies
    with Xdebug v2.9.3, Copyright (c) 2002-2020, by Derick Rethans

[2020-03-18 06:58] sakarikl opened #575 "Setting public property has no effect"
Example code:

[code]

output:

[code]

Expected output:

[code]

[2020-03-18 07:12] sakarikl commented on #575
With 2.7.0 and php 7.4.3

php -v
PHP 7.4.3 (cli) (built: Feb 18 2020 11:53:05) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
with Zend OPcache v7.4.3, Copyright (c), by Zend Technologies
with Xdebug v2.9.3, Copyright (c) 2002-2020, by Derick Rethans

[2020-03-18 08:56] Ocramius commented on #575
The `&$initializer` must be set to null:

[code]

Also, in theory you shouldn't need the `/** @var */` annotations: both IDE and psalm should be able to infer correct types

[2020-03-18 10:18] sakarikl commented on #575
Same results with setting $initializer to null

PHPStorm doesn't understand correct types without @var tags

[2020-03-18 10:26] Ocramius commented on #575
Can you check if the given class name affects this? I see that the string you are providing to the factory has an excessive `"\"` in front of it.

Also: run psalm on your snippet to see if any type issues arise.

Check if https://github.com/Ocramius/ProxyManager/blob/master/.phpstorm.meta.php exists in your `vendor/`

[2020-03-18 10:37] sakarikl commented on #575
Same results still after fixing that.

I have that .phpstorm.meta.php

[2020-03-18 10:50] Ocramius commented on #575
See #576: I can't reproduce your issue there, but please adapt the tests if you see something mismatching.

[2020-03-18 11:26] sakarikl commented on #575
Ok this was my bad. Didn't set initializer properly to null...

[2020-03-18 11:26] #575 closed

[2020-03-18 11:32] Ocramius commented on #575
Yeh, that was mentioned in https://github.com/Ocramius/ProxyManager/issues/575#issuecomment-600500495 :)

Glad it's solved!

[2020-03-18 21:49] Ocramius commented on #574
Heya! Also here, the knitializer seems to not be unset (see #575)

[2020-03-19 04:53] sakarikl commented on #574
In this case it doesn't fix the problem. Had this problem in our production and tried to contain the bug as  a small code fragment.

[2020-03-19 04:54] sakarikl commented on #574
[code]

Here's the updated code, which still fails.

[2020-03-19 05:10] sakarikl commented on #574
It works inside of the class.

[code]

output:

[code]

Or am I doing the initialization somehow wrong way?

[2020-03-19 07:26] sakarikl commented on #574
It does not work even if I put default value for properties in constructor

[code]

[2020-03-19 07:29] sakarikl commented on #574
This works if attributes have default values

[code]

[2020-03-19 07:37] sakarikl commented on #574
Here's a minimal code causing that error

[code]

[2020-03-19 15:45] Ocramius commented on #574
Looks like a regression in PHP 7.4.1: https://3v4l.org/LKOk3

[2020-03-19 15:54] Ocramius commented on #574
Discussed this briefly in Room 11 on StackOverflow: seems like this change was intentional, and an explicit `unset($object->field)` has to happen inside ProxyManager starting from PHP 7.4.1.

What has to be done:

 1. bump minimum PHP requirement to "^7.4.1"
 2. since typed properties can always be `unset()`, `ProxyManagerTest\ProxyGenerator\Util\PropertiesTest#testOnlyPropertiesThatCanBeUnset()`

[2020-03-19 16:00] Ocramius commented on #574
Oh, and we need added tests in the functional tests for pretty much all proxy types...

[2020-03-19 20:36] Ocramius commented on #574
Related: https://bugs.php.net/bug.php?id=78904

[2020-04-06 17:08] sidux opened #584 "Autoload imported annotations classes in proxy when using EvaluatingGeneratorStrategy"
Hi,

Im facing an issue where an annotation in my original class fail to autoload, when using `EvaluatingGeneratorStrategy` i also noticed that all other imports got replaced by FQCN except for the annotation.

Any ideas ?

Thanks

[2020-04-06 17:46] Ocramius commented on #584
Could you clarify? Proxy classes are not supposed to be scanned for annotations, and in fact should have `{@inheritDoc}` on most of their declared API.

[2020-04-07 18:57] Ocramius opened #588 "Replace current test suite with github actions"
The current build status is in a sod state:

 * external tools all have their own versioning scheme
 * very slow builds
 * hooks fire sometimes, other times need to look up build statuses manually

I guess it's really time to move to github actions...

[2020-04-07 19:06] #574 closed

[2020-04-07 19:18] sidux commented on #584
i see thank you, actually it was a custom implementation of `ProxyGeneratorInterface` from an other library that i was dealing with.

[2020-04-07 19:18] #584 closed

[2020-04-17 09:33] fishbone1 commented on #378
This could be caused by an error in older Symfony versions. I don't know if it still exists.

Symfony should invoke PhpDumper to generate appProdProjectContainer.php. However, it checks if there is a cached version before and uses it instead of generating it. If the cached file was generated by an older version of ProxyManager, it doesn't contain the return type yet and therefore PHP crashes.

If

[2020-04-17 09:40] Ocramius commented on #378
ProxyManager is designed to invalidate all pre-existing proxy classes at each differing version of the library:

https://github.com/Ocramius/ProxyManager/blob/ac1dd414fd114cfc0da9930e0ab46063c2f5e62a/src/ProxyManager/Factory/AbstractBaseFactory.php#L65-L74

I think symfony cache should consider a hash of `installed.json` to determine if a cache should be slammed (probably already the case, but not

[2020-04-21 13:26] Shade634 commented on #454
- ocramius/proxy-manager 2.7.1 requires php 7.4.0 -> your PHP version (7.4.2) does not satisfy that requirement.

[2020-04-21 13:33] Ocramius commented on #454
That is correct: you need `ocramius/proxy-manager` `2.8.0`.

[2020-05-01 10:04] dadrych commented on #454
I have the same problem - PHP 7.4.5
`Package ocramius/proxy-manager at version 2.8.0 has a PHP requirement incompatible with your PHP version (7.4)`

[2020-05-01 10:11] andrew-demb commented on #454
@dadrych do you have configured config.platform.php in composer.json?

[2020-05-01 10:14] dadrych commented on #454
@andrew-demb yes, config.platform.php: "7.4"

[2020-05-01 10:16] andrew-demb commented on #454
@dadrych this is the reason. 2.8.0 require php 7.4.1.

[2020-05-10 17:07] niksa88 opened #598 "getWrappedValueHolderValue function problem"
Hi,

I need some help/explation how getWrappedValueHolderValue function work.
I have some weird situation where getWrappedValueHolderValue return NULL instead object.

First example when NULL is returned but after the object function is called and it return object ID

    if ($value instanceof ValueHolderInterface) {
        var_dump($value->getWrappedValueHolderValue()); // return NULL
        va

[2020-05-10 18:43] Ocramius commented on #598
That would depend on how your initializer closure is written.

In any case, accessing the wrapped value should not be needed, and could be avoided.

[2020-05-12 20:38] niksa88 commented on #598
Thanks for the help, it was my mistake. The proxy was not initialized.

[2020-05-12 20:38] #598 closed

[2020-05-13 16:48] Ocramius opened #602 "Replace travis and scrutinizer badges with github build status shield images and sheperd images"
See `README.md`: badges outdated since #601

[2020-05-13 16:49] Ocramius opened #603 "Introduce a build task that runs off a locked dependency set (`composer.lock`)"
See discussion in #601

[2020-05-14 02:53] malukenho opened #605 "Run CI under php nightly version?"
I couldn't make a way to "allow failure" under a PHP `8.0` — as they call the nightly version.

If one of the matrix cases fails, it halts all other parallels CI ran.

[2020-05-14 12:17] Ocramius commented on #605
maybe https://github.community/t5/GitHub-Actions/continue-on-error-allow-failure-UI-indication/td-p/37033?

[2020-06-02 07:24] azarual commented on #454
Hi there every one any help please about this ? thank you in advance
- ocramius/proxy-manager 2.7.1 requires php 7.4.0 -> your PHP version (7.4.7-dev) does not satisfy that requirement.
- Installation request for ocramius/proxy-manager (locked at 2.7.1) -> satisfiable by ocramius/proxy-manager[2.7.1].

[2020-06-02 07:32] Ocramius commented on #454
@azarual you need `ocramius/proxy-manager:^2.8.0`: please read the release notes.

Ref: https://github.com/Ocramius/ProxyManager/releases/tag/2.7.1
Ref: https://github.com/Ocramius/ProxyManager/releases/tag/2.8.0

[2020-07-01 11:15] Ocramius opened #616 "Only run static analysis and CS checks on locked dependencies"

[2020-07-13 18:29] alexander-schranz opened #617 "Incompatibility to ocarmius/package-versions:1.10.0"
Currently at the `IdentifierSuffixer` class does access a not longer existing constant which was internal before of the ocarmius/package-versions library: https://github.com/Ocramius/ProxyManager/blob/2.8.0/src/ProxyManager/Generator/Util/IdentifierSuffixer.php#L50

Related Issue: https://github.com/Ocramius/PackageVersions/issues/147

[2020-07-13 18:30] Ocramius commented on #617
I'll go ahead and write a fix for this right away 👍

[2020-07-13 18:43] Ocramius commented on #617
Temporary fix at #617 - please review, @alexander-schranz :+1:

I'll prepare another patch for `2.9.0`, so that `ocramius/package-versions` is completely phased out.

[2020-07-13 19:21] #617 closed

[2020-07-13 19:27] Ocramius commented on #617
Workaround released @ https://github.com/Ocramius/ProxyManager/releases/tag/2.8.1

Working on #619 to get the dependency completely phased out.

[2020-07-13 20:10] #602 closed

[2020-07-13 20:10] #603 closed

[2020-07-13 20:10] #616 closed

[2020-07-20 16:32] tompuce opened #620 "Fix version for php 7.4.8 ???"
This is the latest stable version of php. Is the next version of proxy-manager will be compatible with php 7.4.8 ? Soon ?
Thanks.

[2020-07-20 16:38] Ocramius commented on #620
`ocramius/proxy-manager:^2.8.1` (and newer) is compatible with PHP 7.4.8:

https://github.com/Ocramius/ProxyManager/blob/371c8f2d9d1e888ce1f8f2137d9187252b07ee94/composer.json#L22

[2020-07-20 16:38] #620 closed

[2020-07-27 09:54] ThibaultVlacich opened #621 "Breaking change as a non major release"
I noticed that you released version 2.9, containing a breaking change requiring Composer 2.0

[code]

1/ Since this is a breaking change, it should have been released as a 3.0, because composer will resolve ^2.0.0 as 2.9.0
2/ Composer 2 is not even fully released, it's in alpha stages

So, please remove the 2.9.0 version and re-release it as 3.0.

[2020-07-27 10:00] Ocramius commented on #621
Upgrading dependencies is not a BC break: none of the API of this package changed, and you will get the correct package version installed when running `composer update` on a system compatible to your production one.

Do not run `composer update` within a bleeding edge dev environment: that has always held true, even since compose `1.0.0-alpha1`

[2020-07-27 10:00] #621 closed

[2020-07-27 10:07] ThibaultVlacich commented on #621
I'm sorry, but requiring Composer 2.0 IS a breaking change, especially considering that Composer 2.0 is NOT RELEASED and is only in alpha stages.

And this as nothing to do with "running composer update". If I create a new project from scratch, I will end up with same issue.

Here's Composer doc:

"none of the releases until 2.0 should break backwards compatibility".
Forcing Composer 2.0 breaks ba

[2020-07-27 10:23] Ocramius commented on #621
None of the API of this package is inherited from `composer/composer`, hence none of the API in here changed, therefore no BC break.

You are getting a SAT solver issue at dependency resolution, which is:

 1. Expected
 2. Good: it helps you figure out which dependencies still need work in order to be compatible with the latest `ocramius/proxy-manager`

I suggest you lock onto `^2.8`, which will g

[2020-07-27 10:26] Ocramius commented on #621
You can read more about why upgrades are not BC breaks at https://github.com/Ocramius/PackageVersions/issues/105#issuecomment-516617164

Contains also references to the semver spec 👍

[2020-08-04 09:47] georgekaf opened #622 "Abandoned packages zend-eventmanager, zend-code"
When running `composer update --lock` a couple of warninngs pop up about abandoned packages.

[code]

[2020-08-04 10:02] Ocramius commented on #622
This package already relies on `laminas/laminas-code` in newer released versions:

https://github.com/Ocramius/ProxyManager/blob/9475248b6521f3029b973c4cd9aad31022bfd793/composer.json#L23

[2020-08-04 10:02] #622 closed

[2020-08-04 10:03] Ocramius commented on #622
BTW, `2.2.2` was released over 3 years ago: please consider upgrading!

[2020-08-14 07:52] r-ant-2468 commented on #454
Is there a reason why this package has to be restrictive to php point releases rather than just major/minor php versions?

[2020-08-14 07:55] Ocramius commented on #454
Yes: I even had to restrict it to `^7.4.1` to fix some issues around typed property lazy loading (and a separate release for `7.4.0` only)

In general, if you rely on older PHP versions, you can use an older version of this package, but I expect you (package consumer) to do your own homework and upgrade to latest and greatest if you want to use the new shiny improvements on this end.

[2020-08-26 16:31] Ocramius opened #625 "Remove `master` branch"
Since we now have release automation, the `master` branch can be deleted.

Before doing so, we need to check the implication of this change.

[2020-09-04 14:29] douglasjam opened #626 "breaking change on 2.9.0 - composer-runtime-api:2.0"
The latest 2.9.0 introduced a dependency on composer-runtime-api:2.0.

Shouldn't this be considered a breaking change? Composer 2 is still in the alpha phase.

I currently use `doctrine/mongodb-odm` and they locked on "ocramius/proxy-manager": "^2.2"

I could fix the proxyManager version in my composer.lock, but this will affect IMO 99% of the users of this library.
Can't this dependency wait for

[2020-09-04 14:34] Ocramius commented on #626
Heya,

Dependency upgrades, if not affecting the API of a package, are not BC breaks.

See also https://github.com/semver/semver/blob/d460299638d3d2af6fcf809285dc6a469e15742a/semver.md#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api

Major versions of dependencies will be bumped as they come up, as long as the API of this package stays unaffected.

`ocramius/proxy-

[2020-09-04 14:34] #626 closed, assigned to Ocramius

[2020-09-04 15:37] douglasjam commented on #626
Indeed, I was used to run install/update with --ignore-platform-reqs parameter from outside my docker (production-like) due to ssh-keys. Now this won't be possible anymore, but it's fine.

Thank you for sharing and explaining the semantic versioning.

[2020-10-17 06:40] f00tapps opened #627 "Module not found issue?"
This module doesn't work with python 3.9 when i installed it but it doesnt work. When i bring up pip list it comes up but it doesnt work for some weird reason

[2020-10-17 10:42] Ocramius commented on #627
This is a PHP library, nothing to do with python nor pip 😅

[2020-10-17 10:42] #627 closed, assigned to Ocramius

[2020-10-22 14:48] jawira commented on #626
After release 2.9.0 my CI pipelines started to fail.

[code]

This change forces me to use composer v2 in Symfony 5.1 projects, but since I also work on Symfony 4 projects I was **forced** to juggle between composer v1 and composer v2 all day long. A nightmare.

To people having this problem, I solved it fixing the version of proxy-manager to v2.8:

[code]

It might not be a breaking change by def

[2020-10-22 14:52] Ocramius commented on #626
That means that you explicitly requested `2.9.1`, probably by doing `composer update` on a system that runs `composer/composer:2.0`.

Seems similar to https://github.com/Ocramius/PackageVersions/issues/105#issuecomment-516617164

Possibly a `composer.lock` hygiene issue - check the link above to see if something is managed incorrectly in your pipeline/project.

[2020-11-08 22:00] greg0ire commented on #605
Setting this to false should do the trick: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast (but will affect the whole matrix)

[2020-11-13 12:30] nicolas-grekas opened #630 "I am willing to help maintain older branches of this package"
The versioning policy of this package creates a lot of friction with other OSS projects.

The option to "pay for maintenance" that is advertised in the readme doesn't work for the other OSS maintainers: we do spend too much time over our weekends working around this policy. But we can "pay you" with our time.

One reason for the policy that I understand is that you don't have the resources to main

[2020-11-13 13:34] mpalourdio commented on #630
Not trying to be rude, but why making things work with nearly dead PHP versions or soon deprecated libraries should be done by Symfony OSS maintainers over their weekend ? If this library is such centric for the Symfony ecosystem, Symfony could support paid work on this library for backward compatibility to suit its own dependencies constraints.

That's why companies pay for RedHat support, and ge

[2020-11-13 14:14] asgrim commented on #630
@nicolas-grekas FWIW, I really appreciate this as a much better and more cooperative way of reaching out for discussion, kudos :+1: so much better!

[2020-11-13 15:08] stof commented on #588
@Ocramius I guess the title of this issue is wrong (gitlab vs github)
And this should be considered fixed by #601

[2020-11-13 17:13] bwoebi commented on #630
It is a bit sad that the new holy war of the PHP ecosystem is now system version requirements.

I _do_ agree that in an ideal world, we are always everywhere on the newest version.

In reality there are various constraints, be it being required to be on a LTS version, having business requirements not leaving time to work on upgrades for a longer while, using some software which is actually outdate

[2020-11-13 17:27] nicolas-grekas commented on #630
Just to clarify this (but please don't make this the topic of this issue), I created the org a few months ago and @Ocramius was aware of its existence; he commented on a PR I then created and didn't raise any issue about the name at the time. It was [a funny tribute](https://twitter.com/nicolasgrekas/status/1327249300263493633) to me, nothing more. But yes, I get that intentions and receptions are

[2020-11-13 18:52] malukenho commented on #588
Thank you for noticing!

[2020-11-13 18:53] #588 closed

[2020-11-17 08:58] greg0ire opened #632 "Notice: Only variable references should be returned by reference"
**Description**
I'm getting the notice in the title. The code that causes it looks like this:

[code]

**How to reproduce**

I don't know how to reproduce the generation of this piece of code yet, but reproducing the notice is easy enough:

https://3v4l.org/dE26T

I suspect it is related to this service definition (which looks quite simple):

[code]

**Possible solution**

Do it in 2 steps: https:

[2020-11-17 09:06] Ocramius commented on #632
@greg0ire I suggest dumping the DIC and looking at subclasses of `AMQPStreamConnection` there: the generated code will be there.

[2020-11-17 09:08] greg0ire commented on #632
There is a link with the generated code that Github didn't highlight because I failed to prefix it with `https://`, fixed now.

UPD: I also added a link to the relevant lines in this lib. This is [4 year old code](https://github.com/Ocramius/ProxyManager/commit/ef9bd449df7f944ea5e0dfa2506ec6e1b89f18cf) apparently, I'm not quite sure why I didn't experience that issue before :sweat_smile:

[2020-11-17 09:15] Ocramius commented on #632
Hmm, this happens when trying to access a property that is not defined/accessible on the class.

The code being executed is supposed to simulate what happens in such scenario, for example by raising notices/warnings/errors like PHP core would.

What is happening here is probably that some property access in `/var/www/vendor/php-amqplib/php-amqplib/PhpAmqpLib/Connection/AbstractConnection.php:643,`

[2020-11-17 09:30] greg0ire commented on #632
The property being accessed here seems to be `last_frame`: https://github.com/php-amqplib/php-amqplib/blob/a18b083726a8311222e19d71aa0ec12acff7bfec/PhpAmqpLib/Connection/AbstractConnection.php#L250

It's protected, but in the same class so it should be accessible :thinking:

[2020-11-17 09:41] greg0ire commented on #632
Also, in https://3v4l.org/dE26T , `bar` is accessible, yet we get a notice.

[2020-11-17 09:46] Ocramius commented on #632
I wonder if this is not caught because of `phpt` runner defaults: we have tests for this stuff, for example in https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/tests/language-feature-scripts/lazy-loading-value-holder-denies-protected-property-read.phpt

Perhaps we need to set an `ini_set('error_reporting', E_ALL)` missing there, hence why we didn't notice it?

[2020-11-17 10:08] greg0ire commented on #632
I don't get a notice when running `vendor/bin/phpunit tests/language-feature-scripts/lazy-loading-value-holder-denies-protected-property-read.phpt` and I'm using `-1` as a value for `error_reporting`… is this the right test though? It seems to be about denying a read, when in our case, it should be granted.

[2020-11-17 10:45] Ocramius commented on #632
There are tests for public property access in the integration test suite:

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/tests/ProxyManagerTest/Functional/LazyLoadingValueHolderFunctionalTest.php#L151-L165

[2020-11-17 11:08] greg0ire commented on #632
I have no notice for that one either:

[code]

I do have one when executing the code from 3v4l locally.

[2020-11-17 11:11] Ocramius commented on #632
Mean that the code path is not hit at all: will need to run tests with code coverage on top of generated proxies :thinking:

[2020-11-17 11:12] Ocramius commented on #632
I wonder if this is due to `AMQPStreamConnection` not having correct reflection information: is that an extension, or a library class?

[2020-11-17 11:29] greg0ire commented on #632
I believe it's from https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Connection/AMQPStreamConnection.php , but I see we also have the `amqp` extension enabled :grimacing: but given the stack trace I think the issue would be with the lib?

[2020-11-17 11:30] greg0ire commented on #632
The extension has no stub for this class: https://github.com/php-amqp/php-amqp/tree/master/stubs so I think that settles it.

[2020-11-17 11:40] Ocramius commented on #632
@greg0ire so if I see this correctly:

 * there is no reflection information for these `AMQPStreamConnection` (in the upstream extension)
 * due to that, we observe no property map generation in proxies that inherit from `AMQPStreamConnection`
 * once a property access on a proxy of type `AMQPStreamConnection` is performed, since no property definitions exist, the executed code path reaches the pr

[2020-11-17 12:56] greg0ire commented on #632
I'm not sure the extension has anything to do with this. From the README of https://github.com/php-amqplib/php-amqplib

I'm not even sure why we have the `amqp` extension enabled on that server, it might be a remnant from a time where we did not use that library.

I think the library and the extension have different APIs that do not interact at all with each other.

[2020-11-19 16:25] cyr-il opened #633 "Issue when trying to push my repo on Heroku"
Hi,
I'm trying to push my repo using Heroku CLI and i get this issue:
Your requirements could not be resolved to an installable set of packages.

         Problem 1
- Installation request for ocramius/proxy-manager 2.10.0 -> satisfiable by ocramius/proxy-manager[2.10.0].
- ocramius/proxy-manager 2.10.0 requires composer-runtime-api ^2.0.0 -> no matching package found.
         Problem 2
- ocramius

[2020-11-19 17:45] Ocramius commented on #633
@cyr-il yeah, heroku does not yet support composer v2. See https://twitter.com/dzuelke/status/1327386646434770947

For now, I endorse doing a `composer update` with `composer:^1` locally.

[2020-11-19 19:32] cyr-il commented on #633
@Ocramius Thanks for your help !! i'll do that

[2020-11-19 19:32] #633 closed, assigned to cyr-il

[2020-11-22 17:59] niceguyblue opened #634 "Deprecated: Function ReflectionType::__toString() is deprecated in C:\xampp\htdocs\pimcoredev\vendor\ocramius\proxy-manager\src\ProxyManager\Generator\Util\ProxiedMethodReturnExpression.php on line 19"
I getting this error in php 7.4.12

Suggested fix :

if (!is_null($originalMethod->getReturnType()) && 'void' ===  $originalMethod->getReturnType()->getName()) {
            return $returnedValueExpression . ";\nreturn;";
        }

[2020-11-22 18:09] Ocramius commented on #634
What version of ProxyManager are you running? This should already have been fixed when PHP 7.4 compatibility was introduced last year, IIRC

[2020-12-02 12:19] Ocramius commented on #634
Closing: this is indeed a duplicate of https://github.com/Ocramius/ProxyManager/issues/538#issue-537410218

[2020-12-02 12:19] #634 closed, assigned to niceguyblue

[2020-12-02 14:02] Ocramius commented on #401
This will be feasible with the new `static` type in PHP 8

[2020-12-07 16:53] greg0ire commented on #632
I reproduced the issue locally; if I disable the `amqp` extension, I keep getting that issue, so it's probably unrelated to that extension.

[2020-12-07 17:21] Ocramius commented on #632
Is it somehow reproducible in isolation?

[2020-12-07 17:39] greg0ire commented on #632
I will work on a reproducer 👍

[2020-12-07 18:28] greg0ire commented on #632
Reproduced :tada:

[code]

I started a project from scratch and didn't have to do much to reproduce the issue (see the second commit in my repository), so I think it's a bit weird I'm the only one reporting this…

[2020-12-08 09:23] Ocramius commented on #632
@greg0ire could you commit `var/cache` from your environment? You know exactly what I'm gonna say about cloning a project... :-P

[2020-12-08 09:52] greg0ire commented on #632
Something about NixOS etc.? Done :)

Here is an accessor that should crash: https://github.com/greg0ire/ocramius-proxy-manager-reproducer-632/blob/48da78a815dbe105734f5d85faa82e1dcf36274d/var/cache/dev/Container3vGn1b7/AMQPStreamConnection_99651dd.php#L320-L322 (there is another one below)

[2020-12-08 10:10] Ocramius commented on #632
The crash should be on `__set()` though, right?

https://github.com/greg0ire/ocramius-proxy-manager-reproducer-632/blob/48da78a815dbe105734f5d85faa82e1dcf36274d/var/cache/dev/Container3vGn1b7/AMQPStreamConnection_99651dd.php#L349-L351

[2020-12-08 10:14] greg0ire commented on #632
Indeed, my bad (but that code shouldn't be generated in `__get` either I suppose).

Also, the 2 `return` statements here look a bit weird too: https://github.com/greg0ire/ocramius-proxy-manager-reproducer-632/blob/48da78a815dbe105734f5d85faa82e1dcf36274d/var/cache/dev/Container3vGn1b7/AMQPStreamConnection_99651dd.php#L344-L345 :sweat_smile:

[2020-12-08 10:16] Ocramius commented on #632
That code is supposed to be in `__get` to simulate a notice/fatal on property access

yeah, the codegen is really just string concatenation, so I never really bothered to clean those up (generated code is full of them)

[2020-12-09 15:45] petr-buchin opened #635 "Allow PHP 8"
Hi!

Could you please allow PHP 8.0 in `composer.json` ?

[2020-12-09 15:49] Ocramius commented on #635
Can't, since it's not tested with it yet, and it crashes when encountering new PHP 8.0 types.

This is being worked on, but it is not as simple as extending the allowed version range.

[2020-12-09 15:49] #635 closed, assigned to Ocramius

[2020-12-09 16:09] greg0ire commented on #632
In case that helps, I added [a framework-independent reproducer script](https://github.com/greg0ire/ocramius-proxy-manager-reproducer-632/blob/main/kaboom.php)

[2020-12-09 17:30] petr-buchin commented on #635
Thanks, can't wait to use the new version!

[2020-12-10 22:25] nicolas-grekas commented on #630
I guess I should go with option 1.?

[2020-12-16 11:41] nicolas-grekas commented on #630
Hi @Ocramius,

I may be wrong, but I'm interpreting your silence as a way of telling me that you don't want to have a branch with another policy than the one you decided to use here. That's totally fine to me of course. Tell me if I made a mistake btw.

Based on this interpretation, I plan to create and maintain a fork of this repo under the [FriendsOfPHP](https://github.com/FriendsOfPHP) organiza

[2020-12-20 16:06] Ocramius commented on #625
I've checked, and `dev-master` is no longer really in use, as per https://packagist.org/packages/ocramius/proxy-manager/stats#dev-master, therefore removing.

[2020-12-20 16:06] #625 closed, assigned to Ocramius

[2020-12-20 16:11] Ocramius commented on #15
I think this can be closed as "won't fix", since psalm takes care of the validation just fine :)

[2020-12-20 16:11] #15 closed

[2020-12-20 16:15] Ocramius commented on #25
Closing as "won't fix" here - this looked like a good idea at first, but in practice, `protected` methods should not exist at all from a "proxied API" PoV, and instead only exist in an object's `private` API (post-initialization, and not really supposed to be intercepted at all, since it's not a call from the outside).

Note that since even much older versions of `ocramius/proxy-manager`, it is po

[2020-12-20 16:15] #25 closed

[2020-12-20 16:16] Ocramius commented on #66
Closing: not really relevant here, as creating a new dependency would just complicate things in the release workflow.

[2020-12-20 16:16] #66 closed

[2020-12-20 16:19] Ocramius commented on #223
Closing here: the `object` that is provided will indeed be reflected `1:1` from the outside, and there is no real downside to that, for now. It may be a good idea to type-jail things at a later point in time, but this is already done correctly by @lstrojny in https://github.com/InterNations/type-jail

[2020-12-20 16:19] #223 closed

[2020-12-20 16:21] Ocramius commented on #235
Closing here: dependencies were updated a long time ago, so we should be fine here.

Will need new bug reports in upstream, should this pop up again.

[2020-12-20 16:21] #235 closed

[2020-12-20 16:23] Ocramius commented on #242
Let's close this: proxy definitions are quite static, so I don't think we need to have a formal "definition object".

The current factories have a relatively straightforward API to create proxies, and kinda work with everything (and include type-checks too).

Ref: https://github.com/Ocramius/ProxyManager/tree/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/src/ProxyManager/Factory

[2020-12-20 16:23] #242 closed

[2020-12-20 16:24] Ocramius commented on #257
HHVM support is not going to happen, since HHVM diverged a lot from PHP anyway.

Closing here.

[2020-12-20 16:24] #257 closed

[2020-12-20 16:25] Ocramius commented on #269
Overall, I think that rather than supporting this, we should probably just analyze code and warn the end-user about `func_get_args()` usage

[2020-12-20 16:28] Ocramius commented on #311
Looking back at this, I think this is "caching" that should be handled entirely by the application that is controlling ProxyManager.

In practice, this means that a `__call` should be intercepted.

In the test suite:

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/tests/ProxyManagerTest/Functional/RemoteObjectFunctionalTest.php#L135-L150

This means that the

[2020-12-20 16:28] #311 closed

[2020-12-20 16:30] Ocramius commented on #334
While this is still somewhat relevant, we now have detailed type signatures for initializers passed to proxy factories. For example:

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/src/ProxyManager/Factory/LazyLoadingGhostFactory.php#L78-L84

Such signatures already provide decent type-checking to the end-user.

[2020-12-20 16:31] Ocramius commented on #338
This is to be closed once PHP 8 support is enforced, since PHP 8 finally got rid of PHP4 constructors (see same 3v4l link as before: https://3v4l.org/mtlBg)

[2020-12-20 16:33] Ocramius commented on #342
Closing here: overall not an issue with this library, but rather consumer code.

Wish there was a "do not serialize" flag in the language, because adding `roave/dont` as a dependency is a bit too much.

[2020-12-20 16:33] #342 closed

[2020-12-20 16:33] Ocramius commented on #346
This will need careful checking with PHP 8 support

[2020-12-20 16:38] Ocramius commented on #347
As per:

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/src/ProxyManager/Factory/LazyLoadingValueHolderFactory.php#L33-L40

`ocramius/proxy-manager` supports implementing value holder proxies when the wrapped value is an instance of the provided interface.

In `symfony/proxy-manager-bridge`, this is done by providing a "proxified class" in the definition:

h

[2020-12-20 16:38] #347 closed

[2020-12-20 16:39] Ocramius commented on #354
This is now deprecated as per PHP 8.0, so we may close this after some testing.

https://3v4l.org/jjaeO

[2020-12-20 16:42] Ocramius commented on #369
Closing here: this is a duplicates #162 - the solution is indeed to try using `BetterReflection`, but I need a way to inject a reflector in the whole library.

[2020-12-20 16:42] #369 closed

[2020-12-20 16:47] Ocramius commented on #370
The API of the various factories is now properly typed:

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/src/ProxyManager/Factory/LazyLoadingGhostFactory.php#L78-L84

While allowing `callable` is a good idea, it is still a BC break due to these factories not being `final` classes (which was my mistake).

I'd still change this for `3.0`

[2020-12-20 16:52] Ocramius commented on #374
Going back at this, I think we should **not** implement this: dynamic properties are a problem in the language per-se.

Documentation seems to be the correct way - sorry for the confusion 3 years ago :|

[2020-12-20 16:56] Ocramius commented on #377
Closing here: sticking to initial proposed solution

A ghost object will only call its initializer if private state is accessed.

In fact, this is being discussed in

 * https://github.com/symfony/symfony/issues/35345#issuecomment-576365888
 * https://github.com/symfony/symfony/issues/35345#issuecomment-576367311
 * https://github.com/symfony/symfony/issues/35345#issuecomment-748486601

[2020-12-20 16:56] #377 closed

[2020-12-20 16:57] Ocramius commented on #380
Note: the initializers are now interfaced correctly, although through psalm annotations.

https://github.com/Ocramius/ProxyManager/blob/f65ae0f9dcbdd9d6ad3abb721a9e09c3d7d868a4/src/ProxyManager/Factory/LazyLoadingGhostFactory.php#L78-L84

[2020-12-20 16:57] #380 closed

[2020-12-20 17:43] Ocramius commented on #630
TL;DR: (for the people that mostly upvoted/liked the convos above)

 * I've written a more formal [policy](https://github.com/Ocramius/.github/blob/6d4561515513f6d59fb144d838971d4a7715e3e4/version-support.md#dependency-upgrades) on dependency upgrades and why I do them
 * I've written a ["why I do OSS"](https://github.com/Ocramius/.github/blob/6d4561515513f6d59fb144d838971d4a7715e3e4/why-i-do-open

[2020-12-20 17:43] #630 closed, assigned to Ocramius

[2020-12-21 12:06] tobotomas opened #644 "Syntax error"
Hi I have error:
`syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST)
in /home/www/tre.cz/www/kalendar-api.tre.cz/vendor/ocramius/proxy-manager/src/ProxyManager/Configuration.php (line 30)`

In my composer.json I have
`"require": {
        "php": ">=7.2.5",
        "doctrine/doctrine-bundle": "^2.1",
        "doctrine/doctrine-fixtures-bundle": "^3.4",
        "doctrin

[2020-12-21 12:07] Ocramius commented on #644
Are you sure about the `ocramius/proxy-manager` version?

Try `composer list --installed` and check the exact versions: fairly sure you are running something newer than you should.

[2020-12-21 14:00] tobotomas commented on #644
There I can see

`ocramius/proxy-manager               2.2.3 `

but this should be ok with php 7.3 right?

[2020-12-21 14:12] Ocramius commented on #644
Yes, should be alright:

https://github.com/Ocramius/ProxyManager/blob/4d154742e31c35137d5374c998e8f86b54db2e2f/composer.json#L22

Do the contents of your `Configuration.php` match https://github.com/Ocramius/ProxyManager/blob/4d154742e31c35137d5374c998e8f86b54db2e2f/src/ProxyManager/Configuration.php ?

Sounds like something went sideways during installation...

[2020-12-21 19:25] tobotomas commented on #644
Thanks, it is weird. When I replace full code in file it is working. Problem is since Github set new PHP 8.0.0 and I had to set php version in pipeline. When I compare this two files there is no difference.

[2020-12-21 22:59] nicolas-grekas commented on #370
Allowing any callable might be a security issue because it would turn any class with a destructor into a potential RCE injection point, via crafted payloads for `unserialize()`.

[2020-12-24 13:56] Ocramius commented on #644
Two things to check:

 1. Your CLI and PHP-FPM versions may be differing
 2. Check that installation is respecting your committed `composer.lock`

[2020-12-27 16:18] nicolas-grekas commented on #630
Thank you for your answer @Ocramius.

I understand that this is a sensitive topic for you. You put a lot of effort into building this package and I totally get why this discussion is stressful for you.

I apologize that some of my actions made you feel bad. I’m certainly not happy about that and it was never my intention. The interactions we have on this topic, either on Twitter or on Github, caus

[2020-12-29 07:42] nrtszr opened #650 "PHP 8 install Problem"
i use xampp php 8 localhost

i write it comand line

`composer create-project symfony/symfony full`

Creating a "symfony/symfony" project at "./full"
Installing symfony/symfony (v5.2.1)
  - Downloading symfony/symfony (v5.2.1)
  - Installing symfony/symfony (v5.2.1): Extracting archive
Created project in D:\xampp\htdocs\symfony\full
Loading composer repositories with package information
Updating d

[2020-12-29 09:20] Ocramius commented on #650
This library does not yet support PHP 8: you can install it at your own risk with the `--ignore-platform-req=php` flag

[2020-12-29 09:42] #650 closed, assigned to Ocramius

[2020-12-30 12:59] Ocramius opened #653 "In a dockerized environment, `FileWriterGeneratorStrategyTest#testGenerateWillFailIfTmpFileCannotBeWrittenToDisk()` fails"
To reproduce:

[code]

[code]

The error is:

[code]

Perhaps the test is a bit weak: @michalbundyra do you know how to harden this test?

https://github.com/Ocramius/ProxyManager/blob/934d54ce99c7c95a84df19e8d5720024b93956bf/tests/ProxyManagerTest/GeneratorStrategy/FileWriterGeneratorStrategyTest.php#L44-L59
https://github.com/Ocramius/ProxyManager/blob/934d54ce99c7c95a84df19e8d5720024b93956bf/te

[2020-12-30 12:59] Ocramius commented on #653
Note: I just noticed this because I no longer run PHP 7.x on my systems.

[2020-12-30 14:31] Ocramius commented on #632
Handled via #652

[2020-12-30 14:31] #632 closed, assigned to Ocramius

[2020-12-30 15:06] greg0ire commented on #632
Thanks! You guys rock!

[2020-12-30 16:05] Ocramius commented on #354
Verified locally: this shall not be supported, and if you are hitting it, you must fix your method signatures before opening a new issue.

[2020-12-30 16:05] #354 closed

[2020-12-30 16:20] Ocramius commented on #401
No time to get it in `2.11.0`, hence moving it to `2.12.0`

[2020-12-30 16:22] Ocramius commented on #338
No time to get it in `2.11.0`, hence moving it to `2.12.0`

[2020-12-30 16:37] #605 closed

[2020-12-30 16:44] Ocramius opened #659 "Remove PHP 7.x support"

[2021-01-07 08:54] gnutix commented on #538
I get this on `2.2.3` as I'm still running PHP 7.2. :(

[2021-01-07 08:59] Ocramius commented on #538
`2.2.3` should be alright on `7.2`: are you 100% sure about all versions you deploy against? Otherwise, can you provide a reproducer/failing test on PHP 7.2?

[2021-01-07 15:00] gnutix commented on #538
The deprecation happens when I run PhpStan through their https://hub.docker.com/r/phpstan/phpstan Docker image, which is on PHP 7.4 ! Any idea what I could do about it, except having my own Docker image for PhpStan based on PHP 7.2 ?

[2021-02-05 13:33] Ocramius opened #665 "Fix build pipeline according to `vimeo/psalm@master#343d02040838d5e1e9e9c67de45a014c81a085cd`"
Ref: https://github.com/vimeo/psalm/commit/0b2c62de507ee54b3efee0f8010a7f04f03214a2#r46788265

https://app.circleci.com/pipelines/github/vimeo/psalm/4904/workflows/36a924ea-c336-4c80-bf37-362f06c4a613/jobs/21395

[code]

After that, revert https://github.com/vimeo/psalm/commit/0b2c62de507ee54b3efee0f8010a7f04f03214a2#r46788265

[2021-02-05 14:12] orklah commented on #665
You may also want to revert https://github.com/vimeo/psalm/commit/ae172b2c04f4f2341e09b68a5391baefbccfc905

[2021-03-03 09:59] ioncode opened #672 "In InvalidProxyDirectoryException.php line 19: Provided directory "C:\Users\AFC2~1\AppData\Local\Temp" does not exist"
https://stackoverflow.com/questions/65765223/doctrine-in-invalidproxydirectoryexception-php-line-18

In InvalidProxyDirectoryException.php line 19:

  Provided directory "C:\Users\AFC2~1\AppData\Local\Temp" does not exist

problem on windows with nonEnglish username

[2021-03-03 10:03] Ocramius commented on #672
I'd report this to upstream PHP: `realpath()` should probably work fine here, yet it isn't.

[2021-04-06 17:32] petr-buchin opened #682 "Cannot use non-nullable properties with AccessInterceptorScopeLocalizer"
For now it's impossible to create proxies for objects that have non-nullable properties, even if that properties are being set in constructor.

Example:

[code]

This code generates an exception:

[code]

Is this an expected behavior?

[2021-04-06 17:36] Ocramius commented on #682
Yes, that is expected, since proxymanager needs a default value to exist
for these properties.

On Tue, Apr 6, 2021, 19:33 Petr Buchin ***@***.***> wrote:

[2021-04-06 17:41] petr-buchin commented on #682
@Ocramius as far as I see, this behavior can be fixed, if method `Properties::onlyNonReferenceableProperties()` will use constructor method reflection to see, what arguments does constructor have.

This way it can be sure that this properties will be initialized at the time of referencing them.

Do I understand that right?

If so, I could create a PR to address this issue.

[2021-04-06 18:07] Ocramius commented on #682
ProxyManager cannot arbitrarily assign a value to those properties, and
they cannot be unset, unless a default value can be assigned by the tool.

Hence you need to modify your ctor to be `__construct(private ?A $a =
null)`, or declare the property explicitly, like we did pre-php-8.0.

Note that PHP 8.0 constructor signatures are automatically promoted to
property declarations: inspecting the cons

[2021-04-06 18:14] petr-buchin commented on #682
@Ocramius I tried declaring property explicitly and having standard constructor with assigning this property a value, but that did not help

[2021-04-06 18:17] Ocramius commented on #682
Sorry, I wasn't clear enough: the property must be nullable **and** have a
default value of `null` declared:

[code]

On Tue, Apr 6, 2021, 20:14 Petr Buchin ***@***.***> wrote:

[2021-04-06 18:18] petr-buchin commented on #682
@Ocramius oh, that's too bad to declare all properties as nullable :(

But anyway, thank you very much for your help!

[2021-04-06 18:18] #682 closed, assigned to nobody

[2021-04-06 18:20] Ocramius commented on #682
Yeah, it's a limitation that has been in place since PHP 7.4.

Note that decorator proxies still operate well with that.

On Tue, Apr 6, 2021, 20:18 Petr Buchin ***@***.***> wrote:

[2021-04-06 18:32] petr-buchyn commented on #682
@Ocramius unfortunately I need to use this kind of proxies, because I need to intercept method calls on $this, and they are not intercepted by value holder proxy.

What do you think about creating a proxy type that will be similar to scope localizer, but will use Closure::call() to access properties instead of direct references?

It probably would be slower, but it will have it’s use cases.

I wou

[2021-04-06 18:39] Ocramius commented on #682
I'm not aware of a way to make property access transparent, without
unsetting properties: if you have an idea/prototype on how to re-implement
this kind of proxy, feel free to propose a prototype, but please do test it
against the integration tests 😅

On Tue, Apr 6, 2021, 20:33 petr-buchyn ***@***.***> wrote:

[2021-04-07 15:22] petr-buchin opened #683 "Allowing non-nullable properties for AccessInterceptorScopeLocalizer"
This is a follow up on https://github.com/Ocramius/ProxyManager/issues/682.

After doing some research, I realized that enabling AccessInterceptorScopeLocalizer to work with non-nullable properties is pretty straightforward.

For now checking for non-accessible properties looks like follows in class `Properties`:

[code]

To fix this behavior and allow non-nullable properties on objects being prox

[2021-04-07 15:27] Ocramius commented on #683
@petr-buchin `Properties` is a build-time construct, therefore `use ($realObject)` cannot work there in first place.

A runtime reflection call at instantiation, if needed, needs to be baked into the generated code.

[2021-04-07 15:39] petr-buchin commented on #683
@Ocramius thanks for quick answer.

Probably this logic may be baked into the generated code, if needed.

But what do you think about the proposed solution?

If you agree with the solution itself, I could try to implement it.

[2021-04-07 15:47] Ocramius commented on #683
Adding a runtime object to the `Properties` signature is a no-go, as explained: that's a build-time component of the `\Generator\` sub-namespace, and should not be used at runtime.

Adding code to the generated named constructors is feasible, but we need an extensive integration test verifying that it works as expected.

[2021-04-07 16:27] petr-buchin commented on #683
@Ocramius thanks, I'll try to implement it along with tests and create a PR

[2021-04-07 16:29] Ocramius commented on #683
@petr-buchin please do start from integration test and build a PoC starting from there, even if quick & dirty.

Do not start from the sources, but really do start from the test suite, by adding a class that looks like what you are trying to proxy, and making it work from there (even by having other tests failing, as a start).

[2021-04-07 16:31] petr-buchin commented on #683
@Ocramius no problems, I'll go with TDD here, thanks!

[2021-04-13 07:51] webmozart commented on #369
Currently having the same issue. @Ocramius I read your comment as `BetterSolution` *would* be the solution, but it's not working in combination with the proxy manager yet? Or can you give me short instructions on how to achieve this?

[2021-04-13 08:07] Ocramius commented on #369
Development of this feature has not been continued, for now.

See https://github.com/Ocramius/ProxyManager/pull/243

On Tue, Apr 13, 2021, 09:51 Bernhard Schussek ***@***.***>
wrote:

[2021-05-25 11:26] Ocramius opened #702 "Bump to a minimum of `composer-runtime-api:^2.1` as soon as it is available, drop `composer/composer:<2.0.14` conflict"
See https://github.com/Ocramius/ProxyManager/pull/700

Mostly cleanup work.

[2021-05-25 11:54] Ocramius opened #703 "Drop `CHANGELOG.md`, since `laminas/automatic-releases` already publishes per-release tag data from milestone text"

[2021-05-26 11:39] 4d4ch4u32 opened #704 "Compatibility to composer broken?"
I have a Symfony 3.4 project and I have updated it with `composer update`. The update was not successfull. Error message:

[code]

There is a file `vendor/composer/InstalledVersions.php` in my project which is called from `\ProxyManager\Generator\Util\IdentifierSuffixer::loadBaseHashSalt` - in this method, there is a wrong method called (`getAllRawData()` instead of `getRawData()`). After manual f

[2021-05-26 11:46] Ocramius commented on #704
Heyo, indeed you need o upgrade to `composer/composer:2.0.14` or newer: https://github.com/Ocramius/ProxyManager/blob/6046a5730a8d329d7f3d9c5239bc1c806512a854/composer.json#L28

See also https://github.com/Ocramius/ProxyManager/pull/700#issuecomment-847843483

[2021-05-26 11:46] #704 closed, assigned to Ocramius

[2021-05-27 08:11] Venorcis commented on #704
@Ocramius I have the same error on composer 2.0.8 in a Docker container. Could you perhaps revert the latest commit in master, keeping the check of getAllRawData vs. getRawData intact?

[2021-06-03 14:19] Ocramius opened #706 "PHPUnit XSD should point at local reference under `vendor/`, and not at `https://schema.phpunit.de/`"

[2021-06-04 10:16] alberto-leon-crespo opened #707 "Crush when use composer 2.0.8"
When i try to use library with composer v2.0.8 get next error:

[code]

Problem is ProxyManager\Generator\Util\IdentifierSuffixer call to GetRawAllData() in loadBaseHashSalt() method.

[code]

If u open Composer\InstalledVersions and find by this function name, getAllRawData() doesn't exits. To solve this problem for composer > 2.0 only need change getAllRawData() for getRawData()

I think best so

[2021-06-04 10:22] Ocramius commented on #707
Duplicate of #704

See also https://github.com/Ocramius/ProxyManager/pull/700#issuecomment-847843483

Please do upgrade to `composer/composer:2.0.14` or newer ASAP, as there is a **high severity** vulnerability affecting `composer/composer:<2.0.13` ( https://github.com/advisories/GHSA-h5h8-pc6h-jvvx )

[2021-06-04 10:22] #707 closed, assigned to Ocramius

[2021-06-09 09:25] Seldaek commented on #702
2.1 is available now btw :)

[2021-06-09 09:27] Ocramius commented on #702
Excellent: on it :-)

[2021-06-09 10:16] #702 closed, assigned to Ocramius

[2021-06-17 09:27] anarbekb opened #710 "getAllRawData not found in InstalledVersions"
Hello

I get error in CI/CD
`
In IdentifierSuffixer.php line 51:
Call to undefined method Composer\InstalledVersions::getAllRawData()
`

versions:
php - 7.4
ocramius/proxy-manager - 2.12.0
composer - 2.0.8

In InstalledVersions version 2.0.8 I didn't find a method getAllRawData

Can you help me please?

[2021-06-17 09:39] Ocramius commented on #710
Hey there,

You should upgrade to latest composer

On Thu, Jun 17, 2021, 11:27 Anarbek Balmukanov ***@***.***>
wrote:

[2021-06-17 10:05] anarbekb commented on #710
I can't update all my services at once to the latest composer, is there another way to fix the problem?

[2021-06-17 10:11] Ocramius commented on #710
The alternative is locking to ocramius/proxy-manager to 2.11.1.

Due to an upstream BC break, the code was changed to use
composer/composer:^2.1, but it didn't go as planned, since the conflict
clause with old composer releases isn't working.

On Thu, Jun 17, 2021, 12:05 Anarbek Balmukanov ***@***.***>
wrote:

[2021-06-18 07:32] gamusta commented on #451
**composer install** command fixed the problem for me

[2021-06-18 16:47] Ocramius commented on #710
Closing here: an upgrade to latest version is the safest approach, but workarounds have been provided.

[2021-06-18 16:47] #710 closed, assigned to Ocramius

[2021-06-24 18:59] roxblnfk commented on #164
Hello.
Is there a known way to lazy load each field separately?
I need to load each field individually when accessing it.

[2021-06-24 19:13] Ocramius commented on #164
@roxblnfk

 * the initialiers are called when you attempt to access an un-initialized field
 * the initializer is called with the name of the field being accessed (see the result of `func_get_args()` in an initializer, or also https://github.com/Ocramius/ProxyManager/blob/21e2b4aa7d7661e7641cc6362fc8635ddcfa8464/src/ProxyManager/Factory/LazyLoadingGhostFactory.php#L78-L84

With this information, y

[2021-07-13 21:58] #338 closed

[2021-07-13 21:58] #659 closed, assigned to Ocramius

[2021-07-13 21:58] #706 closed, assigned to nobody

[2021-07-14 15:23] rela589n opened #712 "Undefined class constant 'VERSIONS'"
Package version: 2.2.3

There's incompatibility with ocramius/package-versions:1.11

Undefined class constant 'VERSIONS' in /var/www/vendor/ocramius/proxy-manager/src/ProxyManager/Generator/Util/IdentifierSuffixer.php on line 48

I saw #617 , however this AFAIK this bugfix goes only into version 2.8. Probably it should be fixed for previous minor versions as well.

[2021-07-14 15:34] Ocramius commented on #712
Heyo,

`2.8.x` is really old, and `2.9.0` already fixes the problem overall.

Pinning to an older `ocramius/package-versions` is a better solution, if you are stuck.

Old `ocramius/proxy-manager` versions only get fixes if there's a security issue: https://github.com/Ocramius/.github/blob/6d4561515513f6d59fb144d838971d4a7715e3e4/version-support.md#support-policy

[2021-07-14 15:34] #712 closed, assigned to Ocramius

[2021-08-02 18:20] vjik opened #713 "Bug in psalm annotation or in readme"
[Here](https://github.com/Ocramius/ProxyManager/blob/b19ebfd0d849857cfdface555e00ea2ba2109185/src/ProxyManager/Factory/LazyLoadingValueHolderFactory.php#L37) returned boolean value:

[code]

In [readme](https://github.com/Ocramius/ProxyManager/blob/2.14.x/README.md#proxy-example) `$initializer` doesn't return anything:

[code]

[2021-08-02 18:39] Ocramius commented on #713
@vjik indeed, can we adjust the readme?

[2021-08-02 18:41] vjik commented on #713
In [docs](https://github.com/Ocramius/ProxyManager/blob/2.14.x/docs/lazy-loading-value-holder.md#usage-examples) in example returned true.

[2021-08-02 18:44] Ocramius commented on #713
Yes, I mean, can you send a patch for https://github.com/Ocramius/ProxyManager/tree/b19ebfd0d849857cfdface555e00ea2ba2109185#proxy-example ? :D

[2021-08-03 07:07] vjik commented on #713
I don't know how to right :(
Need with return or need w/o return.

[2021-08-03 07:26] Ocramius commented on #713
The correct notation is **with** return

On Tue, 3 Aug 2021, 09:07 Sergei Predvoditelev, ***@***.***>
wrote:

[2021-08-03 07:59] vjik commented on #713
https://github.com/Ocramius/ProxyManager/pull/714

[2021-08-03 09:10] #713 closed, assigned to Ocramius

[2021-08-05 10:21] joshlopes opened #715 "Could not check compatibility between `Laminas\ClassGenerator` and `Zend\ClassGenerator`"
Hello everyone, having this issue and is confusing me and haven't any luck on fixing it.

When trying to upgrade

Does anyone faced the same or knows what is wrong?

I've looked in this issue list and most of people say to use composer v2 we are using composer:v2.1.3 so not quite sure what could be causing this issue.

[2021-08-05 10:24] Ocramius commented on #715
This could be an inadvertently introduced BC break due to stricter API signatures: will check 👍

[2021-08-05 10:45] joshlopes commented on #715
@Ocramius dependabot is also trying to update laminas library, but I think if I manually update this by hand without laminas update it works fine.

![8adca224-2c1f-4c91-9ff1-b9b7565c55f9](https://user-images.githubusercontent.com/3440849/128337542-10df22f7-58b6-4750-940f-b4922fbcde08.png)

This is what dependabot is doing. Guess some sort of incompatibility with laminas `4.4.2` ?

[2021-08-05 23:51] Ocramius commented on #715
Wait, is this during PHP preloading operations, or runtime?

On Thu, 5 Aug 2021, 12:45 Luis Lopes, ***@***.***> wrote:

[2021-08-06 11:20] Ocramius commented on #715
Ah, I see the problem:

 * `laminas/laminas-code` no longer requires `laminas/laminas-zendframework-bridge` since `4.4.0`
 * `symfony/symfony` declares that it `ocramius/proxy-manager`, but does **not** declare that it also needs `zendframework/zend-code`
 * `laminas/laminas-zendframework-bridge` made it so that component requiring `Zend\` stuff, also worked with `Laminas\` stuff

Therefore, the a

[2021-08-06 11:20] #715 closed, assigned to Ocramius

[2021-08-06 19:35] Jeckerson opened #716 "PHP 8.1 support"
Hello. We are using this package in Zephir and currently we are trying to see if Zephir C code is compatible with PHP 8.1-beta.2.

By using `composer update` occur next error:
![image](https://user-images.githubusercontent.com/3289702/128562752-3b93884b-3291-4dea-9546-6982fafc058f.png)

[2021-08-07 11:42] Ocramius commented on #716
Heyo,

I will start working on PHP 8.1 support **after** the first RC land (sometime in September).

[2021-08-07 11:42] #716 closed, assigned to Ocramius

[2021-09-09 12:28] dkarlovi commented on #559
Getting this error when using via Symfony's ProxyBridge 4.4:

[code]

Seems they should either conflict with the newer versions of ProxyManager, fix the signature (it's in an `@internal` class) or require the ZF / Laminas bridge?

[2021-09-09 12:33] Ocramius commented on #559
Hey @dkarlovi - Symfony core has marked my comment as "disruptive", because frankly any cooperation has completely failed there, but this problem is known and discussed at https://github.com/symfony/symfony/issues/41742#issuecomment-863896509

Ref: https://github.com/laminas/laminas-code/issues/89#issuecomment-864161193
Ref: https://github.com/symfony/symfony/issues/41742#issuecomment-863896509

[2021-09-09 12:34] dkarlovi commented on #559
Alright, will read through those, requiring `laminas/laminas-zendframework-bridge` yourself seems to fix the issue for any Google passers by in the meantime.

[2021-10-11 16:05] nicolas-grekas commented on #370
With PHP 8.1 providing a new syntax to [turn any callable into a closure](https://wiki.php.net/rfc/first_class_callable_syntax), this might be closed as "won't fix".

[2021-10-11 16:26] Ocramius commented on #370
Closing indeed: `Closure` is good enough, and it can be expanded to `callable` in future, if needed.

[2021-12-01 09:45] blankse commented on #716
Still no PHP 8.1 support?

[2021-12-01 11:01] Ocramius commented on #716
Correct, still some upstream dependencies required: https://github.com/laminas/laminas-code/milestone/19

[2021-12-02 12:29] ilya-levin-lokalise commented on #162
Hi guys, first of all `null is pretty much always the default` this is not true.
Second of all, it's better to specify this behavior somewhere on the front page of the README with red text, because in fact, this library doesn't fully support proxying of internal classes. Moreover, it created **buggy** proxies.
Simple example: I wanted to proxy `Redis` built-in class. Everything works well until I

[2021-12-02 12:36] Ocramius commented on #162
Sorry, but unless you have practical advice on how to resolve the issue, this is not constructive feedback.

Patches welcome, but I can't do much about internal symbols reflection being incomplete, because that's just how the engine behaves for types not defined in userland.

[2021-12-02 12:39] Ocramius commented on #162
For your specific Redis issues, check the related issues here:

 * https://github.com/symfony/symfony/issues/23066
 * https://github.com/BedrockStreaming/RedisMock/issues/46
 * https://github.com/Ocramius/ProxyManager/issues/461
 * https://github.com/snc/SncRedisBundle/issues/442

Specifically, from that last issue:

[2021-12-02 12:54] ilya-levin-lokalise commented on #162
Putting a disclaimer that library have edge-cases in README **is** a constructive feedback

[2021-12-02 13:03] alekitto commented on #162
Trying to be constructive through a proposal: what about loading class definitions for these edge-cases from a stub file? Could it be viable?

[2021-12-02 13:04] Ocramius commented on #162
Please re-read your comment, then, and perhaps ask someone to analyze it for you, so you can understand why it is not an acceptable human interaction:

 * with strangers you don't know personally
 * that provide you with a free service
 * that put lots of effort in it
 * that operate very seriously, with a long and regular track record
 * that, even after your inconstructive feedback, took the tim

[2021-12-02 13:07] Ocramius commented on #162
@alekitto yes, see:

 * https://github.com/Ocramius/ProxyManager/issues/162#issuecomment-168055437
 * https://github.com/Ocramius/ProxyManager/issues/49

Beware that any mis-alignment between stubs and actual runtime symbols can still lead to problems.

Using something like `BetterReflection` is viable, but requires major rework of internals.

[2021-12-02 13:12] azjezz commented on #162
I think the best approach would be to use a combination of time, current directory/filename, and a pseudo random id.

[code]

[2021-12-02 13:13] nicolas-grekas commented on #162
There's only one sensible way fix to the issue with `Redis` or similar: send a patch to https://github.com/phpredis/phpredis/ It's an actively maintained lib. Asking OSS authors to write and maintain piles of code that are just workarounds is a waste of their time. Even if one doesn't know C, one can patch the definitions in the source code by using copy/paste and imitation. Please consider sendin

[2021-12-02 13:15] cmb69 commented on #162
It seems that issue has [already been resolved](https://github.com/phpredis/phpredis/commit/7009fa02caaad97fc353fb11aab2d6c0c1995661). Proper reflection should be available as of 5.3.5RC1 in combination with PHP 8.

[2021-12-02 13:30] Ocramius commented on #162
Depends on whether this can still occur in the engine at all 🤔

[2021-12-02 13:44] nicolas-grekas commented on #162
I think yes, having reflection out of sync from actual declaration is still possible, but it's now way easier to have them in sync AFAIK.
Maybe @nikic has some more info on the topic?

[2021-12-02 13:45] cmb69 commented on #162
Yes, it [still can happen](https://3v4l.org/BenkS). In some cases, a default cannot be specified (in this case because the parameter has no default; in other cases because the function may be overloaded like `array_keys`), and of course in some cases, because an extension has not yet been updated. Wrt. to the core and bundled extensions, there are [only "few" such cases](https://heap.space/search?

[2021-12-02 13:47] Ocramius commented on #162
Yeah, problem is potentially still with `ext-*` stuff, including proprietary software. For proprietary stuff, there is a hard stop in such cases, because there would be no stubs either.

[2021-12-02 15:36] Venorcis opened #719 "PHP 8.1 support"
"ocramius/proxy-manager 2.13.0 requires php ~7.4.1 || ~8.0.0 -> your php version (8.1.0) does not satisfy that requirement."

[2021-12-02 15:41] Ocramius commented on #719
Duplicate of #716

[2021-12-02 15:41] #719 closed, assigned to Ocramius

[2021-12-02 15:43] Venorcis commented on #719
that issue is already closed though, maybe good to keep it open so it's visible?

[2021-12-02 15:45] Ocramius commented on #719
Not really: support work still needs to start, and I know I have to do it.

Mostly involves tons of added tests and edge case scenarios around `never` and similar, for which I still need to formulate the actual tasks.

The upstream `laminas/laminas-code` work needs to be completed first anyway.

[2021-12-03 21:36] nicolas-grekas commented on #162
Idea (likely a bad one): use a variadic argument in place of this UNKNOWN default?

[2021-12-03 22:00] azjezz commented on #162
actually that's a pretty good one, using

[code]

for

[code]

could work, people get auto-completion based on the original class, so the signature of the proxy doesn't matter.

https://3v4l.org/u0V0a

[2021-12-04 01:21] Ocramius commented on #162
Overall potentially feasible, need to build some trickery for point-cut proxies, where the parameters are passed to interceptor callables (and keys may be missing), but it is likely feasible 🤔

[2021-12-07 05:23] Ocramius opened #721 "Add PHP 8.1 to CI pipeline"
See https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/.github/workflows/phpunit.yml#L19-L20 (and similar files in the same directory)

We need to run everything also against PHP 8.1

[2021-12-07 05:25] Ocramius opened #722 "Verify support of `readonly` properties"
`readonly` properties must be verified.

Taking `ClassWithMixedReferenceableTypedProperties`:

https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/tests/ProxyManagerTestAsset/ClassWithMixedReferenceableTypedProperties.php#L1-L16

We need to add a `ClassWithReadOnlyProperties`, and integrate it in every test that uses `ClassWithMixedReferenceableTypedProperties`

[2021-12-07 05:26] Ocramius opened #723 "Upgrade CI pipeline to fit in a single file"
Similar to https://github.com/Roave/BackwardCompatibilityCheck/pull/352, we need to move all pipeline runs in a single workflow, so that we can call it "green" with a single check.

[2021-12-07 05:27] Ocramius opened #724 "Integrate dependabot upgrades for PHP and GitHub Actions, including auto-merge"
See https://github.com/Roave/BackwardCompatibilityCheck/pull/320

We need a similar setup.

Depends on #723

[2021-12-07 05:29] Ocramius opened #725 "Add `mixed` type to verified type checks"
We need to add the `mixed` type to `ClassWithMixedReferenceableTypedProperties`.

Specifically, nullability checks around `mixed` are a bit interesting (because `mixed|null` doesn't really exist for PHP).

Potentially just some additions to https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/tests/ProxyManagerTestAsset/ClassWithMixedReferenceableTypedProperties.p

[2021-12-07 05:30] Ocramius opened #726 "Add simple check verifying that proxying an `enum` type fails"
We expect our system to throw an exception, when somebody attempts to generate a proxy for an `enum` ( https://wiki.php.net/rfc/enumerations )

[2021-12-07 05:35] Ocramius opened #727 "Add scenario for generating proxies for union types in class properties"
Similar to #725 and #722, we need to expand our test assets with a class that contains union types for

 * methods
 * properties
 * parameters

For that, we should create a new class alike `ClassWithMixedReferenceableTypedProperties`:

https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/tests/ProxyManagerTestAsset/ClassWithMixedReferenceableTypedProperties.php#L1

[2021-12-07 05:39] Ocramius opened #728 "Add scenario for generating proxies for intersection types in class properties/parameters/methods"
Similar to #727, we need to expand our testing into intersection types.

Luckily, intersection types do not currently support nullability ( https://wiki.php.net/rfc/pure-intersection-types ), and only operate with object-alike types, which should make the integration (hopefully) straightforward.

For this, we probably need to add intersection types in new classes replicating:

 * [`ClassWithPhp80T

[2021-12-07 05:44] Ocramius opened #729 "Verify code generation for the new `never` type"
The test suite includes scenarios that handle the `: void` return type of methods:

 * https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/tests/ProxyManagerTestAsset/VoidCounter.php#L7-L17
 * https://github.com/Ocramius/ProxyManager/blob/95f9ccf6711b91736ce6da261c24252b84a290c7/tests/ProxyManagerTestAsset/VoidMethodTypeHintedClass.php
 * https://github.com/Ocram

[2021-12-07 07:45] Ocramius commented on #729
Note: this may be an absolute beast to handle, because we need to get rid of most generated `return;` statements from proxies.

[2021-12-08 04:24] #703 closed, assigned to nobody

[2022-01-16 09:34] ostrolucky opened #733 "Consider replacing Prefix/suffix interceptor approach with middleware approach"
Current approach of splitting interception to 2 callbacks turned out to be quite limiting. There are some use cases that really requires to wrap the whole call into callable, so that they can measure the time it took for the function to execute. In SncRedisBundle I did manage to workaround this limitation by using references https://github.com/snc/SncRedisBundle/blob/546e4d47f5307b20ed58683bd54eab

[2022-01-16 12:33] Ocramius commented on #733
If you are okay with the responsibility of forwarding all parameters yourself, then `earlyReturn` allows for exactly this kind of design.

That's how you would achieve an "around" call.

[2022-01-16 12:38] ostrolucky commented on #733
Yep, that's what I did now in https://github.com/snc/SncRedisBundle/pull/645/files#diff-feae5e09fe9b8b0c27dc9409163109aeb8f4a7510774e20240dad704a80c367dR241. But this is still non-obvious and strange API design. Why not using middleware-first approach? Is split needed for some use cases?

[2022-01-16 12:47] Ocramius commented on #733
It was mostly done to simplify the design in a first implementation: probably outdated thinking by now (more than a decade has passed, and middleware were not as popular in PHP yet), but given that the results can be achieved with very minimal effort, I don't think a full redesign+BC break is required here.

Yes, usage of by-ref for this is potentially confusing, and could perhaps require better t

[2022-01-16 12:49] ostrolucky commented on #733
Alright, thanks for answering. Then I think we don't need this issue open anymore.

[2022-01-16 12:49] #733 closed, assigned to nobody

[2022-02-25 18:55] bobvandevijver opened #737 "Promoted readonly properties are not respected"
When using a promoted readonly only property in a class, this library will generate code that tries to change the readonly property and therefor breaking execution. Consider the following class (all have been stripped to only show the constructor):

[code]

[code]

will generate the following proxy:

[code]

and thus throw `Cannot unset readonly property App\Service\AbstractCacheableService::$feat

[2022-02-25 19:02] Ocramius commented on #737
Be aware that this library is not compatible with PHP 8.1.0: there's still lots to be done to include 8.1.0 within the supported version range.

[2022-02-25 19:04] Ocramius commented on #737
In fact, 8.1.0 is explicitly excluded: https://github.com/Ocramius/ProxyManager/blob/21e2b4aa7d7661e7641cc6362fc8635ddcfa8464/composer.json#L22

[2022-02-25 19:07] bobvandevijver commented on #737
In fact, I'm using https://github.com/FriendsOfPHP/proxy-manager-lts which allows everything above 7.1.

https://github.com/FriendsOfPHP/proxy-manager-lts/blob/72294147d32a227ffadf1abd2f712da128e36a52/composer.json#L29

They state that issues should be opened here, but I will cross post one there that references this issue.

[2022-02-25 19:09] Ocramius commented on #737
That project is literally "how to step on @Ocramius' face without any respect", so I really don't care about what they do

[2022-02-25 19:18] Ocramius commented on #737
@bobvandevijver to be clear, the issue you reported is very clear and very much in need of research (which I will do, once I have time - mostly focused on `roave/better-reflection` for PHP 8.1, so I'm "recovering" from that 🤣).

My previous comments is just a rant about the fact that these forks are generally irresponsible towards end users, so it makes me extremely angry (to the point that I skip

[2022-02-25 19:25] bobvandevijver commented on #737
@Ocramius Luckily I understood :) I am sincerely sorry to hear you feel this way, unfortunately not something I can directly influence as the fork is being forced by default by the Symfony framework in order to use lazy services, which is how I ended up here. I almost regret mentioning it as it clearly triggered you 😶

Anyways, I do hope you will find some time in the near future to bring full PHP

[2022-03-21 12:06] IonBazan opened #754 "Setting property default value to enum points to invalid namespace"
When generating a proxy where a default value is enum using PHP 8.1 (yes, I know...), the default value is missing leading slash, pointing to non-existent class.
[code]

[code]

Generated proxy:
[code]
This is caused by `var_export` which implies root namespace, while generated proxy is its own namespace:
https://github.com/Ocramius/ProxyManager/blob/8846623bea8749ded206db3ce701e4e508d516db/src/Pr

[2022-03-21 12:17] Ocramius commented on #754
I think the reflection API does not give you default values for `object` types here.

The fact that a property can be an `enum` by default, without going through property initializers, seems like a hole in the RFC 🤔

I suggest raising a language bug.

[2022-03-21 12:20] Ocramius commented on #754
Hmm, no, the reflection API works as expected: https://3v4l.org/jBhDg

[2022-03-21 12:24] Ocramius commented on #754
The fact that `var_export()` operates this way makes it non-fixable here, because any constant expression composing over multiple constants would result in a problem.

For example:

[code]

I suggest proposing that the `var_export()` behaviour is to be fixed in php-src directly (for enums), so that it always refers to a FQCN, rather than a relative symbol.

[2022-03-21 12:32] Ocramius commented on #754
Reported @ https://github.com/php/php-src/issues/8232

[2022-03-21 14:27] Ocramius commented on #754
Proposed upstream patch @ https://github.com/php/php-src/pull/8233 - ~~please review that, when you can :)~~  EDIT: you already did, thanks!

[2022-03-25 16:13] IonBazan commented on #754
![image](https://user-images.githubusercontent.com/1985514/160159159-75dbf90e-352f-43a3-bd8d-316d0adac1d3.png)

[2022-04-01 15:09] tigran-m-dev commented on #716
@Ocramius still no PHP 8.1 support. Any estimation on this?

[2022-04-01 16:06] Ocramius commented on #716
No estimation: haven't had time to work on it, and the coming weeks don't look much better either.

I've done the work to get `laminas/laminas-code` updated (and released), and worked on some bugs related to PHP 8.1 (notably #754), but there is still a lot in the milestone to call PHP 8.1 "supported": https://github.com/Ocramius/ProxyManager/milestone/56

[2022-04-19 14:32] Ocramius commented on #754
Gonna be fixed in PHP 8.2: https://externals.io/message/117466#117532

Ref: https://github.com/php/php-src/issues/8232
Ref: https://github.com/php/php-src/pull/8233
Ref: https://github.com/php/doc-en/pull/1472

[2022-04-19 15:21] IonBazan commented on #754
Sweet! @Ocramius

[2022-04-26 17:55] nicolas-grekas commented on #754
Enums don't work as defaults yet, but neither do objects as defaults.

The way to support both is to use the string representation of ReflectionPropery|ReflectionParameter since https://github.com/php/php-src/pull/7540

Unfortunately the recent change on var_export might not help... :sweat_smile:

[2022-04-26 18:04] Ocramius commented on #754
Some partial support for this will come with PHP 8.2, as per:

 * https://github.com/php/php-src/issues/8232
 * https://github.com/php/php-src/pull/8233 (merged to `master`, which is going to be `8.2.0`)

[2022-04-27 23:02] nicolas-grekas commented on #754
FYI I'm making some experiments on https://github.com/FriendsOfPHP/proxy-manager-lts/pull/17 to fix this issue and also add support for "new in initializers". I'll contribute back here if you think the approach I'm going to end up with would work for you.

[2022-04-28 20:37] nicolas-grekas commented on #754
Issue fixed on FriendsOfPHP/proxy-manager-lts, submitted here as https://github.com/Ocramius/ProxyManager/pull/755

[2022-05-03 08:47] nicolas-grekas commented on #346
Fixed by #756

[2022-05-03 17:18] nicolas-grekas commented on #737
FYI I'm working on this at https://github.com/FriendsOfPHP/proxy-manager-lts/pull/22

[2022-05-06 13:32] arjenm opened #759 "AccessInterceptorValueHolder which proxies a parent __get triggers E_USER_NOTICE"
When you generate a AccessInterceptorValueHolder proxy, a `E_USER_NOTICE` is always triggered when a property is not defined on the class, even if the that class has a `__get`-method.

This is caused by the `getPublicAccessSimulationCode` call here:
https://github.com/Ocramius/ProxyManager/blob/dbcdf2c925c774d3521107174672665a2f0f7255/src/ProxyManager/ProxyGenerator/AccessInterceptorValueHolder/Me

[2022-05-14 12:27] mrsuh opened #760 "Error with static return type"
Hi!
I didn't find issues with my problem and decide to ask you about error with `: static` return type.

### How to reproduce
[code]

[code]

[code]

### Output
[code]

Any ideas how to avoid this error?

[2022-05-14 12:36] Ocramius commented on #760
A couple things:

 1. your `HeavyComplexObject` (I know it's taken from the examples) should return only itself, when using the `static` signature: decoration of methods returning `: static` has always been problematic because of that, and is not really fixable here:
    * declaring `HeavyComplexObject` in the proxy return type of `doFoo()` would break the type signature (compile error)
    * retu

[2022-05-14 12:50] mrsuh commented on #760
Thank you for detailed answer!
Example works with `LazyLoadingGhostFactory`.
Maybe It will help for https://github.com/symfony/symfony/issues/46350

[2022-05-14 12:50] #760 closed, assigned to nobody

[2022-05-14 12:56] Ocramius commented on #760
@mrsuh switching proxy type is feasible within the `symfony/dependency-injection` system, but is going to be a blood-bath to implement :-)

That would certainly be my recommendation though: I designed ghost objects much after I've designed the initial value-holder design, which got adopted by `laminas/laminas-servicemanager`, `php-di/php-di` and `symfony/dependency-injection`.

Now the path would

[2022-06-13 08:48] nmeri17 commented on #77
This is exactly what I need right now. I want to control invocation of the parent method. If I do that on the concrete instance on the pre hook of value holder factory, changes within the hook to the instance don't propagate to the proxy. If I use the proxy instead, or replace value holder with scope localizer factory, the terminal where I'm running the tests crashes every single time. I've never

[2022-06-13 09:06] Ocramius commented on #77
@nmeri17 let's please turn this discussion into a new issue, with code examples, please :D

Sounds like a bug :D

[2022-06-13 09:56] nmeri17 opened #762 "Directly invoking proxy within pre hook crashes terminal"
I have a high-level function that allows consumers run arbitrary functions before target methods.
[code]
One of such arbitrary functionality involves a handler that does something similar to the following
[code]
All other handlers work correctly, except this one with the line `$target->failedOperation($method);`. When I was using `AccessInterceptorValueHolderFactory`, `safeCall` received parent/or

[2022-06-13 09:57] nmeri17 commented on #77
Done https://github.com/Ocramius/ProxyManager/issues/762. Thanks for your prompt response BTW

[2022-06-13 13:17] nmeri17 commented on #762
I can confirm that terminal crashing was of my own making. It's unfortunate that neither the library nor php was able to detect max call stack and shutdown gracefully like it does with fatal errors

I faintly recall reading a warning not to invoke proxy within the handler, but I don't remember where. That turned out to be the reason behind the recursion crashing terminal. I call the returned proxy

[2022-06-13 13:17] #762 closed, assigned to nmeri17

[2022-06-13 13:18] Ocramius commented on #762
AFAIK, only XDebug does that.

[2022-08-10 12:25] nicolas-grekas commented on #162
Another idea: set `null` as default value and forward the call with `parent::doStuff(...func_get_args())`.

[2022-08-11 12:31] nicolas-grekas commented on #472
This issue can be fixed by duplicating the logic that ghost objects use: unset all properties on the virtual proxy and forward all access to them to the target object.

[2022-10-31 12:41] renovate[bot] opened #770 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Ocramius/ProxyManager).

## PR Edited (Blocked)

The following updates have been manually edited so Renovate will no longer make changes. To discard

[2022-11-28 09:28] mikemberg commented on #716
still no PHP 8.1 support... is PHP 8.0 working?

[2022-11-28 10:48] Ocramius commented on #716
8.0 works

[2022-11-28 23:17] belene opened #775 "Use of mutation testing in ProxyManager - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool  in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently bee

[2022-11-29 07:39] Ocramius commented on #775
@belene please don't spam us. We already did the effort of improving these projects: you can do the rest by reading them.

[2022-11-29 07:39] #775 closed, assigned to nobody